.title {
   margin-bottom: var(--spacing-xs);
}

.verse {
   margin-bottom: var(--spacing-m);
}

.loader {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: var(--spacing-m) auto;
}

.error {
   margin: var(--spacing-m) auto;
}
