.mainWrapper {
   width: 100%;
}

.title {
   padding: var(--spacing-xxs);
}

.tagsWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
   overflow-x: scroll;
}

.tag {
   flex-shrink: 0;
   flex-grow: 0;
   margin-left: var(--spacing-xs);
}

.tag:first-of-type {
   margin-left: 0;
}
