.mainWrapper,
.mainWrapperCustomWidth {
   width: 100%;
   padding: var(--spacing-xs) var(--spacing-xxs);
   border-radius: 2em;
   box-shadow: var(--shadow-s);
   background-color: var(--secondary-color);
}

.mainWrapper:hover {
   box-shadow: none;
   cursor: pointer;
   /* transform: scale(0.96);
   transition: transform 300ms; */
}

.mainWrapperCustomWidth {
   width: 100%;
}

.header {
   width: 100%;
   margin-bottom: var(--spacing-xs);
}

.image {
   position: relative;
   width: 100%;
   border-radius: 1em;
   height: 25.1rem;
   margin-bottom: var(--spacing-xs);
   background-color: white;
   overflow: hidden;
}

.imageIcon {
   height: 3rem;
   width: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   margin: 0 0 0 auto;
   right: 0;
   top: 0;
   border-bottom-left-radius: 1em;
}

.image img {
   object-fit: cover;
   object-position: center;
}

.noImage img {
   object-fit: contain;
}

.reference {
   color: var(--font-color);
   margin-bottom: var(--spacing-xs);
}

.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 var(--spacing-xs);
}
