.mainWrapper,
.mainWrapperCustomWidth {
   width: 20rem;
   padding: var(--spacing-xs) var(--spacing-xxs);
   border-radius: 2em;
   box-shadow: var(--shadow-s);
}

.mainWrapperCustomWidth {
   width: 100%;
}

.header {
   width: 100%;
   margin-bottom: var(--spacing-xs);
}

.image {
   position: relative;
   width: 100%;
   border-radius: 1em;
   height: 10.1rem;
   margin-bottom: var(--spacing-xs);
   background-color: #ffffff60;
   overflow: hidden;
}
.image img {
   object-fit: cover;
   object-position: center;
}

.reference {
   margin-bottom: var(--spacing-xs);
}

.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
