.mainWrapper {
   width: 100%;
   background-color: var(--secondary-color);
   border-radius: 2em;
   padding: var(--spacing-s);
   box-shadow: var(--shadow-s);
}

.mainWrapper:hover {
   cursor: pointer;
   box-shadow: none;
   /*transform: scale(0.98);
   transition: transform 300ms ease; */
}

.header {
   margin-bottom: var(--spacing-xs);
}

.title h3 {
   margin-bottom: var(--spacing-xs);
   max-height: 3rem;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

.timeStamp {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
