.mainWrapper {
   width: 100%;
   padding: var(--spacing-xs) var(--spacing-xxs);
   border-radius: 2em;
   background-color: var(--secondary-color);
   box-shadow: var(--shadow-s);
}

.mainWrapper:hover {
   box-shadow: none;
   transform: scale(0.96);
   transition: transform 300ms;
}

.header {
   width: 100%;
   margin-bottom: var(--spacing-xs);
}

.image {
   position: relative;
   width: 100%;
   border-radius: 1em;
   height: 10.1rem;
   margin-bottom: var(--spacing-xs);
   background-color: #ffffff60;
   overflow: hidden;
}

.image img {
   object-fit: cover;
   object-position: center;
}

.titleDesc {
   margin-bottom: var(--spacing-xs);
}

.titleDesc h3 {
   margin-bottom: var(--spacing-xs);
   max-height: 3rem;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

.titleDesc p {
   max-height: 3rem;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
