.mainWrapper {
   width: 90%;
   position: relative;
   margin: calc(var(--medium-spacing-mobile) + 5rem) auto 0;
}

.title {
   font-size: var(--secondary-font-mobile);
   font-size: 2rem;
   width: 100%;
   text-align: center;
}

.reputationWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 10rem;
   height: 12rem;
   margin: var(--medium-spacing-mobile) auto;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.avatar {
   width: 9rem;
   height: 11rem;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.content {
   font: var(--primary-font-mobile);
   line-height: 2em;
}

.noContent {
   text-align: center;
}

.sendIcon,
.editStoryIcon {
   margin: var(--small-spacing-mobile) auto;
   width: 3rem;
   height: 3rem;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url("/images/icons/edit.png");
}

.sendIcon {
   background-image: url("/images/icons/send.png");
}

.editStoryIcon {
   width: 1.5rem;
   height: 1.5rem;
   position: fixed;
   top: var(--xlarge-spacing-mobile);
   right: var(--medium-spacing-mobile);
}

.editStoryIcon:hover,
.goBackIcon:hover {
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.498);
   cursor: pointer;
   transform: scale(1.1);
   transition: 300ms;
}

.goBackIcon {
   display: block;
   height: 2rem;
   width: 2rem;
   background-size: 30%;
   background-position: center;
   border-radius: 50%;
   border: 1px solid var(--font-color);
   background-image: url("/images/icons/back.png");
   background-repeat: no-repeat;
}

.requestStory {
   width: 100%;
   max-width: 18rem;
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      max-width: 800px;
      margin: calc(var(--large-spacing-desktop) + 5rem) auto 0;
   }

   .title {
      font-size: 2.5rem;
   }

   .reputationWrapper {
      width: 11rem;
      height: 13rem;
      margin: var(--medium-spacing-desktop) auto;
   }

   .avatar {
      width: 10rem;
      height: 12rem;
   }

   .content {
      font: var(--primary-font-desktop);
      line-height: 2em;
   }

   .editStoryIcon {
      width: 2rem;
      height: 2rem;
      top: var(--xlarge-spacing-desktop);
      right: var(--medium-spacing-desktop);
   }
}
