.mainWrapper {
   width: 100%;
   margin-bottom: var(--spacing-l);
}

.logoWrapper {
   position: fixed;
   margin: auto;
   top: 10vw;
   bottom: auto;
   left: 0;
   right: 0;
}

.graphics {
   background-image: url("/images/logo.png");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   width: 15rem;
   height: 15rem;
   margin: 0 auto var(--spacing-l);
}

.title {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 90%;
   margin: 0 auto var(--spacing-ml);
}

.desc {
   width: 90%;
   max-width: 40rem;
   margin: auto;
}

.confetti {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
}

.redirect {
   position: relative;
   z-index: 2;
}
