.mainWrapper {
   width: 100%;
}

.stats {
   position: relative;
   z-index: 6;
   margin: 18rem auto var(--spacing-l);
}

.aboutMe {
   margin-bottom: var(--spacing-l);
}

.addContent {
   position: fixed;
   bottom: 6.5rem;
   right: var(--spacing-ml);
}
