.squaredCardWrapper {
   background-color: var(--secondary-color);
   border-radius: var(--input-radius-mobile);
   background-color: var(--secondary-color);
   padding: 0.5rem 0 0;
   width: 100%;
   margin: 0 auto;
}

.dailyVerse {
   width: 100%;
   max-height: 13rem;
   overflow: scroll;
   padding: 0 var(--xsmall-spacing-mobile);
}

.squaredCardWrapperFooter {
   display: grid;
   width: 100%;
   grid-template-areas: "right left";
   border-top: 1px solid var(--fourth-color);
   padding: 0;
}

.footerWrapRight {
   background-color: var(--graient-one);
   border-bottom-left-radius: var(--input-radius-mobile);
   padding: 0.5rem 0;
}

.footerWrapLeft {
   background-color: var(--gradient-two);
   border-bottom-right-radius: var(--input-radius-mobile);
   padding: 0.5rem 0;
}

.commentIcon {
   border-radius: 50%;
   background-size: 80%;
   margin: 0 auto;
   display: block;
   grid-area: right;
   background-image: url("/images/icons/comment.svg");
}

.readIcon {
   border-radius: 50%;
   background-size: 80%;
   margin: 0 auto;
   display: block;
   grid-area: left;
   background-image: url("/images/icons/read_white.png");
}

.commentIcon:hover,
.readIcon:hover {
   transition: background-color 300ms ease-in, transform 300ms ease-in;
   display: block;
   cursor: pointer;
   transform: scale(1.1);
   background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (min-width: 1000px) {
   .squaredCardWrapper {
      border-radius: var(--input-radius-desktop);
   }

   .dailyVerse {
      padding: 0 var(--xsmall-spacing-desktop);
   }
}
