/*UNIT*/
.mainWrapper {
   width: 100%;
   max-width: 700px;
   margin: auto;
}
.optionUnit {
   text-align: left;
   margin: 0;
   padding: 0.3rem;
   transition: 200ms background-color ease-in;
   border-bottom: 1px solid var(--fourth-color);
}

.optionUnit:hover {
   background-color: var(--fourth-color);
   cursor: pointer;
}

.header {
   width: 90%;
   padding: var(--button-padding-mobile);
   transition: background-color 300ms ease-in;
   display: grid;
   grid-template-areas: "Lang TransChap Sett";
   grid-template-columns: 15% 70% 15%;
   grid-template-rows: 1fr;
   padding: 0.8rem 0;
   position: relative;
}

.versionChapterDropDownWrapper {
   grid-area: TransChap;
   display: grid;
   grid-template-areas: "Left Right";
   grid-template-columns: 30% 70%;
   grid-template-rows: 1fr;
   margin: var(--xsmall-spacing-mobile) 0;
}

.versionDropDownWrapper {
   background-color: var(--primary-color);
   border-top-left-radius: 2rem;
   border-bottom-left-radius: 2rem;
   padding: 0.3rem;
   grid-area: Left;
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(32, 0, 58, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(185, 128, 211, 0.3);
   background-color: var(--third-color);
   overflow-x: scroll;
}

.chapterDropDownWrapper {
   background-color: var(--primary-color);
   border-top-right-radius: 2rem;
   border-bottom-right-radius: 2rem;
   padding: 0.3rem;
   grid-area: Right;
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(32, 0, 58, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(185, 128, 211, 0.3);
   background-color: var(--third-color);
   overflow-x: scroll;
}

.versionDropDownWrapper > p,
.chapterDropDownWrapper > p {
   white-space: nowrap;
   font-size: 1rem;
}

.versionDropDownWrapper:hover,
.chapterDropDownWrapper:hover {
   background-color: var(--fourth-color);
}

.currentChapterWrapper {
   width: 90%;
   margin: 1rem auto;
}

.langugageButtonWrapper {
   grid-area: Lang;
   width: 100%;
   margin: auto;
}

.langugageButton,
.settingsButton {
   background-color: var(--third-color);
   height: 2rem;
   width: 2rem;
   border-radius: 50%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: transform 300ms ease-in, background-color 300ms ease-in;
}

.langugageButton:hover,
.settingsButton:hover {
   cursor: pointer;
   background-color: var(--fourth-color);
   transform: scale(1.1);
}

.laguageDropdown {
   width: 80%;
   position: absolute;
   background-color: var(--secondary-color);
   z-index: 3;
   top: 0;
   left: 1rem;
   grid-area: Lang;
}

.languageDropdownOption {
   width: 100%;
   text-align: center;
}

/* DARK THEME SETTINGS */
.versionDropDownWrapper__DarkTheme {
   border: 1px solid #f2f2f2;
   box-shadow: none;
   background-color: rgba(32, 0, 58, 0);
}

.versionDropDownWrapper__DarkTheme > p {
   color: #f2f2f2;
   -webkit-text-fill-color: #f2f2f2;
   background-image: none;
}

.versionDropDownWrapper__DarkTheme:hover {
   background-color: rgba(255, 255, 255, 0.3);
}

/*================ GRID DIV PLACEMENT   ============= */
.twoViewerClass,
.threeViewerClass,
.fourViewerClass {
   width: 350px;
   flex-grow: 1;
   flex-shrink: 1;
   margin: 1rem 0;
   overflow-y: scroll;
}
.twoViewerClass {
   height: 55vh;
}

.threeViewerClass {
   height: 35vh;
}

.fourViewerClass {
   height: 28vh;
}

@media only screen and (min-width: 770px) {
   .twoViewerClass,
   .threeViewerClass,
   .fourViewerClass {
      margin: 1rem 0.3rem;
   }

   .twoViewerClass {
      height: 100vh;
      max-width: 500px;
   }

   .threeViewerClass {
      height: 50vh;
      max-width: 500px;
   }

   .fourViewerClass {
      height: 50vh;
   }
}

@media only screen and (min-width: 1200px) {
   .twoViewerClass {
      height: 100vh;
   }

   .threeViewerClass {
      height: 100vh;
   }

   .fourViewerClass {
      height: 50vh;
      width: 500px;
   }
}

@media only screen and (min-width: 1605px) {
   .twoViewerClass {
      height: 100vh;
   }

   .threeViewerClass {
      height: 100vh;
   }

   .fourViewerClass {
      height: 100vh;
      width: 350px;
   }
}
