.mainWrapper {
   position: fixed;
   z-index: 5;
   width: 100vw;
   max-width: 600px;
   border-bottom-left-radius: var(--input-radius-mobile);
   border-bottom-right-radius: var(--input-radius-mobile);
   background-color: var(--secondary-color);
   height: 15rem;
   top: 0;
   right: 0;
}

.themeColorWrapper {
   width: 85%;
   height: 4rem;
   margin: 5rem auto 0;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
   overflow-x: scroll;
}

.themeColorWrapper > div {
   height: 3rem;
   width: 3rem;
   border-radius: 50%;
   margin: 0 1rem 0 0;
   flex-shrink: 0;
   flex-grow: 0;
   transition: transform 300ms ease-in;
}

.themeColorWrapper > div:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.firstTheme {
   background-color: #edf6f9;
}

.secondTheme {
   background-color: #f7ede2;
}

.thirdTheme {
   background-color: #b1a7a6;
}

.fourthTheme {
   border: 1px solid var(--font-color);
   background-color: var(--secondary-color);
}

.fifthTheme {
   background-color: #495057;
}

.sixthTheme {
   background-color: #242424;
}

.fontSizeWrapper {
   width: 85%;
   height: 3rem;
   margin: var(--xsmall-spacing-mobile) auto 0;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
   overflow-x: scroll;
}

.fontSizeWrapper > div {
   width: 6rem;
   height: 2rem;
   background-color: var(--fourth-color);
   border-radius: var(--input-radius-mobile);
   margin: 0 0.5rem 0 0;
   flex-shrink: 0;
   flex-grow: 0;
   text-align: center;
   transition: background-color 300ms ease-in;
}

.fontSizeWrapper > div:hover {
   background-color: var(--primary-color);
   cursor: pointer;
}
