.mainWrapper {
   width: 90%;
   max-width: 800px;
   margin: var(--large-spacing-mobile) auto;
}

.imageWrapper {
   position: relative;
   width: 100%;
   height: 90vw;
   max-width: 400px;
   max-height: 400px;
   margin: auto;
}

.imageWrapper a {
   object-fit: contain;
   object-position: center;
}

.dashboardButton {
   width: 90%;
   max-width: 350px;
}
