.mainWrapper {
   position: relative;
   width: 100%;
   height: 3.5rem;
   background-image: linear-gradient(-10deg, var(--third-color), var(--secondary-color));
   border-radius: 3em;
   overflow: hidden;
}

.input,
.inputBtn {
   background: transparent;
   border: none;
   outline: none;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
   padding: 0 var(--spacing-s) 0 calc(var(--spacing-ml) + 2rem + var(--spacing-xs));
   color: var(--font-color);
   font-size: var(--fs-main);
}

.input:focus,
.inputWBtn:focus {
   outline: none;
}

.input::placeholder,
.inputBtn::placeholder {
   color: var(--third-color--hc);
}

.icon {
   position: absolute;
   top: 50%;
   bottom: 0;
   left: var(--spacing-ml);
   right: auto;
   z-index: 2;
   transform: translateY(-50%);
}

/* search with button */
.mainWrapperWBtn {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.inputWBtn {
   height: 3rem;
   background-image: linear-gradient(-10deg, var(--third-color), var(--secondary-color));
   border-radius: 3em;
   overflow: hidden;
   width: 100%;
   padding-left: var(--spacing-s);
   position: relative;
   cursor: pointer;
}

.searchButton {
   margin-left: var(--spacing-xs);
   cursor: pointer;
   position: absolute;
   z-index: 3;
}

.rightInputIcon * {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.rightInputIcon {
   position: absolute;
   top: 0;
   bottom: auto;
   left: auto;
   height: 100%;
   right: var(--spacing-s);
}
