.mainWrapper {
   position: relative;
   width: 100%;
   height: 100%;
   border-top: 0.3rem solid var(--third-color);
}

.title {
   width: 100%;
   margin: var(--spacing-m) 0;
}

.title input,
.title input:focus,
.title input::placeholder {
   border: none;
   outline: none;
   background: transparent;
   width: 100%;
   padding: 0 var(--spacing-s);
   font-size: var(--fs-large);
   font-weight: 600;
   font-family: var(--primary-font);
   color: var(--font-color);
}

.title input::placeholder {
   color: var(--third-color);
}

.textArea {
   display: block;
   height: calc(100% - 40px); /* 40px to account for the  title */
   width: 100%;
   resize: none;
   background-color: var(--primary-color);
   color: var(--font-color);
   font-family: var(--primary-font);
   font-size: var(--fs-main);
   line-height: var(--line-height);
   border: none;
   outline: none;
   padding: var(--spacing-s);
   padding-top: calc(var(--spacing-l) + var(--spacing-xs));
}

.textAreaThought {
   padding-top: 0;
}

.textArea::placeholder {
   color: var(--third-color);
}

.stickerWrapper {
   position: absolute;
   right: var(--spacing-s);
   top: var(--spacing-s);
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 10rem;
   cursor: pointer;
}

.stickerText {
   margin-right: var(--spacing-xs);
}

.sticker {
   position: relative;
   width: 2rem;
   height: 2rem;
   background-color: var(--third-color);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.sticker img {
   object-fit: contain;
   object-position: center;
}
