.mainWrapper {
   width: 100%;
   position: relative;
}

.filterWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   max-width: 400px;
   overflow-x: scroll;
   margin: var(--xsmall-spacing-mobile) auto;
}

.textBlock {
   margin-bottom: 0;
}

.filterWrapper div {
   width: 3rem;
   height: 3rem;
   font-size: 1.5rem;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 300ms;
   flex-shrink: 0;
}

.filterWrapper div:hover,
.choiceSelected {
   background-color: var(--third-color);
   cursor: pointer;
}

.filterItemWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.filterLabel {
   margin: 0;
   font: var(--small-primary-font-mobile);
   color: var(--secondary-color);
}

.extraOptionsWrapper {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: auto;
   margin: auto;
   max-width: 10rem;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: calc(var(--xsmall-spacing-mobile) - 0.3rem);
   background-color: var(--fourth-color);
   border-radius: var(--input-radius-mobile);
}

.extraOptionsWrapper span {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 2rem;
   height: 2rem;
   font-size: 1rem;
   margin: 0 var(--xsmall-spacing-mobile);
   transition: 300ms;
}

.extraOptionsWrapper span:hover {
   transform: scale(1.2);
   cursor: pointer;
}

/* =============== avatar wraper ============= */
.avatarWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.avatarWrapper div {
   padding: var(--xsmall-spacing-mobile);
   border-radius: var(--input-radius-mobile);
}

.avatarWrapper div:hover {
   cursor: pointer;
   background: var(--secondary-color);
}

.avatar {
   position: relative;
   width: 5rem;
   height: 5rem;
   object-fit: contain;
   object-position: center;
   margin: var(--xsmall-spacing-mobile);
   transition: 300ms;
}

@media (min-width: 1000px) {
   .avatarWrapper div {
      padding: var(--xsmall-spacing-mobile);
      border-radius: var(--input-radius-mobile);
      margin: var(--xsmall-spacing-mobile);
   }
}
