.mainWrapper {
   width: 100%;
   margin: var(--large-spacing-mobile) 0 var(--medium-spacing-mobile);
}

.name {
   color: var(--graient-one);
   text-align: center;
   margin: var(--medium-spacing-mobile) auto;
   width: 100%;
}

.logo {
   width: 100%;
   max-width: 10rem;
   height: 10rem;
   background-repeat: no-repeat;
   background-size: 90%;
   background-position: center;
   margin: 0 auto var(--medium-spacing-mobile);
}

.h3 {
   font-size: var(--secondary-font-mobile);
   font-size: 1.3rem;
}
.h3 h4 {
   font: var(--primary-font-mobile);
   font-size: 1.1rem;
   margin: 0;
}

.website {
   color: var(--graient-one);
   text-decoration: underline;
   display: block;
   margin: var(--medium-spacing-mobile) auto;
}

.locationMapWrapper {
   width: 100%;
   margin: auto;
   max-width: 600px;
}

.map {
   width: 100%;
}

@media only screen and (min-width: 700px) {
   .mainWrapper {
      width: 500px;
      margin: var(--large-spacing-mobile) auto var(--medium-spacing-mobile);
   }
   .map {
      height: 500px;
   }
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 100%;
      margin: var(--xlarge-spacing-mobile) auto var(--medium-spacing-mobile);
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
   }

   .gridLeft {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 100%;
      padding: 0 1rem;
   }
   .gridRight {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 100%;
      padding: 0 1rem;
   }

   .map {
      height: 700px;
   }
}
