.mainWrapper {
   width: 15rem;
   min-height: 14rem;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: var(--input-radius-mobile);
   flex-shrink: 0;
   flex-grow: 0;
   margin-right: 1rem;
   padding: 0 1rem;
   z-index: 10;
}

.avatarUserSignatureWrapper {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.wholeAvatarWrapper {
   position: relative;
   cursor: pointer;
}

.commentAvatarWrapper {
   width: 3rem;
   height: 3.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: var(--xsmall-spacing-mobile);
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
   background-image: linear-gradient(130deg, var(--gradient-1--dark), var(--gradient-1--light));
}

.avatar {
   width: 2.5rem;
   height: 3rem;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
   background-color: var(--font-color);
}

.avatarUserSignatureWrapper > h4 {
   text-align: left;
   font: var(--primary-font-mobile);
   font-weight: 600;
   color: var(--fourth-color);
   width: 100%;
   overflow-x: scroll;
}

.content {
   font: var(--primary-font-mobile);
   font-size: 1rem;
   color: var(--fourth-color);
   height: 5rem;
   overflow-y: scroll;
}

/* -------------- truested user settings ------------ */
.commentCardHeaderAvatarImgBkgTrusted {
   background: var(--user-trusted-level);
}

.trustedPointer {
   display: block;
   position: absolute;
   width: 1.5rem;
   height: 1.5rem;
   background-color: rgb(255, 217, 0);
   -webkit-clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
   );
   clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
   );
   top: 0;
   left: 0;
   right: var(--xsmall-spacing-mobile);
   margin: auto;
   bottom: -2.5em;
}
