.mainWrapper {
   width: 90%;
   margin: var(--xlarge-spacing-mobile) auto;
}

.inputWrapper label {
   margin: 0 var(--xlarge-spacing-mobile) 0 0;
   font: var(--secondary-font-mobile);
   font-size: 1.2rem;
}

.inputWrapper input {
   margin: 0.5rem auto 0;
   max-width: 22rem;
}
