.mainWrapper {
   width: 90%;
   margin: var(--xlarge-spacing-mobile) auto;
}
.inputWrapper {
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.inputWrapper label {
   margin: var(--medium-spacing-mobile) auto var(--xsmall-spacing-mobile);
   font: var(--secondary-font-mobile);
   font-size: 1.2rem;
   width: 100%;
   text-align: center;
}

.inputWrapper input {
   margin: 0.5rem auto 0;
   max-width: 22rem;
}

.imageWrapper {
   position: relative;
   width: 90%;
   height: 80vw;
   margin: var(--medium-spacing-mobile) auto;
   max-width: 400px;
   max-height: 400px;
}

.imageWrapper img {
   object-fit: contain;
   object-position: center;
}

.pText {
   width: 100%;
   text-align: center;
}
