.mainWrapper {
   width: 5rem;
   background-color: var(--secondary-color);
   position: absolute;
   top: 3.5rem;
   right: 0.5rem;
   z-index: 5;
   border-radius: var(--button-radius-mobile);
}

.viewsWrapper {
   width: 100%;
   overflow-y: scroll;
}

.viewsWrapper:hover {
   cursor: pointer;
}

.viewsWrapper > div {
   width: 100%;
   height: 1.5rem;
   margin: auto;
   padding: 1rem 0;
   background-repeat: no-repeat;
   background-size: 1.3rem;
   background-position: center;
   border-bottom: 1px solid var(--fourth-color);
   border-radius: var(--button-radius-mobile);
}

.viewsWrapper > div:hover {
   background-color: var(--fourth-color);
}

.oneView {
   background-image: url("/images/icons/read_grid_1.png");
}

.twoView {
   background-image: url("/images/icons/read_grid_2.png");
}

.threeView {
   background-image: url("/images/icons/read_grid_3.png");
}

.fourView {
   background-image: url("/images/icons/read_grid_4.png");
}

@media only screen and (min-width: 700px) {
   .mainWrapper {
      top: 4.5rem;
   }
}
