.mainWrapper {
   width: 100%;
}

.logoWrapper {
   margin: var(--spacing-xs) auto var(--spacing-l) 0;
}

.logo {
   background-image: url("/images/mascot/min/welcome.webp");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   width: 30rem;
   height: 30rem;
   margin: 0 auto var(--spacing-m);
}

.logoWrapper .title {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto var(--spacing-s);
}

.desc {
   max-width: 40rem;
   margin: auto;
}

.list {
   width: 100%;
   margin-bottom: var(--spacing-l);
}
.links {
   width: 100%;
   margin-bottom: var(--spacing-l);
}

.links .title,
.list .title {
   width: 100%;
   margin-bottom: var(--spacing-s);
}

.link {
   margin-bottom: var(--spacing-xs);
}
