.desktopPostsGrid {
   width: 100%;
}

.myPostsWrapper {
   width: 100%;
   max-width: 600px;
   margin: auto;
}

.myPostsMenu {
   width: 100%;
   border-bottom: 2px solid var(--fourth-color);
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   overflow-x: scroll;
   margin: var(--medium-spacing-mobile) auto;
}

.myPostsMenu > span {
   color: var(--fourth-color);
   margin-right: 1rem;
   font-size: 1rem;
   padding: 0.3rem 0;
   cursor: pointer;
}

.storiesWrapper {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
}

@media only screen and (min-width: 1000px) {
   .myPostsWrapper {
      max-width: 800px;
   }

   .myPostsMenu {
      margin: var(--medium-spacing-desktop) auto;
   }

   .myPostsMenu > span {
      margin-right: 2.5rem;
      font-size: 1.2rem;
   }

   .storiesWrapper {
      justify-content: flex-start;
   }
   .myPostsWrapper {
      max-width: 90%;
      margin-left: auto;
      margin-right: 0;
      max-height: 100vh;
      overflow-y: scroll;
   }
}
