.mobilePostsGrid {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.commentaryLink,
.quoteLink,
.thoughtLink,
.sermonLink {
   position: relative;
   width: 7rem;
   height: 7rem;
   background-position: top 1rem left 2rem;
   background-repeat: no-repeat;
   background-size: 50%;
   border-radius: var(--input-radius-mobile);
   margin: var(--xsmall-spacing-mobile);
   background-image: url("/images/icons/commentaries.png");
}
.quoteLink {
   background-image: url("/images/icons/quote.png");
}
.thoughtLink {
   background-size: 30%;
   background-position: 50% 20%;
   background-image: url("/images/icons/thoughts.png");
}

.sermonLink {
   background-size: 23%;
   background-position: 50% 20%;
   background-image: url("/images/icons/sermon_notes.png");
}

.mobileAllLink {
   width: 100%;
   height: 4rem;
}

.link {
   font: var(--secondary-font-mobile);
   font-size: 0.9rem;
   width: 100%;
   position: absolute;
   bottom: 0;
   text-align: center;
   margin: 0;
   height: 2rem;
}
