.contentWrapper {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
}

.contentWrapper > section {
   max-width: 350px;
   margin: var(--xsmall-spacing-desktop);
}

.stdButton {
   min-width: 350px;
   margin: var(--medium-spacing-desktop);
}

.noNotifications{
   color: var(--secondary-color);
   width: 100%;
   text-align: center;
   margin: 10rem auto 0;
}

.popUpContentWrapper_title{
   width: 100%;
   text-align: center;
}