.mainWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.avatar {
   width: 7rem;
   height: 7rem;
   margin-bottom: var(--spacing-xxs);
}

.text {
   width: 100%;
}
