.mainWrapper {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
   column-gap: var(--spacing-s);
}

.child {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-basis: 29%; /* WARNING: this is set to this size because the commentaries grid requires it theis size*/
}

.child:nth-child(3n - 1) {
   padding-top: var(--spacing-m);
}

.child:nth-child(3n) {
   padding-top: calc(var(--spacing-m) * 2);
}
