.mainWrapper {
   width: 100%;
   height: 80vh;
   max-height: 70rem;
   padding: var(--spacing-s) var(--spacing-ml) var(--spacing-l);
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   border-radius: 3em;
   box-shadow: 0 -4px 4px var(--shadow-color);
   overflow: hidden;
   position: relative;
}

.close {
   position: absolute;
   top: var(--spacing-s);
   right: var(--spacing-s);
}

.search {
   max-width: 45rem;
   width: 100%;
   margin: calc(var(--spacing-s) + var(--spacing-l)) auto var(--spacing-ml);
}

.imageWrapper {
   max-width: 45rem;
   width: 100%;
   overflow-y: scroll;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
   align-self: flex-end;
   margin: 0 auto var(--spacing-ml);
}

.loader,
.errorFetching {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.thumbnail {
   width: calc(50% - var(--spacing-xs));
   height: 11.3rem;
   margin: 0 var(--spacing-xxs) var(--spacing-s);
}

.thumbnail:last-of-type {
   justify-self: start;
}

.loadMore {
   max-width: 45rem;
   margin: auto auto 0;
   width: 100%;
}
