.mainWrapper {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-wrap: wrap;
}

.top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-bottom: var(--spacing-m);
}

.carrousel {
   width: 100%;
}

.loader,
.error {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: var(--spacing-m) auto;
}
