.mainWrapper {
   width: 100%;
   max-width: var(--input-width-mobile);
   margin: var(--small-spacing-mobile) auto;
}

.mainWrapper input {
   margin: 0;
}

@media (min-width: 1000px) {
   .mainWrapper {
      max-width: var(--input-width-desktop);
      margin: var(--small-spacing-desktop) auto;
   }
}
