.mainWrapper {
   width: 100%;
   position: relative;
   margin: var(--large-spacing-mobile) 0 0;
}

.singleOption {
   border-bottom: 1px solid var(--fourth-color);
}

.singleOption:hover {
   background-color: var(--fourth-color);
   cursor: pointer;
}

/* ============   header dropdown   ================== */

.header_mainWrapper {
   width: 12rem;
   position: fixed;
   margin: var(--large-spacing-mobile) 0 0;
   max-width: 12rem;
   background-color: var(--third-color);
   padding: 0;
   border-radius: 0.5rem;
   top: 1rem;
   right: 1rem;
   z-index: 16;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 10px rgba(0, 0, 0, 0.3);
}

.header_singleOption {
   border-bottom: 1px solid var(--fourth-color);
   width: 100%;
   text-align: left;
   padding: 0.5rem 0 0.5rem 1rem;
   border-radius: var(--input-radius-mobile);
}

.header_singleOption:hover {
   background-color: rgba(255, 255, 255, 0.3);
   cursor: pointer;
}
