.mainWrapper {
   width: 100%;
   position: relative;
   margin: var(--large-spacing-mobile) 0 0;
}

.singleOption {
   border-bottom: 1px solid var(--fourth-color);
}

.singleOption:hover {
   background-color: var(--fourth-color);
   cursor: pointer;
}
