.mainWrapper {
   border-top: 3px solid var(--fourth-color);
   margin: var(--large-spacing-mobile) auto var(--small-spacing-mobile);
   width: 100%;
   max-width: 900px;
}

.mainWrapper > p {
   font-size: 1rem;
   font-style: italic;
}
.button {
   width: 15rem;
   margin: var(--medium-spacing-mobile) 0;
}

/* ============= FORM WRAPPER POPUP ============= */
.formWrapper {
   width: 90%;
   max-width: 500px;
   margin: auto;
}

.formDropDownButton {
   position: relative;
   width: 85%;
   display: block;
   padding: var(--input-padding-mobile) 0 0 0.3rem;
   border-bottom: 2px solid var(--fourth-color);
   color: #f2f2f27a;
   cursor: pointer;
}

.dropdownArrow {
   display: block;
   position: absolute;
   border-top: 0.5rem solid var(--fourth-color);
   border-right: 0.5rem solid transparent;
   border-left: 0.5rem solid transparent;
   width: 1rem;
   height: 2rem;
   top: 55%;
   right: 0.5rem;
}

.dropDownWrapper {
   display: none;
   width: 90%;
   max-width: 20rem;
   margin-top: 0.3rem;
   background-color: var(--secondary-color);
   border-radius: var(--button-radius-mobile);
   padding: 0 var(--xsmall-spacing-mobile);
   cursor: pointer;
}

.dropDownWrapper > span {
   display: block;
   width: 100%;
   color: #f2f2f27a;
   border-bottom: 2px solid var(--fourth-color);
   padding: var(--xsmall-spacing-mobile) 0;
}

.dropDownWrapper > span:hover {
   cursor: pointer;
   color: var(--font-color);
}

.stdInput {
   width: 100%;
   max-width: 100%;
   display: block;
   margin-left: 0;
}

.newClassPodcast,
.newClassBook {
   color: var(--font-color);
}

.stdTextArea {
   width: 100%;
   max-width: 100%;
   display: block;
}

.stdButton {
   margin-left: 0;
}

@media only screen and (min-width: 700px) {
   .formWrapper {
      margin: var(--medium-spacing-ipad) auto;
      max-width: 600px;
   }
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      margin: var(--large-spacing-desktop) auto var(--small-spacing-desktop);
   }

   .mainWrapper > p {
      font-size: 1.2rem;
      line-height: 2em;
   }

   .button {
      margin: var(--medium-spacing-desktop) 0;
   }

   /* ========= FORM WRAPPE POPUP =============== */
   .formWrapper {
      max-width: 700px;
   }

   .formDropDownButton {
      padding: var(--input-padding-desktop) 0 0 0.5rem;
   }

   .dropdownArrow {
      border-top: 0.8rem solid var(--fourth-color);
      border-right: 0.8rem solid transparent;
      border-left: 0.8rem solid transparent;
      width: 1.5rem;
      height: 2.5rem;
      top: 55%;
      right: 0.5rem;
   }

   .dropDownWrapper {
      border-radius: var(--button-radius-desktop);
      padding: 0 var(--xsmall-spacing-desktop);
   }

   .dropDownWrapper > span {
      padding: var(--xsmall-spacing-desktop) 0;
   }

   .stdTextArea {
      height: 12rem;
   }
}
