.mainWrapper {
   width: 96%;
   display: grid;
   grid-template-areas: "Cont Search DropD";
   grid-template-columns: 15% 60% 25%;
   grid-template-rows: 1fr;
   position: relative;
   z-index: 5;
}

.contentDropDownButton {
   height: 2rem;
   width: 2rem;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--secondary-color);
   grid-area: Cont;
   margin: 0 auto;
   cursor: pointer;
}

.contentDropDWrapper {
   position: absolute;
   grid-area: Cont;
   top: 2.4rem;
   z-index: 2;
   width: 5rem;
   height: 12rem;
   overflow-y: scroll;
   background-color: var(--secondary-color);
   border-radius: var(--button-radius-mobile);
}

.contentSingleItem {
   display: block;
   width: 100%;
   padding: 0.5rem 0;
   text-align: center;
   font-size: 1.2rem;
   border-bottom: 1px solid var(--fourth-color);
}

.contentSingleItem:hover {
   cursor: pointer;
   background-color: var(--fourth-color);
}

.searchWapper {
   grid-area: Search;
}

.search {
   width: 100%;
   font-size: 0.9rem;
   margin: 0 0.5rem;
   box-sizing: border-box;
}

.categoryButton {
   width: 80%;
   margin: 0 0 0 auto;
   height: 2.5rem;
   background-color: var(--secondary-color);
   grid-area: DropD;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: var(--button-radius-mobile);
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(0, 0, 0, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(255, 255, 255, 0.2);
   cursor: pointer;
}

.categoryButton:hover {
   background-color: var(--fourth-color);
}

.categoryDropDWrapper {
   width: 100%;
   grid-area: DropD;
   position: absolute;
   top: 3rem;
   height: 12rem;
   overflow-y: scroll;
   border-radius: var(--button-radius-mobile);
}
.mainWrapperDesktop {
   display: none;
}
@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 100%;
      display: none;
   }

   .mainWrapperDesktop {
      display: block;
      width: 100%;
      max-width: 1200px;
      margin: auto;
   }

   .linksWrapperDesktop {
      padding: 0 0 var(--xsmall-spacing-desktop);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--medium-spacing-desktop) 0 0;
   }

   .contentSingleItemDesktop {
      font: var(--widget-font-desktop);
      font-size: 1rem;
      color: var(--fourth-color);
   }

   .contentSingleItemDesktop:hover {
      color: var(--font-color);
   }

   .contentSingleItemDesktop:visited {
      color: var(--fourth-color);
   }

   /* color text #f2f2f2 based on which page menu is loaded by */
   .currentPagePopular {
      color: var(--font-color);
   }

   .currentPageSermons {
      color: var(--font-color);
   }

   .currentPageArticles {
      color: var(--font-color);
   }

   .currentPagePodcasts {
      color: var(--font-color);
   }

   .currentPageYoutube {
      color: var(--font-color);
   }

   .currentPageBlogs {
      color: var(--font-color);
   }
   .currentPageCongregations {
      color: var(--font-color);
   }

   .currentPageBooks {
      color: var(--font-color);
   }
}
