.mainWrapper {
   width: 100%;
   margin: auto;
   padding: 0 0.5rem 0.5rem;
   display: grid;
   grid-template-columns: repeat(4, 25%);
   grid-template-rows: 2rem;
}

.commentWrapper,
.approveWrapper,
.disapproveWrapper,
.moreWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.commentWrapper span,
.approveWrapper span,
.disapproveWrapper span,
.moreWrapper span {
   display: block;
   font-size: 1rem;
}

.commentIcon,
.approveIcon,
.disapproveIcon,
.moreIcon {
   width: 1rem;
   height: 1rem;
   background-size: 95%;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0 0 0 0.4rem;
   border-radius: 50%;
   transition: transform 300ms ease-in;
}

.commentIcon:hover,
.approveIcon:hover,
.disapproveIcon:hover,
.moreIcon:hover {
   background-color: rgba(255, 255, 255, 0.479);
   transform: scale(1.2);
   cursor: pointer;
}

.commentWrapper {
   grid-column: 1/2;
   grid-row: 1/2;
}

.commentIcon {
   background-image: url("/images/comment-card.svg");
}

.approveWrapper {
   grid-column: 2/3;
   grid-row: 1/2;
}

.approveIcon {
   background-image: url("/images/likke.svg");
}

.disaproveWrapper {
   grid-column: 3/4;
   grid-row: 1/2;
}

.disapproveIcon {
   background-image: url("/images/dislike.svg");
}

.moreWrapper {
   grid-column: 4/5;
   grid-row: 1/2;
}

.moreIcon {
   background-image: url("/images/ellipsis.svg");
}

@media only screen and (min-width: 700px) {
   .mainWrapper {
      grid-template-columns: repeat(4, minmax(1rem, 5rem));
   }
}

@media only screen and (min-width: 1000px) {
   .commentIcon,
   .approveIcon,
   .disapproveIcon,
   .moreIcon {
      width: 1.3rem;
      height: 1.3rem;
   }
}
