.mainWrapper {
   width: 100%;
   margin: auto;
   padding: 0 0.5rem 0.5rem;
   display: grid;
   grid-template-columns: repeat(4, 25%);
   grid-template-rows: 2rem;
}

.commentWrapper,
.approveWrapper,
.moreWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.commentWrapper span,
.approveWrapper span,
.moreWrapper span {
   font-size: 1rem;
}

.commentIcon,
.aprovalsIcon,
.moreIcon {
   display: block;
   width: 1.5rem;
   height: 1.5rem;
   background-size: 80%;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0 0 0 0.4rem;
   border-radius: 50%;
   transition: transform 300ms ease-in;
}

.commentIcon:hover,
.aprovalsIcon:hover,
.moreIcon:hover {
   background-color: rgba(255, 255, 255, 0.479);
   transform: scale(1.2);
   cursor: pointer;
}

.commentWrapper {
   grid-column: 1/2;
   grid-row: 1/2;
}

.commentIcon {
   background-image: url("/images/icons/comment.svg");
}

.approveWrapper {
   grid-column: 2/3;
   grid-row: 1/2;
}

.aprovalsIcon {
   background-image: url("/images/icons/rate_white.png");
}

.moreWrapper {
   grid-column: 4/5;
   grid-row: 1/2;
}

.moreIcon {
   background-image: url("/images/ellipsis.svg");
}

.reliabilityA,
.reliabilityB,
.reliabilityC,
.reliabilityD,
.reliabilityF {
   background-color: var(--aprval-level-a);
   color: var(--secondary-color);
   margin: 0 0 0 0.4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 1.4rem;
   width: 1.4rem;
   border-radius: 50%;
   font: var(--digit-font-mobile);
   font-weight: 600;
   font-size: 0.9rem;
   transition: transform 300ms ease-in;
}
.reliabilityA:hover,
.reliabilityB:hover,
.reliabilityC:hover,
.reliabilityD:hover,
.reliabilityF:hover {
   transform: scale(1.2);
   cursor: pointer;
}

.reliabilityB {
   background-color: var(--aprval-level-b);
}

.reliabilityC {
   background-color: var(--aprval-level-c);
}

.reliabilityD {
   background-color: var(--aprval-level-d);
}

.reliabilityF {
   background-color: var(--aprval-level-f);
}

@media only screen and (min-width: 700px) {
   .mainWrapper {
      grid-template-columns: repeat(4, minmax(1rem, 5rem));
   }
}

@media only screen and (min-width: 1000px) {
   .commentIcon,
   .approveIcon,
   .disapproveIcon,
   .moreIcon {
      width: 1.3rem;
      height: 1.3rem;
   }
}
