.mainWrapper {
   width: 96%;
   margin: auto;
   top: 40vh;
   bottom: 0;
   left: 0;
   right: 0;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 5;
   height: 2rem;
}

.leftTrigger,
.rightTrigger {
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   background-image: url("/images/icons/back_white.png");
   background-position: 0.1rem center;
   background-size: 70%;
   background-repeat: no-repeat;
   background-color: rgba(255, 255, 255, 0.6);
}

.leftTrigger:hover,
.rightTrigger:hover {
   cursor: pointer;
   transform: scale(0.9);
   transition: 300ms;
}

.rightTrigger {
   background-position: 0.5rem center;
   background-image: url("/images/icons/forth_white.png");
}
