.mainWrapper {
   width: 100%;
   border-radius: var(--input-radius-mobile);
   background-color: var(--secondary-color);
   padding: var(--xsmall-spacing-mobile);
}

.title {
   font: var(--secondary-font-mobile);
   text-align: center;
   padding: var(--xsmall-spacing-mobile);
   margin: 0;
}

.contentHtml {
   width: 100%;
}

.image {
   width: 100%;
   height: 10rem;
}
