.mainWrapper {
   position: relative;
   width: 100%;
}
.searchFilter {
   position: fixed;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
   gap: var(--spacing-s);
   margin-bottom: var(--spacing-l);
   z-index: 4;
   background-color: var(--primary-color);
   padding: 0 4% var(--spacing-s);
}

.search {
   width: 100%;
}

.postsWrapper {
   padding-top: calc(5rem + var(--spacing-xxs)); /*height of the filter + space*/
}
