.mainWrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 100vh;
   background-color: var(--primary-color);
}

.topIntro {
   margin: 8rem auto var(--spacing-m);
}

.topIntro > div:first-child {
   margin-bottom: var(--spacing-m);
}

.topIntro > div:last-of-type {
   margin-bottom: var(--spacing-m);
}

.imageWrapper {
   width: 100%;
   margin: 0 auto;
   overflow: hidden;
   margin: 8rem auto var(--spacing-m);
}

.imageWrapper > div:first-child {
   margin-bottom: var(--spacing-m);
}

.image {
   width: 100%;
   object-fit: contain;
   object-position: center;
   border-radius: 2em;
}

.close {
   position: fixed;
   top: var(--spacing-s);
   right: var(--spacing-s);
   cursor: pointer;
}

.loader {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   position: fixed;
   top: 50vh;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
}

.buttons {
   margin-top: var(--spacing-m);
}

.buttons button {
   margin-bottom: var(--spacing-s);
}

.textFlex {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: var(--spacing-s) 0;
}

.textFlex > div:first-child {
   margin-right: var(--spacing-xs);
}
