.mainWrapper {
   width: 100%;
   border-radius: var(--input-radius-mobile);
   background-color: var(--secondary-color);
   padding: var(--xsmall-spacing-mobile);
}

.graphGridWrapper {
   display: grid;
   grid-template-rows: 100%;
   grid-template-columns: repeat(4, 25%);
   height: 10rem;
}

.graphGridWrapper div {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   flex-wrap: wrap;
}

.graphGridWrapper div div {
   width: 80%;
   margin: 0 auto;
   max-height: calc(100% - 2rem);
   min-height: 5%;
   background-color: var(--third-color);
}

.graphGridWrapper div span {
   height: 2rem;
   font-size: 0.9rem;
}

.graphGridWrapper div div span {
   display: block;
}

.voteIconWrapper {
   display: grid;
   grid-template-rows: 100%;
   grid-template-columns: repeat(4, 25%);
   margin: var(--xsmall-spacing-mobile) auto;
}

.voteIconOne {
   grid-column: 1/2;
   grid-row: 1/2;
}

.voteIconTwo {
   grid-column: 2/3;
   grid-row: 1/2;
}
.voteIconThree {
   grid-column: 3/4;
   grid-row: 1/2;
}
.voteIconFour {
   grid-column: 4/5;
   grid-row: 1/2;
}
.voteIconWrapper span {
   width: 80%;
   text-align: center;
   font-size: 1.5em;
   margin: 0 auto;
   padding: 0;
}

.hiddenSpan {
   visibility: hidden;
}

.voteIconVoted {
   background-color: var(--fourth-color);
}

.youHaveVoted {
   grid-column: 1/5;
   grid-row: 1/2;
   background-color: var(--fourth-color);
   margin: 0;
   width: 100%;
   padding: 0.5rem;
   border-bottom-left-radius: var(--input-radius-mobile);
   border-bottom-right-radius: var(--input-radius-mobile);
}
