.mainWrapper {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: var(--spacing-xs) var(--spacing-xs);
   border-radius: 1.2em;
   background-color: var(--secondary-color);
   box-shadow: var(--shadow-s);
}

.emoji {
   margin-right: var(--spacing-xs);
}

.value p {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}
