.mainWrapper {
    width: 100%; 
    box-shadow: var(--shadow-s);
    border-radius: 2em;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.mainWrapper:hover  {
    transition: 300ms transform ease;
    cursor: pointer;
    transform: scale(.98);
    box-shadow: none;
}

.cardPicker {
    min-height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-xxs) var(--spacing-m) var(--spacing-xs) var(--spacing-xxs);
    background-color: var(--secondary-color);
}

.imageWrapper {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    height: 7rem;
    width: 7rem;
    border-radius: 1.8em;
    background-color: var(--third-color);
}

.imageWrapper img {
    object-fit: cover;
    object-position: center;
}

.title {
    width: 100%;
    margin-left: var(--spacing-xs);
}

.chapterCount {
    flex-shrink: 0;
    flex-grow: 0;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 1em;
    box-shadow: var(--shadow-s);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
}