.mainWrapper {
   width: 100%;
   padding: 0 var(--spacing-ml) var(--spacing-xs);
   background-color: var(--secondary-color);
   border-bottom-left-radius: 2em;
   border-bottom-right-radius: 2em;
   position: relative;
}

.close {
   position: absolute;
   top:  0;
   right: var(--spacing-m);
}

.title {
   margin: var(--spacing-m) 0 var(--spacing-l);
}

.verseWrapper {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.verse {
   width: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: var(--spacing-m) 0;
   border-radius: 0.9em;
}

.verse:hover {
   background-color: var(--third-color);
   cursor: pointer;
}
