.mainWrapper {
   width: 100%;
   border-radius: 2em;
   background-color: var(--secondary-color);
   padding: var(--spacing-xs);
}

.title {
   font: var(--secondary-font-mobile);
   text-align: center;
   padding: var(--xsmall-spacing-mobile);
   margin: 0;
}

.parragraph {
   margin: 0 auto var(--small-spacing-mobile);
}

.videoThumbnail {
   width: 90vw;
   height: 48vw;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 2em;
}
