.mainWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.mainWrapper:hover .text {
   cursor: pointer;
   border-bottom: 0.1rem solid #f1eaff50;
   transition: 300ms border;
}

.mainWrapper:hover .icon {
   cursor: pointer;
   transition: 300ms transform;
   transform: scale(0.9);
}

.icon {
   height: 4.5rem;
   width: 4.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0.9em;
   flex-shrink: 0;
   flex-grow: 0;
}

.iconWrapper {
   height: 3rem;
   width: 3rem;
}

.text {
   margin-left: var(--spacing-m);
   height: 4.5rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.textText div {
   overflow: hidden;
   white-space: nowrap;
}

.textJsx {
   height: 2rem;
   width: 100%;
}
