.mainWrapper {
   width: 9.3rem;
   box-sizing: content-box;
   margin: 0 var(--medium-spacing-mobile) 0 0;
   flex-shrink: 0;
   flex-grow: 0;
}

.paperSheet {
   position: relative;
   width: 95%;
   height: 12rem;
   border-bottom-right-radius: 1.5rem;
   background-color: #f2f2f2;
   z-index: 2;
   overflow: hidden;
   padding: 0.1rem 0.3rem 0;
   transition: opacity 300ms ease-in;
}

.paperSheet:hover {
   opacity: 0.8;
   cursor: pointer;
}

.paperLines {
   position: relative;
   width: 100%;
}

.paperLines span {
   display: block;
   width: 100%;
   height: 1px;
   position: absolute;
   background-color: rgb(0, 140, 255);
   z-index: 1;
}

.paperLines span:nth-child(1) {
   top: 2rem;
}

.paperLines span:nth-child(2) {
   top: 4rem;
}

.paperLines span:nth-child(3) {
   top: 6rem;
}

.paperLines span:nth-child(4) {
   top: 8rem;
}

.paperLines span:nth-child(5) {
   top: 10rem;
}

.textWrapper {
   width: 95%;
   margin: 0 auto;
   padding: 1rem 0.3rem;
}

.title {
   color: var(--font-color);
   font: 400 1rem roboto-slab;
   margin: 0;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   z-index: 2;
   position: relative;
}

.author {
   color: #242424;
   font: 300 0.8rem roboto-slab;
   margin: 0.3rem 0;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   position: absolute;
   top: 6.5rem;
   left: 0;
}

.category {
   color: #242424;
   font: 300 0.7rem roboto-slab;
   display: block;
   position: absolute;
   top: 8.3rem;
   left: 0;
}

.paperBent {
   display: block;
   height: 1.5rem;
   width: 2rem;
   position: absolute;
   bottom: 0;
   right: 0;
   border-bottom-right-radius: 1.5rem;
   background-image: linear-gradient(120deg, rgb(236, 236, 236) 5%, rgb(170, 170, 170) 90%);
   box-shadow: -5px -3px 5px rgba(0, 0, 0, 0.199);
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 12rem;
      margin: 0 var(--medium-spacing-desktop) 0 0;
   }

   .paperSheet {
      position: relative;
      width: 95%;
      height: 15rem;
      border-bottom-right-radius: 2rem;
      padding: 0.3rem 0.5rem 0;
   }

   .paperLines span:nth-child(1) {
      top: 2.5rem;
   }

   .paperLines span:nth-child(2) {
      top: 5rem;
   }

   .paperLines span:nth-child(3) {
      top: 7.5rem;
   }

   .paperLines span:nth-child(4) {
      top: 10rem;
   }

   .paperLines span:nth-child(5) {
      top: 12.5rem;
   }

   .textWrapper {
      width: 95%;
      margin: 0 auto;
      padding: 1rem 0.3rem;
   }

   .title {
      font: 400 1.2rem roboto-slab;
   }

   .author {
      color: #242424;
      font: 300 1rem roboto-slab;
      top: 8.5rem;
      left: 0.3rem;
   }

   .category {
      color: #242424;
      font: 300 0.8rem roboto-slab;
      display: block;
      position: absolute;
      top: 10.7rem;
      left: 0.3rem;
   }
}
