.mainWrapper {
   width: 12rem;
   flex-shrink: 0;
   flex-grow: 0;
   margin: 0 var(--medium-spacing-mobile) 0 0;
   position: relative;
   padding: 1rem 0.5rem 0;
   overflow: hidden;
}

.bookImgInfoWrapper {
   display: grid;
   grid-template-areas: "Info Image";
   grid-template-rows: 1fr;
   grid-template-columns: 70% 30%;
}

.bookInfoWrapper {
   grid-area: Info;
}

.bookImg {
   grid-area: Image;
   background-image: url("../../../public/images/Page-library/library-book.svg");
   background-size: 90%;
   background-repeat: no-repeat;
   background-position: center;
}
.title {
   color: var(--font-color);
   font: var(--secondary-font-mobile);
   font-size: 1rem;
   margin: 0;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

.author {
   color: var(--font-color);
   font: var(--primary-font-mobile);
   font-size: 0.8rem;
   opacity: 0.8;
   margin: 0;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

.category {
   color: var(--font-color);
   font: var(--widget-font-mobile);
   display: block;
   margin: 0;
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 15rem;
      margin: 0 var(--medium-spacing-desktop) 0 0;
      padding: 1rem 1rem 0;
   }

   .title {
      font: var(--secondary-font-desktop);
      font-size: 1.2rem;
   }

   .author {
      font: var(--primary-font-desktop);
      font-size: 1rem;
   }

   .category {
      font: var(--widget-font-desktop);
   }
}
