.mainWrapper {
   width: 10rem;
   box-sizing: content-box;
   margin: var(--medium-spacing-mobile) 1.5rem;
   flex-shrink: 0;
   flex-grow: 0.6;
}

.logo {
   width: 8rem;
   height: 8rem;
   margin: auto;
   background-size: 90%;
   background-position: center;
   background-repeat: no-repeat;
   transition: transform 300ms ease-in;
}

.logo:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.name {
   font: var(--secondary-font-mobile);
   font-size: 1rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 0 auto 0.4rem;
   text-align: center;
}

.address {
   font: var(--widget-font-mobile);
   font-weight: 300;
   color: var(--fourth-color);
   margin: 0.3rem auto;
   text-align: center;
}

.website,
.location {
   display: block;
   font: var(--primary-font-mobile);
   font-size: 0.8rem;
   text-decoration: underline;
   color: var(--graient-one);
   text-align: center;
}

#location {
   color: var(--gradient-two);
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 12rem;
      box-sizing: content-box;
      margin: var(--medium-spacing-desktop) 2rem;
   }

   .logo {
      width: 10rem;
      height: 10rem;
   }

   .name {
      font: var(--secondary-font-desktop);
      font-size: 1.2rem;
      margin: 0 auto 0.6rem;
   }

   .website,
   .location {
      font: var(--primary-font-desktop);
      font-size: 1rem;
   }
}
