.mainWrapper {
   width: 9.3rem;
   box-sizing: content-box;
   margin: var(--medium-spacing-mobile) var(--small-spacing-mobile);
   flex-shrink: 0;
   flex-grow: 0;
}

.thumbnailWrapper {
   width: 100%;
   height: 9.3rem;
   position: relative;
   background-color: var(--font-color);
   border-radius: var(--input-radius-mobile);
   transition: opacity 300ms ease-in;
}

.thumbnail {
   object-position: center;
   object-fit: cover;
   -o-object-position: center;
   -o-object-fit: cover;
   border-radius: var(--input-radius-mobile);
}

.thumbnailWrapper:hover {
   cursor: pointer;
   opacity: 0.8;
}

.name {
   font: var(--secondary-font-mobile);
   font-size: 1rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 0 auto 0.4rem;
}

.host {
   font: var(--widget-font-mobile);
   font-weight: 300;
   color: var(--fourth-color);
   margin: 0 auto;
}

.links {
   width: 100%;
   display: flex;
   padding: 0 1rem;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: var(--xsmall-spacing-mobile) 0 0;
}

.links > a > span {
   display: block;
   width: 1rem;
   height: 1rem;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   transition: transform 300ms ease-in, opacity 300ms ease-in;
}

.links > a > span:hover {
   transform: scale(1.1);
}

.linksApple {
   background-image: url("../../../public/images/temporary/podcast-apple.jpg");
}
.linksSpotify {
   background-image: url("../../../public/images/temporary/podcast-spotify.png");
}
.linksGoogle {
   background-image: url("../../../public/images/temporary/podcast-google.png");
}
.linksOvercast {
   background-image: url("../../../public/images/temporary/podcast-overcast.svg");
}

/* ======   PODCAST DESC POPUP ================= */
.descPopup {
   background-color: var(--secondary-color);
   width: 90vw;
   max-width: 500px;
   max-height: 65vh;
   position: fixed;
   top: 8rem;
   left: 0;
   right: 0;
   bottom: auto;
   margin: 0 auto;
   padding: var(--small-spacing-mobile);
   z-index: 5;
   overflow-y: scroll;
   border-bottom: 1rem solid var(--secondary-color);
}

.descPopupCloseModal {
   top: 1rem;
   right: 0.5rem;
}

.descPopupTitle {
   font-size: 1.2rem;
   margin: var(--small-spacing-mobile) 0 0.2rem;
}

.popUpHost {
   font: var(--widget-font-mobile);
   font-weight: 300;
   margin: 0 auto var(--xsmall-spacing-mobile);
}

.popupDescription {
   font: var(--primary-font-mobile);
   font-size: 1rem;
   margin: var(--medium-spacing-mobile) 0;
}

.descPopupImg {
   position: relative;
   width: 100%;
   height: 9.3rem;
   margin: auto;
   display: block;
}

.descPopupImg img {
   object-position: center;
   object-fit: cover;
   -o-object-position: center;
   -o-object-fit: cover;
}

.descPopupFooter {
   font-size: 0.8rem;
   text-align: left;
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 12rem;
      margin: var(--medium-spacing-desktop) var(--medium-spacing-desktop);
   }

   .thumbnailWrapper {
      height: 12rem;
      border-radius: var(--input-radius-desktop);
   }
   .thumbnail {
      height: 12rem;
      border-radius: var(--input-radius-desktop);
   }

   .name {
      font: var(--secondary-font-desktop);
      font-size: 1.2rem;
   }

   .host {
      font: var(--widget-font-desktop);
   }

   .links {
      margin: var(--xsmall-spacing-desktop) 0 0;
   }

   .links > a > span {
      width: 1.2rem;
      height: 1.2rem;
   }

   /* ======   PODCAST DESC POPUP ================= */
   .descPopup {
      width: 90vw;
      max-width: 800px;
      bottom: 4rem;
      margin: 8rem auto 0;
      padding: var(--small-spacing-desktop);
      border-bottom: 1.2rem solid var(--secondary-color);
      display: grid;
      grid-template-areas:
         "Title Desc"
         "Author Desc"
         "Image Desc"
         "Reviews Desc"
         "Footer Desc"
         "Links Desc";
      grid-template-columns: 50% 50%;
      grid-template-rows: 5rem 2rem 12rem 3rem 4rem 3rem;
   }

   .descPopupCloseModal {
      top: 2rem;
      right: 1.5rem;
   }

   .descPopupTitle {
      grid-area: Title;
      font-size: 1.5rem;
      width: 100%;
      margin: 0.5rem 0;
      overflow-y: scroll;
   }

   .popUpHost {
      grid-area: Author;
      font: var(--widget-font-desktop);
      width: 100%;
      margin: 0;
      overflow-y: scroll;
   }

   .popupDescription {
      grid-area: Desc;
      font-size: 1.2rem;
      margin: var(--medium-spacing-desktop) 0;
      width: 100%;
      max-width: 100%;
      overflow-y: scroll;
      padding-left: 1rem;
   }

   .descPopupImg {
      grid-area: Image;
      width: 12rem;
      height: 12rem;
      margin: 0;
   }

   .starReviewWrapper {
      grid-area: Reviews;
      width: 100%;
   }

   .descPopUpFooter {
      grid-area: Footer;
      font-size: 1rem;
      text-align: left;
      width: 90%;
      display: block;
   }
   .links {
      grid-area: Links;
   }
}
