.mainWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   column-gap: var(--spacing-xs);
}

.search {
   width: calc(100% - 3.5rem - var(--spacing-xs));
}

.category {
   width: 3.5rem;
}
