.mainWrapper {
   width: 90%;
   margin: 0 auto;
   max-width: 600px;
}

.stdH1 {
   font: var(--secondary-font-mobile);
   text-align: center;
   margin: var(--xlarge-spacing-mobile) 0 var(--medium-spacing-mobile);
   font-size: 2.5rem;
}

.stdButton {
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
}

.stdButtonClear {
   margin-bottom: 1rem;
}

.stdInfoText {
   text-align: left;
   margin: 0 auto;
   max-width: 400px;
}

.verctorItem {
   margin: var(--medium-spacing-mobile) auto;
   /* width: 100%;
   max-width: 400px; */
   height: 200px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url("/images/logo.png");
}

.stdH1 > span {
   font: var(--secondary-font-mobile);
   font-size: 2.5rem;
   white-space: pre-wrap;
   background: none;
}

.stdH2 {
   width: 100%;
   font: var(--secondary-font-mobile);
   font: 1.3rem;
   color: var(--gradient-1--dark);
   margin-bottom: 0;
}

.stdP {
   width: 100%;
   font: var(--small-primary-font-mobile);
   margin: 0 auto var(--medium-spacing-mobile);
}

.table {
   width: 100%;
}

.table th,
.table tr {
   background-color: var(--secondary-color);
   color: var(--gradient-1--light);
}

.table tr {
   color: var(--font-color);
}

.table tr td {
   padding: 0.5rem;
   font: var(--widget-font-mobile);
}

.infrastructureIcons {
   width: 100%;
   display: flex;
   align-items: cener;
   justify-content: center;
}

@media only screen and (min-width: 850px) {
   .mainWrapper {
      width: 90%;
      margin: 0 auto;
      max-width: 700px;
   }

   .goBack {
      left: var(--xlarge-spacing-desktop);
   }

   .stdH1 {
      font: var(--secondary-font-desktop);
      margin: var(--xlarge-spacing-desktop) 0 var(--medium-spacing-desktop);
      font-size: 2rem;
   }

   .stdInfoText {
      margin-bottom: var(--large-spacing-desktop);
   }

   .verctorItem {
      margin: var(--small-spacing-desktop) auto;
      height: 400px;
   }

   .stdH1 > span {
      font: var(--secondary-font-desktop);
   }

   .stdH2 {
      font: var(--secondary-font-desktop);
   }

   .stdP {
      font: var(--small-primary-font-desktop);
      margin: 0 auto var(--medium-spacing-desktop);
   }

   .table {
      width: 100%;
   }

   .table th,
   .table tr {
      padding: 1rem;
   }

   .table tr {
      color: var(--font-color);
   }

   .table tr td {
      padding: 1rem 0.5rem;
      font: var(--widget-font-desktop);
   }
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 90%;
      margin: 0 auto;
      max-width: 800px;
   }
}
