.dailyVerseHeaderTitle {
   margin: 8rem auto var(--small-spacing-mobile);
}

.dailyVerseHeaderTitleComments {
   margin: var(--medium-spacing-mobile) auto var(--small-spacing-mobile);
}

.majorGridWrapper {
   margin: 8rem 0 0;
}

.stdButtonDefaultVerse {
   width: auto;
}

@media only screen and (min-width: 800px) {
   .majorGridWrapper {
      margin: 5rem 0;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
      height: 80vh;
   }

   .majorGridWrapperLeft {
      margin: var(--xlarge-spacing-mobile) var(--xsmall-spacing-mobile) var(--medium-spacing-mobile);
   }
   .majorGridWrapperRight {
      height: 100%;
      overflow-y: scroll;
      margin: var(--medium-spacing-mobile) var(--small-spacing-mobile);
   }
}

@media only screen and (min-width: 1000px) {
   .majorGridWrapper {
      max-width: 850px;
      margin: var(--xlarge-spacing-mobile) auto;
   }
}

@media only screen and (min-width: 1200px) {
   .majorGridWrapper {
      max-width: 1000px;
      margin: var(--xlarge-spacing-mobile) auto;
   }
}
