.gridWrapper {
   margin: 0 auto;
   display: grid;
   grid-template-areas:
      "A"
      "B"
      "C";
   grid-template-rows: 1fr 23rem 50rem;
   width: 100%;
   max-width: 43.75rem;
}

.gridWrapperRight,
.gridWrapperLeft,
.gridWrapperMiddle {
   width: 100%;
   grid-area: A;
   position: relative;
   /* margin: 0 0 var(--medium-spacing-mobile); */
}

.gridWrapperMiddle {
   grid-area: B;
   height: 23rem;
   overflow-y: scroll;
   margin: var(--medium-spacing-mobile) 0;
}

.gridWrapperLeft {
   grid-area: C;
}
.commentsWrapper {
   overflow-y: scroll;
   height: 85%;
}

@media only screen and (min-width: 1000px) {
   .gridWrapper {
      margin: var(--medium-spacing-desktop) 0 0;
      display: grid;
      grid-template-areas: "A B";
      grid-template-columns: 1fr 50%;
      grid-template-rows: 1fr;
      width: 100%;
      max-width: 100%;
   }

   .gridWrapperRight,
   .gridWrapperLeft {
      width: 80%;
      margin: 0 auto;
   }

   .commentsWrapper {
      overflow-y: scroll;
      height: 85%;
      height: 55rem;
   }
}
