.loginLogo {
   display: block;
   width: 9.3rem;
   height: 9.3rem;
   margin: var(--large-spacing-mobile) auto;
   background-image: url("/images/logo.png");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.loginTitle {
   font: var(--rare-font-mobile);
   color: var(--font-color);
   width: 100%;
   text-align: center;
   font-size: 2rem;
   margin: var(--medium-spacing-mobile) auto;
   background-image: linear-gradient(45deg, #ff9214ed, #ff0045);
   background-size: 100%;
   background-repeat: repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   text-align: center;
   padding: 0;
   margin: 0;
}

.forgotPasswordWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: var(--small-spacing-mobile);
}

.forgotPassword {
   color: var(--gradient-1--dark);
   font: var(--primary-font-mobile);
   text-decoration: underline;
   border: none;
   background: none;
}

.forgotPassword:hover {
   cursor: pointer;
   color: var(--gradient-1--light);
}

/* -------------- verify account page -------- */
.pText {
   text-align: center;
}

@media only screen and (min-width: 1025px) {
   .loginLogo {
      width: 15.6rem;
      height: 15.6rem;
      margin: var(--large-spacing-desktop) auto;
   }

   .loginTitle {
      font-size: 2.83rem;
   }

   .wrapFlexRow {
      width: 100vw;
   }

   .loginRigth,
   .loginLeft {
      height: 100vh;
      width: 50%;
   }

   .loginRigth {
      display: flex;
   }

   .loginLeft input,
   .loginLeft > div > div {
      display: none;
   }

   .forgotPasswordWrapper {
      margin: var(--small-spacing-desktop);
   }

   .forgotPassword {
      font: var(--primary-font-desktop);
   }
}
