.logo {
   display: block;
   width: 9.3rem;
   height: 9.3rem;
   margin: var(--xlarge-spacing-mobile) auto var(--large-spacing-mobile);
   background-image: url("/images/logo.png");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.title {
   font: var(--rare-font-mobile);
   color: var(--font-color);
   width: 100%;
   text-align: center;
   font-size: 2rem;
   margin: var(--medium-spacing-mobile) auto;
}

.loginRigth {
   background-color: var(--font-color);
}

.inputWrapper {
   max-width: var(--input-width-mobile);
   position: relative;
   height: 4rem;
   margin: var(--medium-spacing-mobile) auto;
}

.inputWrapper label {
   text-align: center;
   width: 100%;
}

.genderInputWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.genderInputWrapper > label {
   width: 100%;
}

.genderInput {
   position: relative;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   background-color: var(--secondary-color);
   margin: var(--xsmall-spacing-mobile) auto;
}

.genderInput:hover,
.genderInputMaleActive,
.genderInputFemaleActive {
   background-color: var(--third-color);
   cursor: pointer;
}
/* 
@media only screen and (min-width: 1025px) {
   .logo {
      width: 18.75rem;
      height: 18.75rem;
      margin: 8rem auto var(--xlarge-spacing-mobile);
   }

   .title {
      font-size: 2.83rem;
   }

   .wrapFlexRow {
      width: 100vw;
   }

   .loginRigth,
   .loginLeft {
      height: 100vh;
      width: 50%;
   }

   .loginRigth {
      display: flex;
   }

   .loginLeft input,
   .loginLeft > div > div {
      display: none;
   }
} */
