.mainWrapper {
   width: 100%;
   max-width: 500px;
   margin: var(--large-spacing-mobile) auto var(--medium-spacing-mobile);
}

.commentaryVerseWrapperFooter {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1000px;
      margin: auto;
   }

   .mainWrapper > div:nth-child(2),
   .mainWrapper > div:nth-child(3) {
      width: 50%;
   }
   .commentaryVerseWrapper {
      margin: calc(5rem + var(--medium-spacing-desktop)) 0;
      padding: var(--small-spacing-desktop);
      box-sizing: border-box;
   }
}
