.closed,
.open {
   padding: var(--spacing-xxs);
   border-radius: 3rem;
   background-color: var(--secondary-color);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   box-shadow: 4px 4px 4px var(--shadow-color);
   transition: 300ms transform ease-in;
}

.closed:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.open {
   position: relative;
   padding-right: var(--spacing-m);
}

.closeBtnWrapper {
   position: absolute;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   height: 3.5rem;
   width: 3.5rem;
   border-radius: 50%;
   background-color: var(--secondary-color);
   right: -1.5rem;
   box-shadow: 4px 4px 4px var(--shadow-color);
   transition: 300ms transform ease-in;
}

.closeBtnWrapper:hover {
   cursor: pointer;
   transform: scale(0.9);
}
