.mainWrapper {
   width: 5rem;
   height: 5rem;
}

.mainWrapper:hover{ 
   transform: scale(1.1);
   cursor: pointer;
}

.mainWrapperCustomSize {
   width: 100%;
   height: 100%;
}

.mainWrapperCustomSize:hover{ 
   transform: scale(1.1);
   cursor: pointer;
}


.ratingOutlineGeneral,
.ratingOutlineTrusted,
.ratingOutlineClassic {
   width: 100%;
   height: 100%;
   border-radius: 40%;
   background-image: linear-gradient(-10deg, var(--gradient-1--light), var(--gradient-1--dark));
}

.ratingOutlineTrusted {
   background-image: linear-gradient(-10deg, var(--gradient-2--light), var(--gradient-2--dark));
}

.ratingOutlineClassic {
   background-image: linear-gradient(-10deg, var(--gradient-3--light)), var(--gradient-3--dark);
}

.background {
   background-color: var(--font-color);
   height: 90%;
   width: 90%;
   border-radius: 40%;
   position: relative;
}

.avatar {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.authorityLevel {
   position: absolute;
   bottom: -5%;
   right: -5%;
   width: 30%;
   height: 30%;
   border-radius: 50%;
   z-index: 1;
   background-image: linear-gradient(-10deg, var(--rating-star-light), var(--rating-star-dark));
}
