.mainWrapper {
   width: 90%;
   height: 100%;
   margin: 0 auto;
}

.editor {
   padding-top: 15rem;
   height: 25rem;
}

@media (max-height: 550px) {
   .editor {
      padding-top: 7rem;
   }
}

.actions {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
}
