.mainWrapper {
   width: 100%;
   height: 100%;
   margin: 0;
}

.close {
   position: fixed;
   top: var(--spacing-s);
   right: var(--spacing-s);
}

.contentWrapper {
   width: 90%;
   margin: 0 auto;
}

.editor {
   padding-top: 15rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.editorImage {
   width: 20rem;
   height: 20rem;
   border-radius: 50%;
   background-color: var(--secondary-color);
   margin-bottom: var(--spacing-s);
}

.fileUrl p {
   word-break: break-all;
}

@media (max-height: 550px) {
   .editor {
      padding-top: 7rem;
   }
}

.actions {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
}
