.mainWrapper {
   width: 100%;
}

.title {
   margin-bottom: var(--spacing-m);
}

.aboutMeWrapper > div {
   margin-bottom: var(--spacing-s);
}

.moreButton,
.myBibleBtn {
   width: 100%;
}

.myBibleBtn {
   margin-top: var(--spacing-s);
}
