.mainWrapper {
   width: 3rem;
   height: 3rem;
   margin: 0.5rem;
   display: flex;
   -moz-box-align: center;
   align-items: center;
   -moz-box-pack: center;
   justify-content: center;
   background-color: var(--secondary-color);
   border-radius: var(--input-radius-mobile);
}

.mainWrapper:hover {
   cursor: pointer;
   background-color: var(--fourth-color);
}
