.mainWrapper {
   position: relative;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
}

.layer {
   position: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100vw;
   height: 100vh;
   z-index: 0;
   top: 0;
   left: 0;
   background-image: url("/images/bkgs/layer_4.svg");
}

.content {
   position: relative;
   z-index: 2;
   margin: 0 auto;
   width: 90%;
   overflow-x: hidden;
}
