.mainWrapper {
   position: relative;
   top: 0;
}

.top {
   width: 100vw;
   left: calc(-50vw + 50%);
   height: 2rem;
   background-color: var(--gradient-1--dark);
}

@media (max-width: 370px) {
   .top {
      height: 6rem;
   }
}

@media (min-width: 500px) {
   .top {
      display: none;
   }
}

.layers {
   aspect-ratio: 480 / 600;
   width: 100vw;
   left: calc(-50vw + 50%);
   margin: 0 auto var(--spacing-l);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("/images/bkgs/layer_1_s.svg"); /* change this on media query*/
}
