.mainWrapper {
   width: 100%;
}

.carrousel {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
   width: 100%;
   gap: var(--spacing-s);
}

.horizontal {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: nowrap;
   width: 100%;
   gap: var(--spacing-s);
   overflow-x: scroll;
}

.imgWrapper {
   width: 100%;
   height: 90vw;
   position: relative;
   border-radius: 2em;
   overflow: hidden;
   flex-shrink: 0.8;
   flex-grow: 1;
}

.horizontal .imgWrapper {
   width: 35rem;
   height: 35rem;
   flex-shrink: 0;
}

.imgWrapper img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.feedback {
   margin: var(--spacing-m) auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn {
   margin-top: var(--spacing-m);
}
