.mainWrapper {
   width: 100%;
}

.carrousel {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   overflow-x: scroll;
   padding: 0 var(--spacing-xs);
   margin-bottom: var(--spacing-l);
}

.comment {
   width: 100%;
   flex-grow: 0;
   flex-shrink: 0;
   margin-bottom: var(--spacing-xs);
}

.loadMoreButton {
   width: 100%;
   margin: 0 auto;
}

.loader,
.error {
   width: 5rem;
   height: 5rem;
   position: fixed;
   inset: 0 0 0 0;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
