.mainWrapper {
   width: 100%;
   min-height: 35rem;
}

.carrousel {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: nowrap;
   overflow-x: scroll;
   padding: var(--spacing-xxs) 0;
}

.quote {
   width: 30rem;
   height: 30rem;
   flex-grow: 0;
   flex-shrink: 0;
   margin-left: var(--spacing-xs);
}

.loader,
.eeror {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
