.mainWrapper {
   width: 100%;
   min-height: 35rem;
}

.carrousel {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: nowrap;
   overflow-x: scroll;
   padding: var(--spacing-xxs) 0;
}

.thought {
   min-width: 30.5rem;
   flex-grow: 0;
   flex-shrink: 0;
   margin-left: var(--spacing-xs);
}

.loader,
.error {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5rem auto 0;
}
