.mainWrapper {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
}

.notification {
   width: 100%;
   margin-bottom: var(--spacing-xxs);
}

.noNotifications {
   background-image: url("/images/empty.svg");
   background-color: var(--font-color);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   margin-top: 20rem;
   height: 30rem;
   width: 30rem;
}

.noNotificationsText {
   width: 100%;
   text-align: center;
   margin-top: var(--spacing-m);
}
.loader,
.error,
.loadMore {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20rem;
}

.loadMore {
   margin-top: var(--spacing-m);
}
