.mainWrapper {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
}

.notification {
   width: 100%;
   margin-bottom: var(--spacing-xxs);
}

.loader,
.error,
.loadMore {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20rem;
}

.loadMore {
   margin-top: var(--spacing-m);
}
