.mainwrapper {
   width: 100%;
}

.commentariesWrapper {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   margin: var(--medium-spacing-mobile) auto;
   flex-wrap: wrap;
}

.commentariesWrapper div {
   flex-shrink: 0;
}

.header {
   width: 100%;
   text-align: center;
   font: var(--secondary-font-mobile);
   color: var(--graient-one);
   margin: var(--large-spacing-mobile) auto var(--small-spacing-mobile);
}
