.userBioWrapper {
   width: 100%;
   max-width: 600px;
   display: grid;
   grid-template-columns: 40% 60%;
   grid-template-rows: repeat(1fr, 4, 1rem);
   border-radius: var(--input-radius-mobile);
   border: 2px solid var(--secondary-color);
   padding: var(--small-spacing-mobile) var(--xsmall-spacing-mobile);
   margin: var(--small-spacing-mobile) auto 0;
}

.avatarReputationWrapper {
   position: relative;
   width: 6rem;
   height: 7rem;
   grid-column: 1/2;
   grid-row: 1/6;
}

.reputationWrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   margin: 0.5rem 0.3rem 0 auto;
   justify-content: center;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
   background-image: linear-gradient(130deg, #ff9214ed, #ff0045);
}

.reputationWrapperTrusted {
   background: var(--user-trusted-level);
}

.avatar {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 5.3rem;
   height: 6.3rem;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
   background-color: #f2f2f2;
}

.trustedPointer {
   display: block;
   position: absolute;
   width: 1.5rem;
   height: 1.5rem;
   background-color: rgb(255, 217, 0);
   -webkit-clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
   );
   clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
   );
   top: 0;
   left: 0;
   right: 0;
   margin: auto;
   bottom: -6em;
}

/* reliability grade */
.reliability {
   grid-column: 2/3;
   grid-row: 1/2;
}

.commentaries {
   grid-column: 2/3;
   grid-row: 2/3;
}

.thoughts {
   grid-column: 2/3;
   grid-row: 3/4;
}

.quotes {
   grid-column: 2/3;
   grid-row: 4/5;
}

.sermons {
   grid-column: 2/3;
   grid-row: 5/6;
}

.userBioWrapper h2 {
   font: var(--secondary-font-desktop);
   font-size: 1.2rem;
   margin: 0;
   padding: 0 0 0.5rem 0.5rem;
}

.userBioWrapper p {
   font: var(--primary-font-desktop);
   font-size: 1rem;
   margin: 0;
   padding: 0 0 0 0.5rem;
   color: var(--fourth-color);
}

.reliabilityA {
   color: var(--aprval-level-a);
}

.reliabilityB {
   color: var(--aprval-level-b);
}

.reliabilityC {
   color: var(--aprval-level-c);
}

.reliabilityF {
   color: var(--aprval-level-f);
}

@media only screen and (min-width: 1000px) {
   .userBioWrapper {
      width: 100%;
      max-width: 800px;
      margin: auto;
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: repeat(1fr, 4, 1rem);
      border-radius: var(--input-radius-desktop);
      border: 2px solid var(--secondary-color);
      padding: var(--small-spacing-desktop) var(--xsmall-spacing-desktop);
      margin: var(--small-spacing-desktop) auto 0;
   }

   .avatarReputationWrapper {
      width: 7rem;
      height: 8rem;
   }

   .reputationWrapper {
      margin: 1rem 2rem 1rem auto;
   }

   .avatar {
      width: 6.3rem;
      height: 7.3rem;
   }

   .trustedPointer {
      bottom: -7em;
   }
   .userBioWrapper h2 {
      font-size: 1.5rem;
      margin: 0;
      padding: 0 1rem 1rem;
   }

   .userBioWrapper p {
      font-size: 1.2rem;
      margin: 0 auto 0.7rem 1rem;
      padding: 0;
   }
}

@media only screen and (min-width: 1200px) {
   .userBioGrid {
      grid-column: 1/2;
      grid-row: 1/2;
   }

   .postGrid {
      grid-column: 2/3;
      grid-row: 1/2;
   }

   .userBioWrapper {
      margin-left: 0;
      margin-right: auto;
   }

   .totalsWrapper {
      width: 90%;
      margin-left: 0;
      margin-right: auto;
   }
}
