.mainWrapper {
    width: 100%; 
    box-shadow: var(--shadow-s);
    border-radius: 2em;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.mainWrapper:hover  {
    transition: 300ms transform ease;
    cursor: pointer;
    transform: scale(.98);
    box-shadow: none;
}