.mainWrapper {
   width: 100%;
   box-shadow: var(--shadow-s);
   border-radius: 2em;
   overflow: hidden;
   background-color: var(--secondary-color);
   overflow: hidden;
}

.mainWrapper:hover {
   transition: 300ms transform ease;
   cursor: pointer;
   box-shadow: none;
}
