.newCommentStack {
   position: fixed;
   height: 100vh;
   width: 100vw;
   margin: 0 auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--primary-color);
   overflow: hidden;
}

.commenaryEditor {
   width: 94%;
   height: 100%;
   margin: 0 auto;
}
