.mainWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: var(--spacing-m);
   padding-bottom: var(--spacing-m);
   border-bottom: 0.2rem solid var(--third-color);
}

.graph {
   flex-basis: 10rem;
}

.stats {
   flex-basis: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
}

.stat {
   margin-bottom: var(--spacing-xs);
}
