/* Home Page - filter comments button  */
.commentFilterWrapper {
   width: 100%;
   height: 3.12rem;
   display: grid;
   grid-template-areas: "left middle right";
   background-color: var(--secondary-color);
   border-radius: var(--input-radius-mobile);
}

.commentFilterWrapper > div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   transition: background-color 300ms ease-in;
}

.commentFilterWrapper > div:hover {
   background-color: var(--third-color);
   cursor: pointer;
   border-radius: inherit;
}

.commentFilterWrapper > div > p {
   margin: 0;
}

.commentFilterWrapperLeft,
.commentFilterWrapperLeftActive {
   grid-area: left;
   border-top-left-radius: var(--input-radius-mobile);
   border-bottom-left-radius: var(--input-radius-mobile);
}

.commentFilterWrapperMiddleActive,
.commentFilterWrapperMiddle {
   grid-area: middle;
}

.commentFilterWrapperRight,
.commentFilterWrapperRightActive {
   grid-area: right;
   border-top-right-radius: var(--input-radius-mobile);
   border-bottom-right-radius: var(--input-radius-mobile);
}

.commentFilterWrapperRightActive {
   background-color: var(--third-color);
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(32, 0, 58, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(185, 128, 211, 0.3);
}

.commentFilterWrapperMiddleActive {
   background-color: var(--third-color);
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(32, 0, 58, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(185, 128, 211, 0.3);
}

.commentFilterWrapperLeftActive {
   background-color: var(--third-color);
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(32, 0, 58, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(185, 128, 211, 0.3);
}

.commentFilterWrapperLeftActive > p,
.commentFilterWrapperRightActive > p,
.commentFilterWrapperMiddleActive > p {
   background-image: linear-gradient(45deg, #ff9214ed, #ff0045);
   background-size: 100%;
   background-repeat: repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   font: var(--primary-font-mobile);
   text-align: center;
   padding: 0;
   margin: 0;
}

/*********** Dropdown *********/
.dropdownWrapper {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--secondary-color);
   margin: var(--medium-spacing-mobile) auto 0;
   border-top-left-radius: var(--button-radius-mobile);
   border-top-right-radius: var(--button-radius-mobile);
   z-index: 5;
}
.initialValue {
   text-align: center;
   width: 50%;
   padding: var(--button-padding-mobile);
   transition: background-color 300ms ease-in;
   font: var(--third-font-mobile);
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(32, 0, 58, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(185, 128, 211, 0.3);
   background-color: var(--third-color);
}
.initialValueType {
   border-top-left-radius: var(--button-radius-mobile);
}

#initialValueTypeCommentary {
   pointer-events: none;
}
.initialValueCat {
   border-top-right-radius: var(--button-radius-mobile);
}
.initialValue:hover {
   background-color: var(--fourth-color);
   cursor: pointer;
}

.hiddenDropdown {
   position: absolute;
   top: 2.79rem;
   left: 0;
   background-color: var(--fourth-color);
   width: 50%;
   height: auto;
   max-height: 225px;
   z-index: inherit;
   overflow: scroll;
   border-bottom-right-radius: var(--button-radius-mobile);
   border-bottom-left-radius: var(--button-radius-mobile);
   display: none;
}

.hiddenDropdownCat {
   left: 50%;
}

.hiddenDropdown div div {
   padding: var(--xsmall-spacing-mobile);
   text-align: left;
}

.hiddenDropdown div {
   position: relative;
}

.hiddenDropdown div:hover {
   background-color: var(--secondary-color);
   cursor: pointer;
}

.hiddenDropdownCat > div:nth-child(1) {
   border-left: 15px solid rgb(32, 32, 32);
}
.hiddenDropdownCat > div:nth-child(2) {
   border-left: 15px solid rgb(1, 96, 240);
}
.hiddenDropdownCat > div:nth-child(3) {
   border-left: 15px solid #9c6644;
}
.hiddenDropdownCat > div:nth-child(4) {
   border-left: 15px solid rgb(50, 190, 167);
}
.hiddenDropdownCat > div:nth-child(5) {
   border-left: 15px solid rgb(21, 158, 2);
}
.hiddenDropdownCat > div:nth-child(6) {
   border-left: 15px solid rgb(247, 99, 0);
}
.hiddenDropdownCat > div:nth-child(7) {
   border-left: 15px solid rgb(255, 84, 170);
}
.hiddenDropdownCat > div:nth-child(8) {
   border-left: 15px solid rgb(142, 54, 224);
}
.hiddenDropdownCat > div:nth-child(9) {
   border-left: 15px solid rgb(224, 0, 0);
}
.hiddenDropdownCat > div:nth-child(10) {
   border-left: 15px solid rgb(255, 174, 0);
}
.iconInfo {
   display: inline-block;
   position: absolute;
   top: 0.7rem;
   right: 1rem;
   scale: 0.7;
   background-image: url("../../public/images/commentary-info.svg");
}

@media only screen and (min-width: 1000px) {
   .dropdownWrapper {
      border-top-left-radius: var(--button-radius-desktop);
      border-top-right-radius: var(--button-radius-desktop);
   }
   .hiddenDropdownCat {
      max-height: 250px;
   }
}
