.mainWrapper {
   position: fixed;
   flex-wrap: wrap;
   top: 0;
   left: 0;
   z-index: 16;
   width: 100vw;
   margin: auto;
   height: 100vh;
   background: var(--secondary-color);
}

.contentUserWrapper {
   height: 65%;
   width: 90%;
   margin: auto;
   max-width: 800px;
}

.bkgsCarrousel {
   width: 75%;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
   overflow-x: scroll;
   margin: var(--medium-spacing-mobile) auto var(--medium-spacing-mobile) 5%;
}

.bkgsCarrousel span {
   height: 2rem;
   width: 2rem;
   border-radius: 50%;
   display: inline-block;
   margin: 0 0.5rem;
   flex-shrink: 0;
   flex-grow: 0;
   cursor: pointer;
}

.textarea {
   width: 100%;
   font-size: 2rem;
   line-height: 2em;
   height: 80%;
   overflow-y: scroll;
   font: var(--quotes-font);
   font-size: 2rem;
   text-align: center;
   color: white;
   background-color: transparent;
   outline: none;
   margin-bottom: var(--large-spacing-mobile);
   border: 2px solid #f2f2f250;
   border-radius: var(--input-radius-mobile);
   padding: 1rem;
}

.textarea::placeholder {
   color: #f2f2f250;
}

.storyByInput {
   width: 100%;
   font-size: 0.9rem;
   font: var(--quotes-font);
   display: block;
   background-color: transparent;
   border: 2px solid #f2f2f250;
   border-radius: var(--input-radius-mobile);
   padding: 0 0.5rem;
   outline: none;
   color: white;
   font-size: 1rem;
}

.storyByInput::placeholder {
   color: #f2f2f250;
}

.postReactionWrapper {
   z-index: 10;
   width: 80%;
   top: 93vh;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   position: fixed;
}

.stdButton {
   position: relative;
   margin: 0 auto;
   z-index: 16;
}

.closeModal {
   z-index: 11;
}

/* ========================   QUOTES STYLES ====================== */
#DEFAULT_BKG {
   background: var(--secondary-color);
}

#BL {
   background-image: linear-gradient(120deg, rgba(0, 232, 238, 1) 0%, rgba(235, 2, 2, 1) 100%);
}
#BL textarea,
#BL input {
   color: var(--font-color);
}

#YLW {
   background-image: linear-gradient(120deg, rgba(255, 208, 2, 1) 0%, rgba(224, 67, 241, 1) 100%);
}

#YLW textarea,
#YLW input {
   color: var(--font-color);
}

#PPL {
   background-image: linear-gradient(120deg, rgba(153, 2, 237, 1) 0%, rgba(10, 207, 213, 1) 100%);
}
#PPL textarea,
#PPL input {
   color: var(--font-color);
}

#RD {
   background-image: linear-gradient(120deg, rgba(238, 3, 3, 1) 0%, rgba(10, 125, 213, 1) 100%);
}
#RD textarea,
#RD input {
   color: var(--font-color);
}

#PNK {
   background-image: linear-gradient(120deg, rgb(245, 89, 250) 0%, rgb(2, 255, 242) 100%);
}
#PNK textarea,
#PNK input {
   color: var(--font-color);
}

#GN {
   background-image: linear-gradient(120deg, rgba(0, 171, 22, 1) 0%, rgba(5, 188, 227, 1) 100%);
}
#GN textarea,
#GN input {
   color: var(--font-color);
}

#BLK {
   background-image: linear-gradient(120deg, rgba(37, 36, 36, 1) 0%, rgba(57, 60, 88, 1) 100%);
}
#BLK textarea,
#BLK input {
   color: var(--font-color);
}

#BR {
   background-image: linear-gradient(120deg, rgba(150, 75, 0, 1) 0%, rgba(31, 0, 0, 1) 100%);
}
#BR textarea,
#BR input {
   color: var(--font-color);
}

#DBD {
   background-image: linear-gradient(120deg, rgba(3, 8, 116, 1) 0%, rgba(203, 2, 2, 1) 100%);
}
#DBD textarea,
#DBD input {
   color: var(--font-color);
}

#OT0 {
   background-image: linear-gradient(120deg, #f57a15, #0e8fda);
}
#OT0 textarea,
#OT0 input {
   color: var(--font-color);
}

#OT1 {
   background-image: linear-gradient(120deg, #ffffff, #54befc);
}
#OT1 textarea,
#OT1 input {
   color: var(--primary-color);
}
#OT1 textarea::placeholder,
#OT1 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT2 {
   background-image: linear-gradient(120deg, #8fda18, #ffffff);
}
#OT2 textarea,
#OT2 input {
   color: var(--primary-color);
}
#OT2 textarea::placeholder,
#OT2 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT3 {
   background-image: linear-gradient(120deg, #ffffff, #f7a0f2);
}
#OT3 textarea,
#OT3 input {
   color: var(--primary-color);
}
#OT3 textarea::placeholder,
#OT3 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT4 {
   background-image: linear-gradient(120deg, #36322e, #8249dd);
}
#OT4 textarea,
#OT4 input {
   color: var(--font-color);
}

#OT5 {
   background-image: linear-gradient(120deg, #ffbb00, #da0e0e);
}
#OT5 textarea,
#OT5 input {
   color: var(--font-color);
}

#OT6 {
   background-image: linear-gradient(120deg, #06f7eb, #8cda0e);
}
#OT6 textarea,
#OT6 input {
   color: var(--primary-color);
}
#OT6 textarea::placeholder,
#OT6 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT7 {
   background-image: linear-gradient(120deg, #0051ff, #00eeff);
}
#OT7 textarea,
#OT7 input {
   color: var(--font-color);
}

#OT8 {
   background-image: linear-gradient(120deg, #f5cc15, #880eda);
}
#OT8 textarea,
#OT8 input {
   color: var(--font-color);
}

#OT9 {
   background-image: linear-gradient(120deg, #f5159f, #e38ce6);
}
#OT9 textarea,
#OT9 input {
   color: var(--font-color);
}

.tagsWrapper {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 90%;
   margin: 1rem auto;
   overflow-x: hidden;
}

.categoryTitle {
   padding-right: 1rem;
}

.categories {
   width: 60%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   overflow-x: scroll;
   flex-wrap: nowrap;
   flex-shrink: 0;
   flex-grow: 0;
}

.category {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
   padding: 0.1rem 0.5rem;
   margin: 0 0.5rem 0;
   cursor: pointer;
}

.info {
   color: var(--warning-color);
   border-radius: 50%;
   width: 1rem;
   height: 1rem;
   display: inline-block;
   border: 2px solid var(--warning-color);
   font-size: 0.7rem;
   text-align: center;
   align-items: center;
   justify-content: center;
   line-height: 1em;
   margin: 0 0 0 0.5rem;
}

.selectedTagColor {
   width: 100%;
   height: 2rem;
   position: absolute;
   bottom: 0;
   left: 0;
}

@media only screen and (max-height: 800px) {
   .contentUserWrapper {
      height: 60%;
      width: 90%;
      margin: auto;
   }
   .textarea {
      height: 65%;
   }
}

@media only screen and (max-height: 600px) {
   .contentUserWrapper {
      height: 50%;
      width: 90%;
      margin: auto;
   }
   .textarea {
      height: 55%;
   }
}

@media only screen and (min-width: 700px) {
   .contentUserWrapper {
      max-width: 600px;
      height: 60%;
   }

   .bkgsCarrousel {
      max-width: 700px;
      margin: var(--large-spacing-desktop) auto;
   }

   .tagsWrapper {
      max-width: 700px;
   }

   .categories {
      width: 550px;
   }
}

@media only screen and (min-width: 1000px) {
   .contentUserWrapper {
      max-width: 800px;
      height: 70%;
   }

   .bkgsCarrousel {
      height: 2.5rem;
      max-width: 800px;
      margin: var(--large-spacing-desktop) auto;
   }

   .bkgsCarrousel span {
      height: 2.5rem;
      width: 2.5rem;
   }

   .textarea {
      width: 100%;
      line-height: 2em;
      height: 70%;
      font: var(--quotes-font);
      font-size: 3rem;
      border-radius: var(--input-radius-desktop);
   }

   .textarea::placeholder {
      color: #f2f2f250;
      font-size: 3rem;
   }

   .storyByInput {
      border-radius: var(--input-radius-desktop);
      padding: 0.5rem;
      font-size: 1.2rem;
      margin: 0 auto;
   }

   .storyByInput::placeholder {
      color: #f2f2f250;
   }

   .stdButton {
      position: relative;
      margin: 0 auto;
      z-index: 16;
   }

   .closeModal {
      z-index: 11;
   }

   .tagsWrapper {
      max-width: 800px;
      margin: 0 auto 1rem;
   }

   .categoryTitle {
      padding-right: 1rem;
   }

   .categories {
      width: 650px;
   }
}

@media (max-height: 950px) and (min-width: 1000px) {
   .contentUserWrapper {
      height: 60%;
   }
}
