.mainWrapper {
   position: fixed;
   flex-wrap: wrap;
   top: 0;
   left: 0;
   z-index: 16;
   width: 100vw;
   margin: auto;
   height: 100vh;
   background: var(--secondary-color);
}

.contentUserWrapper {
   height: 65%;
   width: 90%;
   margin: auto;
   max-width: 800px;
}

.bkgsCarrousel {
   width: 75%;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
   overflow-x: scroll;
   margin: var(--medium-spacing-mobile) auto var(--medium-spacing-mobile) 5%;
}

.bkgsCarrousel span {
   height: 2rem;
   width: 2rem;
   border-radius: 50%;
   display: inline-block;
   margin: 0 0.5rem;
   flex-shrink: 0;
   flex-grow: 0;
   cursor: pointer;
}

.textarea {
   width: 100%;
   font-size: 2rem;
   line-height: 2em;
   height: 80%;
   overflow-y: scroll;
   font: var(--quotes-font);
   font-size: 2rem;
   text-align: center;
   color: white;
   background-color: transparent;
   outline: none;
   margin-bottom: var(--large-spacing-mobile);
   border: 2px solid #f2f2f250;
   border-radius: var(--input-radius-mobile);
   padding: 1rem;
}

.textarea::placeholder {
   color: #f2f2f250;
}

.storyByInput {
   width: 100%;
   font-size: 0.9rem;
   font: var(--quotes-font);
   display: block;
   background-color: transparent;
   border: 2px solid #f2f2f250;
   border-radius: var(--input-radius-mobile);
   padding: 0 0.5rem;
   outline: none;
   color: white;
   font-size: 1rem;
}

.storyByInput::placeholder {
   color: #f2f2f250;
}

.postReactionWrapper {
   z-index: 10;
   width: 80%;
   top: 93vh;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   position: fixed;
}

.stdButton {
   position: relative;
   margin: 0 auto;
   z-index: 16;
}

.closeModal {
   z-index: 11;
}

/* ========================   QUOTES STYLES ====================== */
#DEFAULT_BKG {
   background: var(--secondary-color);
}

#BL {
   background-image: var(--quote-bkg-one);
}
#BL textarea,
#BL input,
#BL p {
   color: var(--font-color);
}

#YLW {
   background-image: var(--quote-bkg-two);
}

#YLW textarea,
#YLW input,
#YLW p {
   color: var(--font-color);
}

#PPL {
   background-image: var(--quote-bkg-three);
}
#PPL textarea,
#PPL input,
#PPL p {
   color: var(--font-color);
}

#RD {
   background-image: var(--quote-bkg-four);
}
#RD textarea,
#RD input,
#PPL p {
   color: var(--font-color);
}

#PNK {
   background-image: var(--quote-bkg-five);
}
#PNK textarea,
#PNK input,
#PNK p {
   color: var(--font-color);
}

#GN {
   background-image: var(--quote-bkg-six);
}
#GN textarea,
#GN input,
#GN p {
   color: var(--font-color);
}

#BLK {
   background-image: var(--quote-bkg-seven);
}
#BLK textarea,
#BLK input,
#BLK p {
   color: var(--font-color);
}

#BR {
   background-image: var(--quote-bkg-eight);
}
#BR textarea,
#BR input,
#BR p {
   color: var(--font-color);
}

#DBD {
   background-image: var(--quote-bkg-nine);
}
#DBD textarea,
#DBD input,
#DBD p {
   color: var(--font-color);
}

#OT0 {
   background-image: var(--quote-bkg-ten);
}
#OT0 textarea,
#OT0 input,
#OT0 p {
   color: var(--font-color);
}

#OT1 {
   background-image: var(--quote-bkg-eleven);
}
#OT1 textarea,
#OT1 input,
#OT1 p {
   color: var(--primary-color);
}
#OT1 p span {
   background-image: url("/images/posts/quotationMark_dark.svg");
}

#OT1 textarea::placeholder,
#OT1 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT2 {
   background-image: var(--quote-bkg-twelve);
}
#OT2 textarea,
#OT2 input,
#OT2 p {
   color: var(--primary-color);
}

#OT2 p span {
   background-image: url("/images/posts/quotationMark_dark.svg");
}

#OT2 textarea::placeholder,
#OT2 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT3 {
   background-image: var(--quote-bkg-thirteen);
}

#OT3 textarea,
#OT3 input,
#OT3 p {
   color: var(--primary-color);
}

#OT3 p span {
   background-image: url("/images/posts/quotationMark_dark.svg");
}

#OT3 textarea::placeholder,
#OT3 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT4 {
   background-image: var(--quote-bkg-fourteen);
}
#OT4 textarea,
#OT4 input,
#QT4 p {
   color: var(--font-color);
}

#OT5 {
   background-image: var(--quote-bkg-fifteen);
}
#OT5 textarea,
#OT5 input,
#OT5 p {
   color: var(--font-color);
}

#OT6 {
   background-image: var(--quote-bkg-sixteen);
}
#OT6 textarea,
#OT6 input,
#OT6 p {
   color: var(--primary-color);
}

#OT6 p span {
   background-image: url("/images/posts/quotationMark_dark.svg");
}

#OT6 textarea::placeholder,
#OT6 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT7 {
   background-image: var(--quote-bkg-seventeen);
}
#OT7 textarea,
#OT7 input,
#OT7 p {
   color: var(--font-color);
}

#OT8 {
   background-image: var(--quote-bkg-eighteen);
}

#OT8 textarea,
#OT8 input,
#OT8 p {
   color: var(--font-color);
}

#OT9 {
   background-image: var(--quote-bkg-nineteen);
}
#OT9 textarea,
#OT9 input,
#OT9 p {
   color: var(--font-color);
}

.tagsWrapper {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 90%;
   margin: 1rem auto;
   overflow-x: hidden;
}

.categoryTitle {
   padding-right: 1rem;
}

.categories {
   width: 60%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   overflow-x: scroll;
   flex-wrap: nowrap;
   flex-shrink: 0;
   flex-grow: 0;
}

.category {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
   padding: 0.1rem 0.5rem;
   margin: 0 0.5rem 0;
   cursor: pointer;
}

.info {
   color: var(--warning-color);
   border-radius: 50%;
   width: 1rem;
   height: 1rem;
   display: inline-block;
   border: 2px solid var(--warning-color);
   font-size: 0.7rem;
   text-align: center;
   align-items: center;
   justify-content: center;
   line-height: 1em;
   margin: 0 0 0 0.5rem;
}

.selectedTagColor {
   width: 100%;
   height: 2rem;
   position: absolute;
   bottom: 0;
   left: 0;
}

@media only screen and (max-height: 800px) {
   .contentUserWrapper {
      height: 60%;
      width: 90%;
      margin: auto;
   }
   .textarea {
      height: 65%;
   }
}

@media only screen and (max-height: 600px) {
   .contentUserWrapper {
      height: 50%;
      width: 90%;
      margin: auto;
   }
   .textarea {
      height: 55%;
   }
}

@media only screen and (min-width: 700px) {
   .contentUserWrapper {
      max-width: 600px;
      height: 60%;
   }

   .bkgsCarrousel {
      max-width: 700px;
      margin: var(--large-spacing-desktop) auto;
   }

   .tagsWrapper {
      max-width: 700px;
   }

   .categories {
      width: 550px;
   }
}

@media only screen and (min-width: 1000px) {
   .contentUserWrapper {
      max-width: 800px;
      height: 70%;
   }

   .bkgsCarrousel {
      height: 2.5rem;
      max-width: 800px;
      margin: var(--large-spacing-desktop) auto;
   }

   .bkgsCarrousel span {
      height: 2.5rem;
      width: 2.5rem;
   }

   .textarea {
      width: 100%;
      line-height: 2em;
      height: 70%;
      font: var(--quotes-font);
      font-size: 3rem;
      border-radius: var(--input-radius-desktop);
   }

   .textarea::placeholder {
      color: #f2f2f250;
      font-size: 3rem;
   }

   .storyByInput {
      border-radius: var(--input-radius-desktop);
      padding: 0.5rem;
      font-size: 1.2rem;
      margin: 0 auto;
   }

   .storyByInput::placeholder {
      color: #f2f2f250;
   }

   .stdButton {
      position: relative;
      margin: 0 auto;
      z-index: 16;
   }

   .closeModal {
      z-index: 11;
   }

   .tagsWrapper {
      max-width: 800px;
      margin: 0 auto 1rem;
   }

   .categoryTitle {
      padding-right: 1rem;
   }

   .categories {
      width: 650px;
   }
}

@media (max-height: 950px) and (min-width: 1000px) {
   .contentUserWrapper {
      height: 60%;
   }
}
