.mainWrapper {
   width: 90%;
   max-width: var(--max-width-main-wrapper-desktop);
   margin: calc(var(--medium-spacing-mobile) + 5rem) auto 0;
   overflow-x: hidden;
}

.notificationBell,
.settingsLinkIcon {
   width: 2rem;
   height: 2rem;
   background-image: url("/images/bell.svg");
   background-position: center;
   background-size: 90%;
   background-repeat: no-repeat;
   margin: 0.5rem auto var(--xsmall-spacing-mobile) 0;
   cursor: pointer;
   display: inline-block;
}

.settingsLinkIcon {
   margin-right: var(--medium-spacing-mobile);
   background-image: url("/images/settings.svg");
}

.bellWnotificationWrapper {
   width: 2rem;
   height: 2rem;
   position: relative;
   margin: 0.5rem auto var(--xsmall-spacing-mobile) 0;
}

.notificationSignifier {
   width: 0.7rem;
   height: 0.7rem;
   top: 0;
   right: 0.3rem;
   position: absolute;
   background-color: rgb(219, 57, 57);
   border-radius: 50%;
   display: block;
}

.notificationBellWNotification {
   width: 2rem;
   height: 2rem;
   background-image: url("/images/bellWnotification.svg");
   background-position: center;
   background-size: 90%;
   background-repeat: no-repeat;
   cursor: pointer;
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      margin: calc(var(--medium-spacing-desktop) + 7rem) auto;
      max-width: 950px;
      position: relative;
      left: 2rem;
   }

   .notificationBell,
   .settingsLinkIcon {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0.5rem auto var(--xsmall-spacing-desktop) 0;
   }

   .settingsLinkIcon {
      margin-right: var(--medium-spacing-desktop);
   }

   .bellWnotificationWrapper {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0.5rem auto var(--xsmall-spacing-desktop) 0;
   }

   .notificationSignifier {
      width: 0.8rem;
      height: 0.8rem;
      top: 0;
      right: 0.3rem;
   }

   .notificationBellWNotification {
      width: 2.5rem;
      height: 2.5rem;
   }
}

@media only screen and (min-width: 1200px) {
   .mainWrapper {
      display: grid;
      max-width: 1400px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
   }
}

@media only screen and (min-width: 1350px) {
   .mainWrapper {
      grid-template-columns: 40% 60%;
   }
}
