.mainWrapper {
   width: 90%;
   max-width: var(--max-width-main-wrapper-desktop);
   margin: calc(var(--medium-spacing-mobile) + 5rem) auto;
   overflow-x: hidden;
}

.notificationBell,
.settingsLink {
   width: 2rem;
   height: 2rem;
   background-image: url("/images/bell.svg");
   background-position: center;
   background-size: 90%;
   background-repeat: no-repeat;
   margin: 0.5rem auto var(--xsmall-spacing-mobile) 0;
   cursor: pointer;
   display: inline-block;
}

.settingsLink {
   margin-right: var(--medium-spacing-mobile);
   background-image: url("/images/settings.svg");
}

.bellWnotificationWrapper {
   width: 2rem;
   height: 2rem;
   position: relative;
   margin: 0.5rem auto var(--xsmall-spacing-mobile) 0;
}

.notificationSignifier {
   width: 0.7rem;
   height: 0.7rem;
   top: 0;
   right: 0.3rem;
   position: absolute;
   background-color: rgb(219, 57, 57);
   border-radius: 50%;
   display: block;
}

.notificationBellWNotification {
   width: 2rem;
   height: 2rem;
   background-image: url("/images/bellWnotification.svg");
   background-position: center;
   background-size: 90%;
   background-repeat: no-repeat;
   cursor: pointer;
}

.userBioWrapper {
   width: 100%;
   display: grid;
   grid-template-columns: 40% 60%;
   grid-template-rows: repeat(1fr, 4, 1rem);
}

.reputationWrapper {
   width: 6rem;
   height: 7rem;
   grid-column: 1/2;
   grid-row: 1/6;
   display: flex;
   align-items: center;
   margin: 0.5rem 0.3rem 0 auto;
   justify-content: center;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.avatar {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 5.3rem;
   height: 6.3rem;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.reliability {
   grid-column: 2/3;
   grid-row: 1/2;
}

.commentaries {
   grid-column: 2/3;
   grid-row: 2/3;
}

.thoughts {
   grid-column: 2/3;
   grid-row: 3/4;
}

.quotes {
   grid-column: 2/3;
   grid-row: 4/5;
}

.sermons {
   grid-column: 2/3;
   grid-row: 5/6;
}

.userBioWrapper h2 {
   font: var(--secondary-font-desktop);
   font-size: 1.2rem;
   margin: 0;
   padding: 0 0 0.5rem 0.5rem;
}

.userBioWrapper p {
   font: var(--primary-font-desktop);
   font-size: 1rem;
   margin: 0;
   padding: 0 0 0 0.5rem;
   color: var(--fourth-color);
}

.reliabilityA {
   color: rgb(91, 202, 91);
}

.reliabilityB {
   color: rgb(255, 203, 89);
}

.reliabilityC {
   color: rgb(255, 127, 7);
}

.reliabilityF {
   color: rgb(207, 58, 47);
}

.totalsWrapper {
   width: 100%;
   max-width: 600px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: nowrap;
   border-bottom: 2px solid var(--font-color);
}

.totalsWrapper p {
   font: var(--widget-font-mobile);
}

/* =============   about me section   ================= */
.aboutMeWrapper {
   border-bottom: 2px solid var(--font-color);
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
}

.favoriteVerseSpan {
   text-decoration: underline;
   color: rgb(15, 121, 192);
}

.aboutMeWrapper ul li {
   font: var(--widget-font-mobile);
   font-size: 1rem;
   margin: 0.5rem auto;
}

.myStory {
   color: var(--graient-one);
   text-decoration: underline;
   cursor: pointer;
}

/* =======================   my posts section    =============== */
.myPostsWrapper {
   width: 100%;
   max-width: 600px;
   margin: auto;
}

.myPostsMenu {
   width: 100%;
   border-bottom: 2px solid var(--fourth-color);
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   overflow-x: scroll;
   margin: var(--medium-spacing-mobile) auto;
}

.myPostsMenu > span {
   color: var(--fourth-color);
   margin-right: 1rem;
   font-size: 1rem;
   padding: 0.3rem 0;
   cursor: pointer;
}

.storiesWrapper {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      margin: calc(var(--medium-spacing-desktop) + 7rem) auto;
   }

   .notificationBell,
   .settingsLink {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0.5rem auto var(--xsmall-spacing-desktop) 0;
   }

   .settingsLink {
      margin-right: var(--medium-spacing-desktop);
   }

   .bellWnotificationWrapper {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0.5rem auto var(--xsmall-spacing-desktop) 0;
   }

   .notificationSignifier {
      width: 0.8rem;
      height: 0.8rem;
      top: 0;
      right: 0.3rem;
   }

   .notificationBellWNotification {
      width: 2.5rem;
      height: 2.5rem;
   }

   .userBioWrapper {
      width: 100%;
      max-width: 800px;
      margin: auto;
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: repeat(1fr, 4, 1rem);
      margin-bottom: var(--medium-spacing-desktop);
   }

   .reputationWrapper {
      width: 7rem;
      height: 8rem;
      margin: 1rem 2rem 1rem auto;
   }

   .avatar {
      width: 6.3rem;
      height: 7.3rem;
   }

   .userBioWrapper h2 {
      font-size: 1.5rem;
      margin: 0;
      padding: 0 1rem 1rem;
   }

   .userBioWrapper p {
      font-size: 1.2rem;
      margin: 0 auto 0.7rem 1rem;
      padding: 0;
   }

   .totalsWrapper {
      width: 100%;
      max-width: 800px;
   }

   .totalsWrapper p {
      font: var(--widget-font-mobile);
      font-size: 1.1rem;
   }

   /* =============   about me section   ================= */
   .aboutMeWrapper {
      max-width: 800px;
      margin: 0 auto var(--medium-spacing-desktop);
   }
   .aboutMeWrapper ul li {
      font: var(--widget-font-desktop);
      font-size: 1.2rem;
      margin: 1rem auto;
   }

   /* =======================   my posts section    =============== */
   .myPostsWrapper {
      max-width: 800px;
   }

   .myPostsMenu {
      margin: var(--medium-spacing-desktop) auto;
   }

   .myPostsMenu > span {
      margin-right: 2.5rem;
      font-size: 1.2rem;
   }

   .storiesWrapper {
      justify-content: flex-start;
   }
}

@media only screen and (min-width: 1200px) {
   .mainWrapper {
      display: grid;
      max-width: 1400px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
   }

   .userBioGrid {
      grid-column: 1/2;
      grid-row: 1/2;
   }

   .postGrid {
      grid-column: 2/3;
      grid-row: 1/2;
   }

   .userBioWrapper {
      width: 90%;
      margin-left: 0;
      margin-right: auto;
   }

   .totalsWrapper {
      width: 90%;
      margin-left: 0;
      margin-right: auto;
   }

   /* =============   about me section   ================= */
   .aboutMeWrapper {
      width: 90%;
      margin-left: 0;
      margin-right: auto;
   }

   /* =======================   my posts section    =============== */
   .myPostsWrapper {
      max-width: 90%;
      margin-left: auto;
      margin-right: 0;
      max-height: 100vh;
      overflow-y: scroll;
   }
}

@media only screen and (min-width: 1350px) {
   .mainWrapper {
      grid-template-columns: 40% 60%;
   }
}
