.mainWrapper {
   width: 100%;
   max-width: 650px;
   margin: calc(5rem + var(--medium-spacing-mobile)) auto 0;
   cursor: default;
}

.usersGrid {
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   flex-wrap: wrap;
   cursor: default;
}

.title {
   font: var(--secondary-font-mobile);
   width: 100%;
   text-align: center;
   color: var(--fourth-color);
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      max-width: 900px;
      margin: calc(7rem + var(--medium-spacing-desktop)) auto 0;
   }

   .title {
      font: var(--secondary-font-desktop);
   }
}

@media only screen and (min-width: 1200px) {
   .mainWrapper {
      max-width: 1100px;
   }
}
