.mainWrapper {
   width: 90%;
   margin: 7rem auto 0;
   overflow-x: hidden;
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      max-width: 800px;
      margin: 7rem auto 0;
   }
}

@media only screen and (min-width: 1200px) {
   .mainWrapper {
      width: 90%;
      max-width: 1000px;
      margin: 7rem auto 0;
   }
}
