.link {
   text-decoration: underline;
}

.two {
   color: var(--third-color);
}

.two:hover {
   color: var(--font-color);
}

.xxsmall {
   font-size: var(--fs-xxsmall);
}

.xsmall {
   font-size: var(--fs-xsmall);
}

.small {
   font-size: var(--fs-small);
}

.main {
   font-size: var(--fs-main);
}

.large {
   font-size: var(--fs-large);
}

.xlarge {
   font-size: var(--fs-xlarge);
}

.xxlarge {
   font-size: var(--fs-xxlarge);
}

.xxxlarge {
   font-size: var(--fs-xxxlarge);
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}

.justify {
   text-align: justify;
}
