.mainWrapper {
   background-color: var(--fourth-color);
   width: 15rem;
   height: 15rem;
   border-radius: var(--input-radius-mobile);
   top: 30vh;
   left: 0;
   right: 0;
   bottom: 0;
   position: fixed;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding: 0.5rem;
   z-index: 15;
}

.title {
   width: 100%;
   text-align: center;
   font: var(--secondary-font-mobile);
}

.buttonsWrapper {
   margin: var(--medium-spacing-mobile) auto;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.confirm,
.cancel {
   background-color: rgb(236, 59, 59);
   font: var(--medium-spacing-mobile);
   border-radius: var(--button-radius-mobile);
   padding: 0.5rem;
   color: var(--font-color);
}

.confirm:hover,
.cancel:hover {
   cursor: pointer;
   opacity: 0.8;
}

.confirm {
   background-color: rgb(50, 202, 70);
}
