.mainWrapper {
   width: 7rem;
   flex-grow: 0;
   flex-shrink: 0;
   margin: var(--xsmall-spacing-mobile);
   cursor: default;
}

.avatarWrapper {
   width: 7rem;
   height: 8rem;
   display: flex;
   align-items: center;
   justify-content: center;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
   background-image: linear-gradient(130deg, var(--gradient-1--dark), var(--gradient-1--light));
}

.avatar {
   width: 90%;
   height: 90%;
   object-fit: cover;
   object-position: center;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.userSignature {
   font-size: 0.8rem;
   text-align: center;
   width: 100%;
   margin: auto;
   display: block;
   white-space: nowrap;
   overflow-x: hidden;
   text-overflow: ellipsis;
   cursor: default;
}

.userProfile {
   font-size: 0.8rem;
   width: 100%;
   display: block;
   text-align: center;
   color: var(--gradient-1--dark);
   text-decoration: underline;
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 8rem;
      margin: var(--small-spacing-desktop);
   }

   .avatarWrapper {
      width: 8rem;
      height: 9rem;
   }

   .userSignature {
      font-size: 0.9rem;
   }
}
