.mainStoryWrapper {
   width: 3.5rem;
   margin: var(--medium-spacing-mobile) 0.4rem 0.1rem;
   cursor: pointer;
}
.userReputationWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 4rem;
   width: 3.5rem;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
   margin: 0 0 0.1rem;
}

.avatarImage {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 3.3rem;
   width: 2.8rem;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.userSignature {
   font-size: 0.7rem;
   margin: 0;
   width: 100%;
   text-align: center;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

/* story posts bakground */
.storyPost {
   width: 80vw;
   height: 20rem;
   z-index: 10;
}
#LBL {
   background-image: linear-gradient(120deg, rgba(0, 232, 238, 1) 0%, rgba(235, 2, 2, 1) 100%);
}

#YLW {
   background-image: linear-gradient(120deg, rgba(255, 208, 2, 1) 0%, rgba(224, 67, 241, 1) 100%);
}

#PPL {
   background-image: linear-gradient(120deg, rgba(153, 2, 237, 1) 0%, rgba(10, 207, 213, 1) 100%);
}

#RD {
   background-image: linear-gradient(120deg, rgba(238, 3, 3, 1) 0%, rgba(10, 125, 213, 1) 100%);
}

#PNK {
   background-image: linear-gradient(90deg, rgb(245, 89, 250) 0%, rgb(2, 255, 242) 100%);
}

#GN {
   background-image: linear-gradient(120deg, rgba(0, 171, 22, 1) 0%, rgba(5, 188, 227, 1) 100%);
}

#BLK {
   background-image: linear-gradient(120deg, rgba(37, 36, 36, 1) 0%, rgba(57, 60, 88, 1) 100%);
}

#BR {
   background-image: linear-gradient(120deg, rgba(150, 75, 0, 1) 0%, rgba(31, 0, 0, 1) 100%);
}

#DBD {
   background-image: linear-gradient(120deg, rgba(3, 8, 116, 1) 0%, rgba(203, 2, 2, 1) 100%);
}
