.mainWrapper {
   width: 100%;
   min-width: 18rem;
   border-top-right-radius: var(--input-radius-mobile);
   border-top-left-radius: var(--input-radius-mobile);
   flex-grow: 0;
}

.title {
   background-color: var(--secondary-color);
   width: 100%;
   padding: 0.5rem;
   font: var(--secondary-font-mobile);
   font-size: 1.2rem;
   border-top-right-radius: var(--input-radius-mobile);
   border-top-left-radius: var(--input-radius-mobile);
   margin: 0;
}

.content {
   margin: 0;
   padding: 0.8rem;
   text-align: center;
   width: 100%;
   height: 14rem;
   overflow-y: scroll;
   font: var(--quotes-font);
}
.actionsWrapper {
   background-color: var(--secondary-color);
   width: 100%;
   padding: 0.5rem;
   border-bottom-right-radius: var(--input-radius-mobile);
   border-bottom-left-radius: var(--input-radius-mobile);
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.more {
   display: block;
   background-image: url("/images/ellipsis.svg");
}

.delete {
   display: block;
   background-size: 70%;
   background-image: url("/images/icons/delete.png");
}

.edit {
   display: block;
   background-image: url("/images/icons/edit.png");
}

.actionsWrapper span {
   border-radius: 50%;
   transition: transform 300ms ease-in;
}

.actionsWrapper span:hover {
   background-color: rgba(255, 255, 255, 0.5);
   transform: scale(1.1);
   cursor: pointer;
}

.selectedTagColor {
   height: 1.5rem;
   width: 1.5rem;
   position: fixed;
   border-radius: 50%;
   top: 1.2rem;
   left: 10rem;
   right: 0;
   bottom: auto;
   margin: auto;
   z-index: 10;
   cursor: pointer;
}

/****************** quote background **************/
/* ========================   QUOTES STYLES ====================== */
#DEFAULT_BKG {
   background: var(--secondary-color);
}

#BL {
   background-image: var(--quote-bkg-one);
}
#BL textarea,
#BL input {
   color: var(--font-color);
}

#YLW {
   background-image: var(--quote-bkg-two);
}

#YLW textarea,
#YLW input {
   color: var(--font-color);
}

#PPL {
   background-image: var(--quote-bkg-three);
}
#PPL textarea,
#PPL input {
   color: var(--font-color);
}

#RD {
   background-image: var(--quote-bkg-four);
}
#RD textarea,
#RD input {
   color: var(--font-color);
}

#PNK {
   background-image: var(--quote-bkg-five);
}
#PNK textarea,
#PNK input {
   color: var(--font-color);
}

#GN {
   background-image: var(--quote-bkg-six);
}
#GN textarea,
#GN input {
   color: var(--font-color);
}

#BLK {
   background-image: var(--quote-bkg-seven);
}
#BLK textarea,
#BLK input {
   color: var(--font-color);
}

#BR {
   background-image: var(--quote-bkg-eight);
}
#BR textarea,
#BR input {
   color: var(--font-color);
}

#DBD {
   background-image: var(--quote-bkg-nine);
}
#DBD textarea,
#DBD input {
   color: var(--font-color);
}

#OT0 {
   background-image: var(--quote-bkg-ten);
}
#OT0 textarea,
#OT0 input {
   color: var(--font-color);
}

#OT1 {
   background-image: var(--quote-bkg-eleven);
}
#OT1 textarea,
#OT1 input {
   color: var(--primary-color);
}
#OT1 textarea::placeholder,
#OT1 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT2 {
   background-image: var(--quote-bkg-twelve);
}
#OT2 textarea,
#OT2 input {
   color: var(--primary-color);
}
#OT2 textarea::placeholder,
#OT2 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT3 {
   background-image: var(--quote-bkg-thirteen);
   color: var(--primary-color);
}
#OT3 textarea,
#OT3 input {
   color: var(--primary-color);
}
#OT3 textarea::placeholder,
#OT3 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT4 {
   background-image: var(--quote-bkg-fourteen);
}
#OT4 textarea,
#OT4 input {
   color: var(--font-color);
}

#OT5 {
   background-image: var(--quote-bkg-fifteen);
}
#OT5 textarea,
#OT5 input {
   color: var(--font-color);
}

#OT6 {
   background-image: var(--quote-bkg-sixteen);
}
#OT6 textarea,
#OT6 input {
   color: var(--primary-color);
}
#OT6 textarea::placeholder,
#OT6 input::placeholder {
   color: var(--primary-color);
   opacity: 0.3;
}

#OT7 {
   background-image: var(--quote-bkg-seventeen);
}
#OT7 textarea,
#OT7 input {
   color: var(--font-color);
}

#OT8 {
   background-image: var(--quote-bkg-eighteen);
}

#OT8 textarea,
#OT8 input {
   color: var(--font-color);
}

#OT9 {
   background-image: var(--quote-bkg-nineteen);
}
#OT9 textarea,
#OT9 input {
   color: var(--font-color);
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      max-width: 17.7rem;
   }
}

@media only screen and (min-width: 1200px) {
   .mainWrapper {
      max-width: 17rem;
      margin: 1rem;
   }
}
