.mainWrapper {
   width: 100%;
   overflow-x: hidden;
   margin-top: var(--medium-spacing-mobile);
}

.scrollSection {
   min-width: 100%;
   overflow-x: scroll;
   display: flex;
   flex-wrap: nowrap;
   align-items: flex-start;
   justify-content: flex-start;
}

.sermonCompWrapper {
   flex-grow: 0;
   flex-shrink: 0;
   margin: 0 var(--xsmall-spacing-mobile);
   min-width: 21rem;
}

.stdButton {
   min-width: 5rem;
   height: 5rem;
   border-radius: 50%;
}

@media only screen and (min-width: 700px) {
   .mainWrapper {
      margin: var(--medium-spacing-ipad) auto;
   }
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 900px;
      margin: var(--medium-spacing-desktop) auto;
   }

   .title {
      font: var(--secondary-font-desktop);
      padding: 0 0 0.8rem 0;
   }
}
