.mainWrapper {
   width: 100%;
}

.chapter {
   width: 100%;
   margin: 0 0 var(--spacing-s);
}

.versesWrapper {
   width: 100%;
}

.verseLine {
   width: 100%;
   position: relative;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin: 0 0 var(--spacing-s) 0;
   border-radius: 1em;
}

.tab {
   transform: translateY(1rem);
   display: inline-block;
   width: 2rem;
   height: 2.5rem;
   margin-left: var(--spacing-s);
}

.verse,
.verseNumber {
   font-family: var(--primary-font);
   color: var(--font-color);
   font-size: var(--fs-small);
   line-height: var(--line-height);
   margin: 0 0 0 var(--spacing-xxs);
}

.verseNumber,
.bigVerseNumber {
   top: 0;
   left: 0;
   position: absolute;
   margin-top: var(--spacing-xxs);
   width: 2.5rem;
   height: 2.5rem;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0.7em;
   font-weight: 600;
   z-index: 2;
   background-image: linear-gradient(10deg, var(--gradient-1--light), var(--gradient-1--dark));
}

.bigVerseNumber {
   font-size: var(--fs-xs);
}
.verseNumber:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.fontSmall {
   font-size: var(--fs-small);
}

.fontMain {
   font-size: var(--fs-main);
}

.fontLarge {
   font-size: var(--fs-large);
}

.fontXlarge {
   font-size: var(--fs-xlarge);
}

.firstTheme {
   color: var(--reading-modal-1--light);
}

.secondTheme {
   color: var(--reading-modal-2--light);
}

.thirdTheme {
   color: var(--reading-modal-3--light);
}

.fourthTheme {
   color: var(--reading-modal-4--dark);
}
