.mainWrapper {
   width: 100%;
   padding: var(--spacing-m);
   background-color: var(--secondary-color);
   border-top-left-radius: 3em;
   border-top-right-radius: 3em;
   box-shadow: 0.4rem -0.4rem 0.6rem var(--shadow-color);
}

.buttons {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: var(--spacing-m);
}

.categoryButton {
   margin: 0 var(--spacing-ml) 0 0;
}

.post {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
