.mainWrapper {
   width: 100%;
   height: 100;
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: auto auto auto;
}

.close {
   position: fixed;
   top: var(--spacing-s);
   right: var(--spacing-s);
}

.verseSelection {
   grid-column: 1/2;
   grid-row: 1/2;
   width: 100%;
   margin-top: calc(var(--spacing-l)); /*close from top + close icon height + margin-top*/
   margin-bottom: var(--spacing-l);
}

.textArea {
   grid-column: 1/2;
   grid-row: 2/3;
   width: 100%;
   height: 100%;
}

.bottomGridHolder {
   grid-column: 1/2;
   grid-row: 1/2;
   height: calc(22rem + var(--spacing-m)); /*editorActions + margin*/
} /*since editorActions is fixed set a placeholder at the bottom of the gird. the purpose of this grid is to adjust the hright of the text area appropaitedly according to the height of the verseSelection component which will vary */
.editorActions {
   width: 100%;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 15;
}
