.mainWrapper {
   width: 100%;
}

.textArea {
   display: block;
   height: 100px;
   width: 100%;
   resize: none;
   background: linear-gradient(-10deg, var(--third-color), var(--secondary-color));
   color: var(--font-color);
   font-family: var(--primary-font);
   font-size: var(--fs-main);
   line-height: var(--line-height);
   border: none;
   outline: none;
   padding: var(--spacing-s);
   border-radius: 2em;
}

.textArea::placeholder {
   color: var(--third-color);
}

.textArea.transparent::placeholder {
   opacity: 0.5;
   color: var(--font-color);
}

.textArea.transparent {
   color: var(--font-color);
   background: transparent;
}

.transparent.darkText {
   color: var(--secondary-color);
}

.transparent.darkText::placeholder {
   color: var(--secondary-color);
}

.xxsmall {
   font-size: var(--fs-xxsmall);
}

.xsmall {
   font-size: var(--fs-xsmall);
}

.small {
   font-size: var(--fs-small);
}

.main {
   font-size: var(--fs-main);
}

.large {
   font-size: var(--fs-large);
}

.xlarge {
   font-size: var(--fs-xlarge);
}

.xxlarge {
   font-size: var(--fs-xxlarge);
}

.xxxlarge {
   font-size: var(--fs-xxxlarge);
}

.bold {
   font-weight: 600;
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}

.justify {
   text-align: justify;
}
