.mainWrapper {
   position: relative;
   top: 0;
   left: 0;
   width: 100dvw;
   height: 100dvh;
   padding: var(--spacing-m);
   overflow: hidden;
}

.header {
   z-index: 2;
   position: relative;
   margin-bottom: var(--spacing-m);
}

.body {
   z-index: 0;
   width: 90%;
   height: 100%;
   max-width: 50rem;
   max-height: 50rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: column;
   flex-wrap: wrap;
   position: absolute;
   inset: 15rem 0 auto 0;
   margin: auto;
}

.body > div {
   width: 100%;
}

.body > div > h2 {
   width: 100%;
   font-size: 2.5rem;
}

.body .author {
   z-index: 2;
   position: relative;
   width: 100%;
   overflow: hidden;
}

.footer {
   width: 90%;
   position: absolute;
   inset: auto 0 4rem 0;
   margin: auto;
}

.loader,
.error {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
