.mianWrapper {
   position: fixed;
   border-top-left-radius: var(--input-radius-mobile);
   border-top-right-radius: var(--input-radius-mobile);
   width: 10rem;
   height: 10rem;
   overflow-y: scroll;
   top: calc(50vh - 5rem);
   left: calc(50vw - 5rem);
   z-index: 15;
}

.listWrapper {
   background-color: var(--third-color);
}

.listWrapper span:not(.listWrapper_cancel) {
   display: block;
   border-bottom: 2px solid var(--primary-color);
   font: var(--secondary-font-mobile);
   padding: 0.5rem;
   text-align: center;
   transition: background-color 200ms ease-in;
}

.listWrapper span:hover:not(.listWrapper_cancel) {
   background-color: var(--font-color);
   opacity: 0.2;
   cursor: pointer;
}

.listWrapper_a {
   color: var(--aprval-level-a);
}

.listWrapper_b {
   color: var(--aprval-level-b);
}

.listWrapper_c {
   color: var(--aprval-level-c);
}

.listWrapper_d {
   color: var(--aprval-level-d);
}

.listWrapper_f {
   color: var(--aprval-level-f);
}

.listWrapper_cancel {
   display: block;
   border-bottom-left-radius: var(--input-radius-mobile);
   border-bottom-right-radius: var(--input-radius-mobile);
   padding: 0.5rem;
   text-align: center;
   transition: background-color 200ms ease-in;
   font: var(--primary-font-mobile);
   background-color: var(--warning-color);
   color: var(--font-color);
   position: fixed;
   top: calc(50vh + 5rem);
   left: calc(50vw - 5rem);
   width: 10rem;
}

.listWrapper_cancel:hover {
   opacity: 0.9;
   background-color: var(--warning-color);
   color: var(--primary-color);
}

/* ======== quote view ======= */
.mianWrapper_quotes {
   z-index: 17;
}

.listWrapper_quotes {
   background-color: var(--font-color);
}

.listWrapper_list_quotes {
   border-bottom: 2px solid #d2d2d2 !important;
}

.listWrapper_quotes > span:hover {
   background-color: #d2d2d2;
}

/* ============== =============== */
