.mainWrapper {
   height: 100vh;
   width: 100vw;
   overflow-y: scroll;
}

.readBibleTemplate {
   margin: 0 auto;
   height: 100%;
   width: var(--global-wrapper-width);
   padding-top: var(--spacing-s);
}

.firstTheme {
   background-color: var(--reading-modal-1--dark);
}

.secondTheme {
   background-color: var(--reading-modal-2--dark);
}

.thirdTheme {
   background-color: var(--reading-modal-3--dark);
}

.fourthTheme {
   background-color: var(--reading-modal-4--light);
}

.fifthTheme {
   background-image: url("/images/reading/blue.png");
}

.sixthTheme {
   background-image: url("/images/reading/green.png");
}

.seventhTheme {
   background-image: url("/images/reading/orange.png");
}

.eighthTheme {
   background-image: url("/images/reading/pink.png");
}

.ninthTheme {
   background-image: url("/images/reading/purple.png");
}
