.mainWrapper {
   height: 100vh;
   width: 100vw;
   overflow-y: scroll;
}

.readBibleTemplate {
   margin: 0 auto;
   height: 100%;
   width: 94%;
   padding-top: var(--spacing-s);
}

.firstTheme {
   background-color: var(--reading-modal-1--dark);
}

.secondTheme {
   background-color: var(--reading-modal-2--dark);
}

.thirdTheme {
   background-color: var(--reading-modal-3--dark);
}

.fourthTheme {
   background-color: var(--reading-modal-4--light);
}
