.mainWrapper {
   width: 100%;
   max-width: 900px;
   margin: var(--medium-spacing-mobile) auto;
}

.gridWrapper {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   margin: auto;
}

.podcastWrapper {
   width: 8rem;
   margin: 0 0.2rem var(--medium-spacing-mobile);
   flex-grow: 0.7;
}
@media only screen and (min-width: 500px) {
   .podcastWrapper {
      width: 9.3rem;
      margin: 0 0.4rem var(--medium-spacing-desktop);
      flex-grow: 0;
   }
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
   }

   .podcastWrapper {
      width: 12rem;
      margin: 0 1rem var(--medium-spacing-desktop);
      flex-grow: 0;
   }
}

@media only screen and (min-width: 1200px) {
   .mainWrapper {
      max-width: 1100px;
      margin: 0 auto;
   }
}
