.mainWrapper {
   width: 100%;
   max-width: 900px;
   margin: var(--medium-spacing-mobile) auto;
}

.gridWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
}
.sermonWRapper {
   width: 8rem;
   margin: var(--small-spacing-mobile) 0.8rem 0 0;
   flex-grow: 0.5;
}

@media only screen and (min-width: 500px) {
   .sermonWRapper {
      width: 9.3rem;
      margin: var(--large-spacing-mobile) var(--large-spacing-mobile) 0 0;
      flex-grow: 0;
   }
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      margin: var(--large-spacing-desktop) auto var(--medium-spacing-desktop);
   }

   .sermonWRapper {
      width: 12rem;
      margin: var(--large-spacing-desktop) var(--large-spacing-desktop) 0 0;
      flex-grow: 0;
   }
}

@media only screen and (min-width: 1200px) {
   .mainWrapper {
      max-width: 1100px;
   }
}
