.mainWrapper {
   width: 90%;
   max-width: 450px;
   margin: auto;
   position: relative;
}

.settingsTitle {
   font: var(--secondary-font-mobile);
   font-size: 2rem;
   width: 100%;
   text-align: center;
   color: var(--gradient-1--dark);
}

.userReputation {
   height: 9rem;
   width: 8rem;
   display: flex;
   margin: auto;
   align-items: center;
   justify-content: center;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.avatar {
   height: 8rem;
   width: 7rem;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
   background-color: #f2f2f2;
}

.stdH2 {
   font: var(--secondary-font-mobile);
   color: var(--fourth-color);
   font-size: 1.8rem;
}

.inputWrapper label {
   margin: 0 var(--xlarge-spacing-mobile) 0 0;
   font: var(--secondary-font-mobile);
   font-size: 1.2rem;
}

.inputWrapper input {
   margin: 0.5rem auto 0;
   max-width: 22rem;
}

.inputWrapper {
   margin: 0 auto var(--medium-spacing-mobile);
}

#takeTest {
   margin: 0.3rem auto 0 0;
   text-align: left;
   color: var(--gradient-1--dark);
   text-decoration: underline;
   font-size: 1rem;
}

#takeTest span {
   font: var(--primary-font-mobile);
   color: var(--font-color);
   display: inline-block;
   text-decoration: none;
   font-size: 1rem;
}
.genderInputWrapper {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.genderInputWrapper > label {
   width: 100%;
}

.genderInput {
   position: relative;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   background-color: var(--secondary-color);
   margin: var(--xsmall-spacing-mobile) var(--medium-spacing-mobile) 0 0;
}

.genderInputMaleActive,
.genderInputFemaleActive {
   background-color: var(--gradient-1--dark);
}

.genderInput:hover {
   background-color: var(--gradient-1--dark);
   cursor: pointer;
}

.buttonsWrapper {
   width: 100%;
   max-width: 600px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.buttonSave,
.buttonCancel,
.buttonLogout {
   width: 100%;
   margin: var(--xsmall-spacing-mobile) auto;
}

.changePasswordLink,
.userVerification {
   color: var(--gradient-1--dark);
   font: var(--primary-font-mobile);
   text-decoration: underline;
   width: 10em;
}

.userVerification {
   width: 13em;
}

.changePasswordLink:hover,
.userVerification:hover {
   color: var(--gradient-1--light);
   cursor: pointer;
}

.changeAvatarButton {
   color: var(--gradient-1--dark);
   text-decoration: underline;
}

.changeAvatarButton:hover {
   color: var(--font-color);
   cursor: pointer;
}

.goBack {
   position: absolute;
   top: 0;
   left: 0;
}

.dangerZone {
   border: 2px solid var(--danger-color);
   padding: var(--xsmall-spacing-mobile);
   border-radius: var(--input-radius-mobile);
}

.dangerZone h3 {
   font: var(--secondary-font-mobile);
   color: var(--danger-color);
   font-size: 1.4rem;
   margin: 0;
}

.buttonDelete {
   width: 100%;
   margin: var(--xsmall-spacing-mobile) auto;
}
@media only screen and (min-width: 1000px) {
   .mainWrapper {
      max-width: 800px;
   }

   .settingsTitle {
      font-size: 2.8rem;
   }

   .stdH2 {
      font: var(--secondary-font-mobile);
      color: var(--fourth-color);
      font-size: 1.8rem;
   }

   .inputWrapper label {
      margin: 0 var(--medium-spacing-mobile) 0 0;
      font-size: 1.4rem;
   }

   .inputWrapper input {
      position: absolute;
      right: 0;
   }

   .inputWrapper {
      position: relative;
      height: 4rem;
      margin: 0 auto var(--medium-spacing-mobile);
   }

   #takeTest {
      margin: 0.3rem auto 0 0;
      text-align: left;
      color: var(--gradient-1--dark);
      text-decoration: underline;
      font-size: 1rem;
   }

   #takeTest span {
      font: var(--primary-font-mobile);
      color: var(--font-color);
      display: inline-block;
      text-decoration: none;
      font-size: 1rem;
   }
}
