.mainWrapper {
   width: 100%;
   position: relative;
}

.filterWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: var(--spacing-xs);
   overflow-x: scroll;
   margin: 0 auto var(--spacing-l);
}

.title {
   margin-bottom: var(--spacing-s);
}

.textBlock {
   margin-bottom: 0;
}

.filterItemWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.extraOptionsWrapper {
   position: absolute;
   top: -3rem;
   left: 0;
   right: 0;
   bottom: auto;
   margin: auto;
   max-width: 15rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: var(--spacing-s);
   background-image: linear-gradient(-10deg, var(--gradient-1--light), var(--gradient-1--dark));
   border-radius: 1em;
}

.extraOptionsWrapper span {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 2rem;
   height: 2rem;
   font-size: 2rem;
   margin: 0 var(--spacing--ml);
   transition: 300ms;
}

.extraOptionsWrapper span:hover {
   transform: scale(1.2);
   cursor: pointer;
}

/* =============== avatar wraper ============= */
.avatarWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: var(--spacing-s);
}

.avatarWrapper div {
   overflow: hidden;
   width: 7.5rem;
   height: 7.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 2em;
   border-radius: 2;
   background-color: var(--font-color);
}

.avatarWrapper div:hover {
   cursor: pointer;
   background: var(--secondary-color);
}

.avatarWrapper .selected {
   background: var(--secondary-color);
   box-shadow: 0.4rem 0rem 0.6rem var(--gradient-1--light),
      0rem 0.4rem 0.6rem var(--gradient-1--light), -0.4rem 0rem 0.6rem var(--gradient-1--light),
      0rem -0.4rem 0.6rem var(--gradient-1--light);
}

.avatar {
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center;
   transition: 300ms;
}

.menuOption {
   margin-bottom: var(--spacing-s);
}
