.mainWrapper {
   position: fixed;
   width: 90%;
   max-width: var(--max-width-main-wrapper-mobile);
   max-height: 40rem;
   top: var(--spacing-m);
   bottom: auto;
   left: 0;
   right: 0;
   margin: auto;
   z-index: 17;
   padding: var(--spacing-s) var(--spacing-s) var(--spacing-l);
   border-radius: 2em;
   overflow-y: scroll;
   background-color: var(--secondary-color);
   box-shadow: var(--shadow-l);
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   animation: fromTopDown 500ms ease-in;
}

@keyframes fromTopDown {
   0% {
      top: -100%;
   }
   100% {
      top: 0;
   }
}

.iconContainer {
   flex-shrink: 0;
   height: 3.5rem;
   width: 3.5rem;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: var(--shadow-s);
   margin-right: var(--spacing-xs);
}

.safe svg *,
.warning svg * {
   fill: transparent !important;
}

.info {
   background-image: linear-gradient(-10deg, var(--gradient-1--light), var(--gradient-1--dark));
}

.safe {
   background-image: linear-gradient(-10deg, #b2dfb1, var(--safe-color));
}

.warning {
   background-image: linear-gradient(-10deg, #e4daaa, var(--warning-color));
}

.danger {
   background-image: linear-gradient(-10deg, #e18e98, var(--danger-color));
}

.title {
   margin-bottom: var(--spacing-xs);
}

.close {
   position: absolute;
   top: var(--spacing-xs);
   right: var(--spacing-s);
}

.safe p,
.safe h2,
.warning p,
.warning h2,
.warning svg path,
.safe svg path {
   color: var(--primary-color);
   fill: var(--primary-color);
}
