.mainWrapper {
   position: relative;
   top: 0;
   left: 0;
   background-color: var(--primary-color);
   min-height: 100vh;
   width: 100vw;
}

.title {
   margin: var(--spacing-l) auto var(--spacing-xs);
}

.contentWrapper {
   width: var(--global-wrapper-width);
   max-width: var(--main-wrapper-max-width);
   margin: 0 auto;
}

.feedback {
   position: relative;
   margin: 10rem auto 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.backLink {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: var(--spacing-l) 0 var(--spacing-s);
}

.buttonWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: var(--spacing-s) 0 0;
   gap: var(--spacing-m);
}

.summaryQuestion {
   margin-top: var(--spacing-m);
}
