.mainWrpper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.language {
   margin: 0 var(--spacing-xs) 0 0;
}

.search {
   margin: 0 var(--spacing-xs) 0 auto;
   justify-self: flex-end;
}

.searchActive {
   width: 100%;
}

.bookmarks {
   margin: 0 var(--spacing-m) 0 0;
}

.settings {
   width: 3.5rem;
   margin-right: var(--spacing-xs);
}

.firstTheme,
.firstTheme > div:first-child {
   border-color: var(--reading-modal-1--light);
}

.firstTheme p {
   color: var(--reading-modal-1--light);
}

.secondTheme,
.secondTheme > div:first-child {
   border-color: var(--reading-modal-2--light);
}

.secondTheme p {
   color: var(--reading-modal-2--light);
}

.thirdTheme,
.thirdTheme > div:first-child {
   border-color: var(--third-color);
}

.thirdTheme p {
   color: var(--third-color);
}

.fourthTheme,
.fourthTheme > div:first-child {
   border-color: var(--reading-modal-4--dark);
}

.fourthTheme p {
   color: var(--reading-modal-4--dark);
}
