.button {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: var(--spacing-xs) var(--spacing-s);
   background-color: var(--secondary-color);
   border-radius: 1em;
   box-shadow: var(--shadow-s);
}

.button:hover {
   cursor: pointer;
   transform: scale(0.98);
   transition: 300ms;
   box-shadow: none;
}
.value {
   display: inline-flex;
   align-items: center;
   justify-content: flex-start;
}

.value .icon {
   margin-left: var(--spacing-xxs);
}
