.readScripturesHeader {
   position: fixed;
   background-color: var(--third-color);
   top: 0;
   width: 100%;
   height: 3.125rem;
   left: 0;
   z-index: 11;
}

.referenceWrapper {
   margin: var(--xsmall-spacing-mobile) 0;
   display: inline-block;
}

.reference {
   color: var(--gradient-1--dark);
   size: 8rem;
   display: inline-block;
   text-decoration: underline;
}

.chapter {
   color: var(--gradient-1--dark);
   font: var(--secondary-font-mobile);
   display: inline-block;
   width: 100%;
   font-size: 1.5rem;
   margin: 0 0 var(--small-spacing-mobile);
}

.title {
   color: var(--gradient-1--dark);
   font: var(--secondary-font-mobile);
   font-size: 1.2rem;
   display: inline-block;
   width: 100%;
   margin: var(--small-spacing-mobile) 0 0;
}
.verse {
   font: var(--primary-font-mobile);
   color: (--font-color);
   line-height: 2em;
}
.jesusWords {
   font: var(--primary-font-mobile);
   color: rgb(255, 36, 36);
   line-height: 2em;
}

.verseNumber {
   font: var(--primary-font-mobile);
   font-size: 1rem;
   font-weight: 600;
   color: var(--font-color);
   margin: 0 0.5rem 0 0;
   display: inline-block;
   height: 1.5rem;
   width: 1.5rem;
   border-radius: 50%;
   text-align: center;
   background-color: var(--gradient-1--dark);
   transition: transform 300ms ease-in;
}

.verseNumber:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.noteCTA {
   position: relative;
   color: var(--gradient-1--light);
   font: var(--widget-font-mobile);
   font-size: 0.6rem;
   display: inline-block;
   border: 1px solid var(--gradient-1--light);
   padding: 0.1rem;
   top: -0.2rem;
   margin: 0 0.3rem;
   cursor: pointer;
}

.note {
   display: inline-block;
   height: 1.5rem;
   width: 2rem;
   overflow: hidden;
   position: relative;
   top: 0.3rem;
   margin-left: -2rem;
   cursor: pointer;
   color: rgba(0, 0, 0, 0);
}

/* it is basically a parenthesis */
.hideElement {
   display: none;
}

.verseSpacer {
   width: 100%;
   height: 0.5rem;
}
.noteCTATrigger:checked + .note {
   display: block;
}
.verseRefPopup {
   background-color: var(--third-color);
}
.refVerseId:hover {
   cursor: pointer;
}

@media only screen and (min-width: 800px) {
   .chapter {
      font: var(--secondary-font-mobile);
      margin: var(--medium-spacing-ipad) 0 var(--small-spacing-ipad);
   }
}

@media only screen and (min-width: 1000px) {
   .chapter {
      font: var(--secondary-font-desktop);
      font-size: 2rem;
      margin: var(--medium-spacing-desktop) 0 var(--small-spacing-desktop);
   }

   .title {
      font: var(--secondary-font-desktop);
      font-size: 1.4rem;
      display: inline-block;
      width: 100%;
      margin: var(--small-spacing-desktop) 0 0;
   }
   .verse {
      font: var(--primary-font-desktop);
      line-height: 2em;
   }

   .verseNumber {
      font: var(--primary-font-mobile);
      font-size: 1rem;
      font-weight: 600;
      color: var(--font-color);
      margin: 0 0.5rem 0 0;
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      text-align: center;
      background-color: var(--gradient-1--dark);
      transition: transform 300ms ease-in;
   }

   .noteCTA {
      font: var(--widget-font-desktop);
      font-size: 0.75rem;
      padding: 0.2rem;
      inset: -0.3rem 0 0 0;
      margin: 0 0.3rem 0 0.6rem;
   }
   .note {
      height: 1.7rem;
      width: 2rem;
      inset: 0.3rem 0 0 0;
      margin-left: -2.5rem;
   }
   .verseSpacer {
      width: 100%;
      height: 0.8rem;
   }
}
