.darkBkg {
   position: fixed;
   background-color: rgba(255, 255, 255, 0.3);
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10;
}

.outterContentWrapper {
   margin: 0;
   padding: 0;
   max-width: 600px;
}

/* See Whole Post */
.halvesWrapper {
   width: 90%;
   max-width: 1200px;
   display: flex;
   text-align: center;
   justify-content: center;
   flex-wrap: wrap;
}

.halfWidth {
   z-index: 2;
   width: 420px;
   flex-grow: 1;
   margin: var(--xlarge-spacing-mobile) 0 var(--medium-spacing-mobile);
}

.halfWidthRight {
   white-space: pre-wrap;
   text-align: left;
   background-color: var(--secondary-color);
   border-radius: 0.8rem;
   margin-top: var(--medium-spacing-mobile);
}

.halfWidth .stdSmallTitle {
   margin: var(--xsmall-spacing-mobile) auto;
   padding: var(--xsmall-spacing-mobile);
   width: 100%;
   display: block;
   color: var(--gradient-1--dark);
   font: var(--secondary-font-mobile);
   text-align: left;
   word-break: break-all;
}

.halfWidthRight p {
   padding: 0 var(--xsmall-spacing-mobile);
}

.commentaryBodyContent {
   max-height: 100vh;
   overflow-y: scroll;
}
/* Editor Instructions */
/* .table {
   width: 100%;
}
.table th {
   background-color: var(--secondary-color);
   padding: 0.5rem;
}

.table a {
   text-decoration: underline;
   color: var(--gradient-1--dark);
}
.table tr,
.table td {
   border: 1px solid var(--fourth-color);
   padding: 0 0.5rem;
   font: var(--widget-font-mobile);
}

.table tr td:nth-child(1) {
   color: var(--gradient-1--light);
} */

/* View Post  */
#cardIconWrapper {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
   width: 100%;
   border-top: 1px solid var(--fourth-color);
   margin-top: var(--small-spacing-mobile);
   padding: var(--xsmall-spacing-mobile);
}

#cardIcon {
   width: 1.5rem;
   height: 1.5rem;
   background-size: 80%;
   background-repeat: no-repeat;
}

#cardIconWrapper > div {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 5rem;
   margin: 0 var(--small-spacing-mobile) 0 0;
}

#cardIconWrapper div span {
   width: auto;
}

#cardIconWrapper div div {
   border-radius: 50%;
   margin: 0 0 0 0.4rem;
   transition: background-color 300ms ease-in, transform 300ms ease-in;
   cursor: pointer;
}

#cardIconWrapper div div:hover {
   background-color: rgba(255, 255, 255, 0.3);
   transform: scale(1.1);
}
.cardIconComment {
   background-image: url("/images/icons/comment.svg");
}

/* .cardIconLike {
   background-image: url("../../public/images/likke.svg");
} */

/* Text area  */
#stdTextAreaWrapper {
   display: block;
}

#stdTextArea {
   display: block;
   margin: var(--medium-spacing-mobile) auto 0;
   border: 1px solid var(--fourth-color);
   width: 90%;
}

#stdButton {
   margin: var(--xsmall-spacing-mobile) auto 0;
   width: var(--button-width-mobile);
}
#gradientText {
   text-align: center;
}

@media only screen and (min-width: 800px) {
   /* If stuff around the page is breaking remove this calss completely */
   .halfWidth {
      width: 650px;
      max-width: 650px;
   }
}

@media only screen and (min-width: 1000px) {
   .halfWidth {
      z-index: 2;
      width: 420px;
      flex-grow: 1;
      margin: var(--xlarge-spacing-mobile) var(--medium-spacing-mobile) var(--medium-spacing-mobile);
   }

   .halfWidthRight {
      margin-top: var(--small-spacing-mobile);
   }

   .halfWidthLeft {
      height: 80vh;
      overflow-y: scroll;
      margin-top: var(--medium-spacing-mobile);
   }
}
