.mainWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 90%;
   margin: auto;
}

.multiView {
   width: 1.5rem;
   height: 1.5rem;
   background-color: var(--third-color);
   border-radius: 50%;
   background-image: url("../../public/images/Page-read/gridView--four.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 80%;
   position: absolute;
   top: 2rem;
   right: 0.2rem;
}

.hiddenScreenTwo,
.hiddenScreenThree,
.hiddenScreenFour {
   display: none;
}

.multiView:hover {
   cursor: pointer;
}

@media only screen and (min-width: 750px) {
   .multiView {
      width: 2rem;
      height: 2rem;
      background-size: 80%;
      position: absolute;
      top: 2rem;
      right: 1rem;
   }
}

@media only screen and (min-width: 1050px) {
   .multiView {
      width: 2.5rem;
      height: 2.5rem;
      background-size: 80%;
      position: absolute;
      top: 2rem;
      right: 2rem;
   }
}
