.foldersWrapper {
   margin-top: var(--spacing-ml);
}

.foldersWrapper.bulkActive {
   margin-top: var(--spacing-xs);
}

.folder {
   margin-bottom: var(--spacing-xs);
}

.searchAdd,
.selectButtons {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: var(--spacing-m);
}

.selectButtons {
   margin-bottom: var(--spacing-xs);
}
.selectButtons div:first-of-type {
   margin-right: var(--spacing-xs);
}

.add {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-left: var(--spacing-xs);
   padding-right: var(--spacing-xxs);
}

.selectedFolder,
.postInFolder {
   width: 99%;
   border-radius: 2em;
   padding: 0.2rem 0;
   /* display: flex;
   align-items: center;
   justify-content: center; */
   background-image: linear-gradient(180deg, var(--gradient-2--dark), var(--gradient-2--light));
}
.postInFolder {
   background-image: linear-gradient(180deg, var(--gradient-1--dark), var(--gradient-1--light));
}

.selectedFolder > div,
.postInFolder > div {
   margin: 0 auto;
   width: calc(100% - 0.4rem);
}

.selectedFolder > div > div,
.postInFolder > div > div {
   margin: 0;
   box-shadow: none;
}

.actionsToPerform {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.actionBtns {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: nowrap;
}

.actionBtns > button {
   margin-left: var(--spacing-xs);
}

.smallLoader > div > div {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding-right: var(--spacing-m);
   padding-bottom: var(--spacing-xxs);
}
