.mainWrapper {
   height: 100%;
}

.postComments {
   height: calc(100% - 5rem); /* parent height - textArea*/
   overflow-y: scroll;
}

.textArea {
   position: absolute;
   bottom: var(--spacing-m);
   left: 0;
   width: 100%;
}

.loader,
.error {
   width: 5rem;
   height: 5rem;
   position: fixed;
   inset: 0 0 0 0;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
