.mainWrapper {
   height: 100%;
}

.postComments {
   height: calc(100% - 13rem); /* parent height - textArea*/
   overflow-y: scroll;
}

.textArea {
   position: relative;
   bottom: var(--spacing-m);
   left: 0;
   width: 100%;
   padding: var(--spacing-s) 0 0;
   background-color: var(--primary-color);
   padding-bottom: 8rem;
}

.loader,
.error {
   width: 5rem;
   height: 5rem;
   position: fixed;
   inset: 0 0 0 0;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
