.mainWrapper {
   width: 100%;
   height: 120vh;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 16;
   overflow-y: hidden;
   background-color: var(--primary-color);
}

.imgBkg {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1;
   height: 19rem;
   width: 100%;
   background-position: center;
   background-size: cover;
   padding: var(--spacing-l) var(--spacing-l) 0;
}

.topLayerColorBkg {
   background-color: var(--primary-color);
   opacity: 0.6;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 0;
}

.postInfo {
   position: relative;
   z-index: 1;
}

.subWrapper {
   width: 100%;
   z-index: 2;
   height: calc(100vh - 16.5rem); /* 100 - (distance from top) */
   position: fixed;
   top: 16.5rem;
   border-top-left-radius: 2.5em;
   border-top-right-radius: 2.5em;
   background-color: var(--primary-color);
}

.contentHolder {
   height: 100%;
   width: 90%;
   margin: auto;
   padding: var(--spacing-m) 0 var(--spacing-l);
   overflow-y: scroll;
   font-size: var(--fs-main);
}

/* this modifies the react mark down  */
.contentHolder > pre,
.contentHolder > pre > code {
   margin: 0;
   width: 100%;
}

.title {
   width: 90%;
   margin: var(--spacing-m) auto 0;
}

.contentHolderShrink {
   height: calc(100% - 10rem); /*100% - height of the verse ref wrapper*/
} /* shrink when the references wrapper is shown otherwise you won't be able to scroll to the bottom*/

.close {
   z-index: 2;
   position: fixed;
   top: var(--spacing-ml);
   right: var(--spacing-ml);
}

.edit {
   z-index: 2;
   width: 3.5rem;
   height: 3.5rem;
   position: fixed;
   top: calc(var(--spacing-ml) + 3.5rem);
   right: var(--spacing-ml);
}

.referencesWrapper {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 3;
}

.references {
   height: 100%;
   background-color: var(--primary-color);
   padding-bottom: var(--spacing-ml);
}

/* this are the styles for the elements inside a content holder which need special styling */
.contentHolder h1,
.contentHolder h2,
.contentHolder h3,
.contentHolder h4,
.contentHolder h5,
.contentHolder h6 {
   font-family: var(--primary-font);
   font-weight: 800;
   font-size: var(--fs-xxlarge);
   margin: 0 auto var(--spacing-xs);
}

.contentHolder h2 {
   font-size: var(--fs-xlarge);
}

.contentHolder h3 {
   font-size: var(--fs-large);
}

.contentHolder h4 {
   font-size: var(--fs-main);
}

.contentHolder h5 {
   font-size: var(--fs-small);
}

.contentHolder h6 {
   font-size: var(--fs-xsmall);
}

.contentHolder ol,
.contentHolder ul {
   font-size: var(--fs-main);
   margin: var(--spacing-s) auto;
}

.contentHolder code {
   background-color: var(--third-color);
   padding: var(--spacing-xxs);
   border-radius: 0.25em;
}

.contentHolder ul,
.contentHolder ol {
   padding-left: var(--spacing-ml);
   border-left: 0.3rem solid var(--third-color);
}

.contentHolder ul li {
   font-family: var(--primary-font);
   list-style-type: "\25cb";
   padding-left: 0.25em;
   margin: var(--spacing-xxs) auto;
}

.contentHolder ol li {
   padding-left: 0.25em;
   font-family: var(--primary-font);
   font-size: var(--fs-small);
   margin: var(--spacing-xxs) auto;
}

.contentHolder p {
   font-size: var(--fs-main);
}

.contentHolder a {
   font-size: var(--fs-main);
   text-decoration: underline;
   color: var(--gradient-2--light);
}

/* editable posts  */
.text {
   margin: var(--spacing-m) 0 0;
}
.text .button {
   margin: var(--spacing-m) 0 0;
}

.contentHolder b,
.contentHolder strong {
   font-family: var(--primary-font);
   font-size: var(--fs-main);
   font-weight: bold;
}

.contentHolder em {
   font-family: var(--primary-font);
   font-size: var(--fs-main);
}
