.mainWrapper {
   width: 90%;
   margin: auto;
}

.searchWapper {
   grid-area: Search;
   display: flex;
   align-items: center;
   justify-content: left;
   margin-top: var(--small-spacing-mobile);
}

.search {
   width: 100%;
   max-width: 400px;
   font-size: 0.9rem;
   margin: 0 0 0 0.5rem;
   box-sizing: border-box;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

.magnifyingGlass {
   display: inline-block;
   width: 2rem;
   height: 2.3rem;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   text-align: center;
   margin: 0;
   background-color: var(--third-color);
}

@media only screen and (min-width: 1000px) {
   .mainWrapper {
      max-width: 900px;
      position: relative;
      left: 1rem;
   }
   .searchWapper {
      grid-area: Search;
      margin-left: 2rem;
   }
}

@media only screen and (min-width: 1200px) {
   .mainWrapper {
      width: 90%;
      max-width: 1000px;
   }
}
