.mainWrapper {
   height: 100%;
   width: 100%;
   overflow-y: scroll;
   background-color: inherit;
}

.header {
   background-color: inherit;
   padding: var(--spacing-s) 3% var(--spacing-s);
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 5;
   margin-bottom: var(--spacing-m);
}

.summarizeChapter {
   position: fixed;
   z-index: 2;
   margin: 0;
   right: 2rem;
}

.chapter {
   margin-top: 8rem;
}

.scrollingUp {
   top: -7rem;
   animation: scrollUp 200ms linear;
}

@keyframes scrollUp {
   0% {
      top: 0;
   }
   100% {
      top: -7rem;
   }
}

.scrollingDown {
   top: 0;
   animation: scrollDown 200ms linear;
}

.summarizeChapter.scrollingDown {
   top: 8rem;
}

.summarizeChapter.scrollingUp {
   top: 2rem;
}

@keyframes scrollDown {
   0% {
      top: -5rem;
   }
   100% {
      top: 0;
   }
}

.firstTheme {
   background-color: var(--reading-modal-1--dark);
}

.secondTheme {
   background-color: var(--reading-modal-2--dark);
}

.thirdTheme {
   background-color: var(--reading-modal-3--dark);
}

.fourthTheme {
   background-color: var(--reading-modal-4--light);
}

.fifthTheme {
   background-color: #4b505e;
}
.sixthTheme {
   background-color: #53575c;
}

.seventhTheme {
   background-color: #6b5453;
}

.eighthTheme {
   background-color: #543044;
}

.ninthTheme {
   background-color: #595c6f;
}
