.mainWrapper {
   width: 100%;
}

.addBtn {
   z-index: 3;
   position: fixed;
   top: var(--spacing-m);
   right: var(--spacing-m);
}

.top {
   position: relative;
   background-color: var(--primary-color);
   z-index: 2;
   top: 0;
   width: 100vw;
   position: fixed;
   left: calc(-50vw + 50%);
   transition: all 500ms ease;
   padding-bottom: var(--spacing-xs);
}

.topScrolling {
   background-color: var(--secondary-color);
   top: -2rem;
   width: 100vw;
   position: fixed;
   left: calc(-50vw + 50%);
}

.topScrolling .verseFilter {
   background-color: var(--secondary-color);
}

.topScrolling * div:not(.shadow) {
   box-shadow: none;
}

.verse {
   width: 100%;
   margin: 5rem auto var(--spacing-l);
}

.topScrolling .verse {
   margin-bottom: 0;
}

.filter {
   width: 100%;
   margin-bottom: var(--spacing-m);
}

.hideVerseView {
   position: absolute;
   bottom: 0;
   height: 1rem;
   width: 100%;
   background-color: var(--third-color);
   display: flex;
   justify-content: center;
   align-items: center;
}

.hideVerseView div {
   background-color: var(--third-color);
   width: 5rem;
   height: 2.5rem;
   border-radius: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.hideVerseView.isHidden {
   bottom: -2rem;
}

.hideVerseView.isHidden > div {
   height: 2.5rem;
   rotate: 180deg;
   transform: translateY(-0.5rem);
}

.navigation {
   width: 100%;
   margin: var(--spacing-m) 0;
}
.commentaries {
   z-index: 1;
   margin-top: 25rem;
   padding-top: 18rem;
   position: relative;
   transition: all 500ms ease;
}

.commentaries.isHidden {
   margin-top: 0;
   padding-top: 5rem;
}

.shadow {
   position: absolute;
   width: 100%;
   height: 5rem;
   bottom: -5rem;
   left: 0;
   background-image: linear-gradient(-180deg, var(--primary-color), transparent);
}

.hiddenShadow {
   display: none;
}

.image {
   margin: 0 auto var(--spacing-s);
   display: block;
   width: 10rem;
   height: 10rem;
   object-position: center;
   object-fit: cover;
}
