.mainWrapper {
   width: 100%;
}

.addBtn{
position: fixed;
top:var(--spacing-m) ;
right: var(--spacing-m);
}

.verse {
   width: 100%;
   margin: 10rem auto var(--spacing-l);
}

.filter {
   width: 100%;
   margin-bottom: var(--spacing-m);
}

.commentaries {
   position: relative;
}

.shadow {
   position: absolute;
   width: 10rem;
   height: 100%;
   left: calc(100% - 10rem);
   background-image: linear-gradient(-90deg, var(--primary-color), transparent);
}
