.mainWrapper {
   width: 100%;
}

.mainWrapper > div,
.mainWrapper > div:not(first-of-type) {
   margin: var(--spacing-l) auto;
}

.mainWrapper > div:nth-child(2) {
   margin-top: calc(var(--spacing-l) * 2.8);
}
.addButton {
   position: fixed;
   top: var(--spacing-m);
   right: var(--spacing-l);
   z-index: 5;
}
