.mainWrapper {
   width: 100%;
}

.dailyVerse,
.polls {
   margin: var(--spacing-l) auto;
}

.mainWrapper > div:nth-child(2) {
   margin-top: calc(var(--spacing-l) * 2.8);
}
.addButton {
   position: fixed;
   top: var(--spacing-l);
   right: var(--spacing-xs);
   z-index: 5;
}

.filter {
   z-index: 3;
   top: 0;
   position: sticky;
   margin: 0 0 var(--spacing-l);
}
