.mainWrapper {
   padding: 0 var(--spacing-ml) var(--spacing-xs);
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
   background-color: var(--secondary-color);
   border-bottom-left-radius: 2em;
   border-bottom-right-radius: 2em;
}

.chapter {
   width: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: var(--spacing-m) 0;
   border-radius: 0.9em;
}

.chapter:hover {
   background-color: var(--third-color);
   cursor: pointer;
}
