.mainWrapper {
   width: 100%;
}

.card {
   width: 100%;
   min-height: 10rem;
   background-color: var(--secondary-color);
   padding: var(--spacing-l);
   border-radius: 2em;
   box-shadow: 0.4rem 0.4rem 0.8rem var(--shadow-color);
}

.cardWithOutActions {
   width: 100%;
   padding-bottom: var(--spacing-xs);
}

.content {
   margin: var(--spacing-m) auto var(--spacing-l);
}

.contentWithOutActions {
   margin-bottom: 0;
}

.content p {
   max-height: 13rem;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
}

.actions {
   width: 90%;
   margin: var(--spacing-l) auto 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.actions div:hover {
   transform: scale(1.1);
   cursor: pointer;
   transition: transform 300ms ease;
}

/* ---------------------- loading card --------------- */
.loadinCard .loader {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: var(--spacing-m);
}

/* ---------------------- loading card --------------- */
.loadinCard .error {
   margin-top: var(--spacing-m);
}

.buttonLink {
   background-color: transparent;
   border: none;
}

.image {
   margin: 0 auto var(--spacing-s);
   display: block;
   width: 10rem;
   height: 10rem;
   object-position: center;
   object-fit: cover;
}
