.mainWrapper {
   width: 10.5rem;
}

.mainWrapper:hover {
   cursor: pointer;
}

.card {
   width: 10.5rem;
   height: 10.5rem;
   border-radius: 2em;
   overflow: hidden;
   box-shadow: var(--shadow-s);
}

.logo {
   width: 100%;
   height: 100%;
   position: relative;
}

.logo img {
   object-fit: cover;
   object-position: center;
}

.customLogo {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card:hover {
   box-shadow: none;
   transform: scale(0.95);
   transition: transform 300ms ease;
}
