@import url("https://use.typekit.net/hir1zga.css");

:root {
   /****************************************/
   /*********** Fonts ***************/
   /**************************************/
   --primary-font-mobile: 400 1.2rem acumin-pro, sans-serif;
   --secondary-font-mobile: 700 1.41rem acumin-pro, sans-serif;
   --third-font-mobile: 300 italic 1.16rem acumin-pro, sans-serif;
   --rare-font-mobile: 700 2.83rem acumin-pro, sans-serif;
   --small-primary-font-mobile: 400 1.1rem acumin-pro, sans-serif;
   --widget-font-mobile: 300 0.8rem acumin-pro, sans-serif;
   --digit-font-mobile: 300 1rem roboto-slab, serif;
   --quotes-font: 600 normal 1.2rem poppins, sans-serif;

   /*** Desktop */
   --primary-font-desktop: 400 1.35rem acumin-pro, sans-serif;
   --secondary-font-desktop: 700 1.55rem acumin-pro, sans-serif;
   --third-font-desktop: 300 italic 1.3rem acumin-pro, sans-serif;
   --rare-font-desktop: 700 3rem acumin-pro, sans-serif;
   --small-primary-font-desktop: 400 1.22rem acumin-pro, sans-serif;
   --widget-font-desktop: 300 0.9rem acumin-pro, sans-serif;

   /****************************************/
   /*********** Line Height ***************/
   /**************************************/
   --line-heihgt: 1.8em;

   /****************************************/
   /*********** Dark Theme Colors *********/
   /**************************************/
   --primary-color: #2a2438;
   --secondary-color: #433b55;
   --third-color: #4f3b78;
   --fourth-color: #5c5470;
   --font-color: #f2f2f2;
   --graient-one: #ff9214;
   --gradient-two: #ff0045;
   --danger-color: #ec3b3b;
   --warning-color: #ecc63b;
   --proceed-color: #90d171;
   --user-trusted-level: linear-gradient(70deg, rgb(41, 106, 247), rgb(49, 234, 255));
   --shadow-color: #17151b;

   /**************** aprroval level ==========m***********/
   --aprval-level-a: rgb(91, 202, 91);
   --aprval-level-b: rgb(255, 203, 89);
   --aprval-level-c: rgb(255, 127, 7);
   --aprval-level-d: tomato;
   --aprval-level-f: rgb(207, 58, 47);

   /**************** category tags colors ==========m***********/
   /* ------ ODL ----- */
   /* --category-BLK: rgb(37, 37, 37);
   --category-BL: rgb(1, 96, 240);
   --category-BR: #9c6644;
   --category-CYN: rgb(50, 190, 167);
   --category-GRN: rgb(21, 158, 2);
   --category-OR: rgb(247, 99, 0);
   --category-PNK: rgb(255, 84, 170);
   --category-PPL: rgb(142, 54, 224);
   --category-RD: rgb(224, 0, 0);
   --category-YLW: rgb(255, 174, 0); */

   --category-BLK: rgb(37, 37, 37);
   --category-BL: #8093f1;
   --category-BR: #d3ab9e;
   --category-CYN: #55d6c2;
   --category-GRN: #6ba969;
   --category-OR: #fcab64;
   --category-PNK: #ffa6c1;
   --category-PPL: #9381ff;
   --category-RD: #dd5254;
   --category-YLW: #ffe45e;

   /**************** quotes background colors ==========m***********/
   --quote-bkg-one: linear-gradient(120deg, rgba(0, 232, 238, 1) 0%, rgba(235, 2, 2, 1) 100%);
   --quote-bkg-two: linear-gradient(120deg, rgba(255, 208, 2, 1) 0%, rgba(224, 67, 241, 1) 100%);
   --quote-bkg-three: linear-gradient(120deg, rgba(153, 2, 237, 1) 0%, rgba(10, 207, 213, 1) 100%);
   --quote-bkg-four: linear-gradient(120deg, rgba(238, 3, 3, 1) 0%, rgba(10, 125, 213, 1) 100%);
   --quote-bkg-five: linear-gradient(120deg, rgb(245, 89, 250) 0%, rgb(2, 255, 242) 100%);
   --quote-bkg-six: linear-gradient(120deg, rgba(0, 171, 22, 1) 0%, rgba(5, 188, 227, 1) 100%);
   --quote-bkg-seven: linear-gradient(120deg, rgba(37, 36, 36, 1) 0%, rgba(57, 60, 88, 1) 100%);
   --quote-bkg-eight: linear-gradient(120deg, rgba(150, 75, 0, 1) 0%, rgba(31, 0, 0, 1) 100%);
   --quote-bkg-nine: linear-gradient(120deg, rgba(3, 8, 116, 1) 0%, rgba(203, 2, 2, 1) 100%);
   --quote-bkg-ten: linear-gradient(120deg, #f57a15, #0e8fda);
   --quote-bkg-eleven: linear-gradient(120deg, #ffffff, #54befc);
   --quote-bkg-twelve: linear-gradient(120deg, #8fda18, #ffffff);
   --quote-bkg-thirteen: linear-gradient(120deg, #ffffff, #f7a0f2);
   --quote-bkg-fourteen: linear-gradient(120deg, #36322e, #8249dd);
   --quote-bkg-fifteen: linear-gradient(120deg, #ffbb00, #da0e0e);
   --quote-bkg-sixteen: linear-gradient(120deg, #06f7eb, #8cda0e);
   --quote-bkg-seventeen: linear-gradient(120deg, #0051ff, #00eeff);
   --quote-bkg-eighteen: linear-gradient(120deg, #f5cc15, #880eda);
   --quote-bkg-nineteen: linear-gradient(120deg, #f5159f, #e38ce6);

   /********** Possible second theme ******/
   --primary-color-2: #20042f;

   /****************************************/
   /*********** Spacing Specs *************/
   /**************************************/
   --xlarge-spacing-mobile: 5rem;
   --large-spacing-mobile: 3rem;
   --medium-spacing-mobile: 1.8rem;
   --small-spacing-mobile: 1.5rem;
   --xsmall-spacing-mobile: 0.8rem;

   /** Ipad */
   --xlarge-spacing-ipad: 5.4rem;
   --large-spacing-ipad: 3.3rem;
   --medium-spacing-ipad: 2rem;
   --small-spacing-ipad: 1.7rem;
   --xsmall-spacing-ipad: 0.9rem;

   /*** Desktop */
   --xlarge-spacing-desktop: 5.6rem;
   --large-spacing-desktop: 3.5rem;
   --medium-spacing-desktop: 2.2rem;
   --small-spacing-desktop: 1.9rem;
   --xsmall-spacing-desktop: 1rem;

   /****************************************/
   /*********** Main Wrapper *************/
   /**************************************/
   --main-wrapper-mobile: 92%;
   --max-width-main-wrapper-mobile: 500px;

   /* Desktop */
   --max-width-main-wrapper-desktop: 1000px;

   /****************************************/
   /*********** button sizing *************/
   /**************************************/
   --button-padding-mobile: 0.5rem 0;
   --button-width-mobile: 9rem;
   --button-radius-mobile: 0.5rem;

   /*** Desktop */
   --button-padding-desktop: 0.6rem 0;
   --button-width-desktop: 11rem;
   --button-radius-desktop: 0.6rem;

   /****************************************/
   /*********** Input Dimmensions *********/
   /**************************************/
   --input-width-mobile: 19rem;
   --input-height-mobile: 3.1rem;
   --input-padding-mobile: 0.5rem;
   --input-radius-mobile: 0.5rem;

   /*** Desktop */
   --input-width-desktop: 22rem;
   --input-height-desktop: 3.8rem;
   --input-padding-desktop: 0.6rem;
   --input-radius-desktop: 0.7rem;

   /****************************************/
   /*********** Break ********************/
   /**************************************/
   --ipad-break: 600px;
   --laptop-break: 800px;
   --desktop-break: 1050px;
}

html,
body {
   padding: 0;
   margin: 0;
   font: var(--primary-font-mobile);
   color: var(--font-color);
   background-color: var(--primary-color);
}
*::-webkit-scrollbar {
   display: none;
}

a,
a:visited,
a:active {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
   border: none;
   scrollbar-width: none;
}

.wrap-flex-row {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.nowrap-flex-column {
   width: 100%;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   flex-wrap: nowrap;
}

.main-wrapper {
   position: relative;
   width: var(--main-wrapper-mobile);
   max-width: var(--max-width-main-wrapper-mobile);
   margin: auto;
   top: 0;
   left: 0;
}

/* Standards */
.std-input {
   width: 100%;
   max-width: var(--input-width-mobile);
   height: var(--input-heihgt-mobile);
   padding: var(--input-padding-mobile);
   margin: var(--medium-spacing-mobile) auto 0;
   font: var(--primary-font-mobile-mobile);
   background-color: var(--secondary-color);
   color: var(--font-color);
   border-radius: var(--input-radius-mobile);
}

.std-input::placeholder {
   color: #f2f2f27a;
}

.std-input:focus {
   outline: none;
}

.std-input--radio {
   display: none;
   position: absolute;
}

.std-button,
.std-button--clear,
.std-button--warning,
.std-button--danger {
   display: block;
   width: var(--button-width-mobile);
   padding: var(--button-padding-mobile);
   color: var(--font-color-mobile);
   background-color: var(--third-color);
   text-align: center;
   border-radius: var(--button-radius-mobile);
   margin: var(--medium-spacing-mobile) auto;
   transition: background-color 300ms ease-in;
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(32, 0, 58, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(185, 128, 211, 0.3);
}

.std-button_gradient-text {
   background-image: linear-gradient(45deg, #ff9214ed, #ff0045);
   background-size: 100%;
   background-repeat: repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
   font: var(--primary-font-mobile);
   text-align: center;
   padding: 0;
   margin: 0;
}

.std-button_gradient-text:hover {
   cursor: pointer;
}
.std-button--no-margin {
   margin: 0 auto;
}
.std-button--clear {
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(56, 56, 56, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(217, 209, 221, 0.8);
   background-color: var(--font-color);
   color: var(--primary-color);
}

.std-button--warning {
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(105, 2, 2, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(255, 237, 155, 0.8);
   background-color: var(--warning-color);
}

.std-button--danger {
   box-shadow: inset 1.5px 1.5px 3px 3px rgba(105, 2, 2, 0.3),
      inset -1.5px -1.5px 3px 2px rgba(255, 102, 102, 0.8);
   background-color: var(--danger-color);
}

.std-button--warning p,
.std-button--danger p {
   font: var(--primary-font-mobile);
   margin: 0;
}
.std-button:hover {
   background-color: var(--fourth-color);
   cursor: pointer;
}

.std-button--clear:hover {
   background-color: #c5c2c2;
   cursor: pointer;
}
.std-button--warning:hover {
   background-color: #f5e266;
   cursor: pointer;
}
.std-button--danger:hover {
   background-color: #ef5345;
   cursor: pointer;
}

.std-text-block,
.std-text-block--info,
.std-text-block--small-title,
.std-text-block--widget {
   margin: var(--medium-spacing-mobile) auto;
   width: 100%;
   display: block;
   color: var(--font-color);
   font: var(--primary-font-mobile);
   text-align: center;
}

.std-text-block--info,
.std-text-block--warning,
.std-text-block--danger {
   font: var(--third-font-mobile);
   margin: var(--xsmall-spacing-mobile) auto;
}

.std-text-block--warning {
   color: var(--warning-color);
}

.std-text-block--danger {
   color: var(--danger-color);
}

.std-text-block--small-title {
   font: var(--secondary-font-mobile);
}

.std-text-block--digit {
   margin: var(--small-spacing-mobile) auto;
   width: 100%;
   display: block;
   color: var(--font-color);
   font: var(--digit-font-mobile);
   text-align: center;
}

.std-text-block--widget {
   font: var(--widget-font-mobile);
   margin: var(--xsmall-spacing-mobile) auto;
}

.std-text-block--no-margin {
   margin: 0 auto;
}

.std-block {
   margin: var(--medium-spacing-mobile) auto;
   display: block;
}

.std-url,
.std-url:visited {
   font: var(--third-font-mobile);
   color: var(--graient-one);
}

.no-content-text {
   color: var(--secondary-color);
   width: 100%;
   text-align: center;
   margin: 10rem auto 0;
}

.std-logo {
   width: 3.12rem;
   height: 3.12rem;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.std-text-area {
   width: 100%;
   min-height: 6.25rem;
   max-height: 20rem;
   background-color: var(--secondary-color);
   border-radius: var(--input-radius-mobile);
   margin: var(--medium-spacing-mobile) auto;
   font: var(--primary-font-mobile);
   color: var(--font-color);
   padding: var(--input-padding-mobile);
   resize: none;
   overflow-y: scroll;
}

.std-text-area::placeholder {
   color: #f2f2f27a;
}

.std-text-area:focus {
   outline: none;
}

.std-error-msg {
   width: 90%;
   border-radius: var(--input-radius-mobile);
   margin: var(--medium-spacing-mobile) auto;
   padding: var(--xsmall-spacing-mobile);
   background-color: var(--danger-color);
}

.small-spacer {
   width: 100%;
   height: var(--small-spacing-mobile);
}

.medium-spacer {
   width: 100%;
   height: var(--medium-spacing-mobile);
}

.large-spacer {
   width: 100%;
   height: var(--xlarge-spacing-mobile);
}
.x-large-spacer {
   width: 100%;
   height: calc(2rem + var(--xlarge-spacing-mobile));
}

.header {
   width: 100vw;
   height: 3rem;
   padding: 0 var(--xsmall-spacing-mobile) var(--xsmall-spacing-mobile);
   background-color: var(--third-color);
   position: fixed;
   top: 0;
   left: 0;
   display: grid;
   grid-template-columns: 20% 50% 15% 15%;
   grid-template-rows: 1fr;
   z-index: 10;
}

.header > * {
   display: flex;
   align-items: center;
   justify-content: center;
}
.header-logo-wrapper {
   padding-top: 0.5rem;
   grid-column: 1/2;
   grid-row: 1/2;
}

.header-logo-wrapper a {
   width: 2rem;
   height: 2rem;
   display: block;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("/images/logo.png");
}

.header-curr-page {
   grid-column: 2/3;
   grid-row: 1/2;
   width: 100%;
   text-align: center;
   overflow-x: scroll;
   display: block;
   margin: 0;
}

.new-post-trigger,
.go-pro-button {
   grid-column: 3/4;
   grid-row: 1/2;
   background-image: url("/images/icons/plus.svg");
   width: 1.5rem;
   height: 1.5rem;
   background-size: cover;
   background-position: center;
   margin: auto;
   cursor: pointer;
}
.go-pro-button {
   grid-column: 4/5;
   grid-row: 1/2;
   width: 1.5rem;
   height: 1.5rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: transparent;
   background-image: url("/images/icons/hearts.svg");
}

.go-pro-button:hover {
   transform: scale(1.2);
   transition: transform 300ms ease-in;
}

.header-title,
.header-curr-page {
   font: var(--secondary-font-mobile);
   color: var(--font-color);
   font-size: 1.3rem;
}

.std-vector-icon {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 1.5rem;
   height: 1.5rem;
}

.full-cover-bkg {
   position: fixed;
   top: 0;
   left: 0;
   margin: 0;
   width: 100vw;
   height: 100vh;
   background-color: var(--primary-color);
   z-index: 16;
   overflow-y: scroll;
}

.closeModal,
.goBack {
   width: 2rem;
   height: 2rem;
   border: 1px solid var(--font-color);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font: var(--secondary-font-mobile);
   font-size: 1rem;
   position: absolute;
   top: var(--small-spacing-mobile);
   right: var(--small-spacing-mobile);
   transition: 300ms ease-in;
}

.dark-bkg {
   background-color: var(--primary-color);
   width: 100vw;
   height: 100vh;
   z-index: 16;
   top: 0;
   left: 0;
   position: fixed;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
   overflow-y: scroll;
}

.dark-bkg_content-holder {
   width: 90%;
   max-width: 800px;
   margin: var(--medium-spacing-mobile) 0;
   overflow: scroll;
}

.closeModal:hover,
.goBack:hover {
   cursor: pointer;
   background-color: var(--font-color);
   color: var(--fourth-color);
}

.goBack {
   left: var(--small-spacing-mobile);
   font: var(--widget-font-mobile);
   display: block;
   background-size: 60%;
   background-position: center;
   border-radius: 50%;
   border: 1px solid var(--font-color);
   background-image: url("/images/icons/back.svg");
   background-repeat: no-repeat;
}

/* Notification Modal */
.notification-wrapper {
   position: fixed;
   width: 90%;
   top: 1rem;
   left: 0;
   right: 0;
   margin: var(--small-spacing-mobile) auto;
   max-width: var(--max-width-main-wrapper-mobile);
   background-color: var(--fourth-color);
   z-index: 17;
   padding: 0.8rem;
   border-radius: var(--button-radius-mobile);
   text-align: left;
}

.notification-wrapper .closeModal {
   top: 0.8rem;
   right: 0.8rem;
   z-index: 11;
}

.notification-wrapper_title {
   font: var(--secondary-font-mobile);
   font-size: 1rem;
}

.notification-wrapper_content {
   font: var(--widget-font-mobile);
   max-height: 8rem;
   overflow-y: scroll;
}

.notification-wrapper--Black {
   background-color: var(--category-BLK);
}

/* Tag Color Notification  */
.notification-wrapper--Blue {
   background-color: var(--category-BL);
   color: var(--primary-color);
}

.notification-wrapper--Brown {
   background-color: var(--category-BR);
   color: var(--primary-color);
}

.notification-wrapper--Cyan {
   background-color: var(--category-CYN);
   color: var(--primary-color);
}

.notification-wrapper--Green {
   background-color: var(--category-GRN);
}

.notification-wrapper--Orange {
   background-color: var(--category-OR);
   color: var(--primary-color);
}

.notification-wrapper--Pink {
   background-color: var(--category-PNK);
   color: var(--primary-color);
}

.notification-wrapper--Purple {
   background-color: var(--category-PPL);
}

.notification-wrapper--Red {
   background-color: var(--category-RD);
}

.notification-wrapper--Yellow {
   background-color: var(--category-YLW);
   color: var(--primary-color);
}

.notification-wrapper--Yellow .closeModal {
   border-color: var(--primary-color);
}

.notification-wrapper--Yellow .closeModal:hover {
   background-color: rgba(32, 0, 58, 0.3);
}

/* Message notifications */
.notification-wrapper--Success {
   background-color: var(--proceed-color);
}

.notification-wrapper--Success > * {
   color: var(--primary-color);
}
/* this DIV is the close modal button */
.notification-wrapper--Success > div {
   border-color: var(--primary-color);
}

.notification-wrapper--Success > div:hover {
   background-color: var(--primary-color);
   opacity: 0.5;
}

.notification-wrapper--Error {
   background-color: var(--danger-color);
}

.notification-wrapper--Error > p {
   color: var(--font-color) !important;
}

/* ScripturesHTML Styles for popup references */

.c /*chapter*/ {
   color: var(--graient-one);
}
.s1 /*subtitle*/ {
   color: var(--graient-one);
   font: var(--secondary-font-mobile);
}

.v /*verse*/ {
   color: var(--graient-one);
   margin: 0 0.3rem 0 0;
}

.fr /*reference*/ {
   font-size: 0.6em;
   color: var(--gradient-two);

   display: inline-block;
   margin: 0 0.3rem 0 0.5rem;
   position: relative;
   top: -0.5rem;
   text-align: center;
   display: inline-block;
}

.ft /*reference text*/ {
   font-size: 0.8em;
   font-style: italic;
}

.scriptures-copyright {
   font: var(--third-font-mobile);
   font-size: 0.7rem;
   color: rgba(255, 255, 255, 0.6);
}
/* .verse-span {
   display: block; 
} */

/******************** category tags colors *********************/
#category-BLK {
   background-color: var(--category-BLK);
}

#category-BR {
   background-color: var(--category-BR);
}

#category-BL {
   background-color: var(--category-BL);
}

#category-CYN {
   background-color: var(--category-CYN);
}

#category-GRN {
   background-color: var(--category-GRN);
}

#category-OR {
   background-color: var(--category-OR);
}

#category-PNK {
   background-color: var(--category-PNK);
}

#category-PPL {
   background-color: var(--category-PPL);
}

#category-RD {
   background-color: var(--category-RD);
}

#category-YLW {
   background-color: var(--category-YLW);
}

/* ------------------ Beta Styles ------------------ */
.beta-header {
   font: var(--secondary-font-mobile);
   color: #ffd900;
   position: fixed;
   top: -1rem;
   right: 0.5rem;
   z-index: 20;
}

@media only screen and (min-width: 800px) {
   .main-wrapper {
      max-width: 1000px;
   }

   .closeModal,
   .goBack {
      top: var(--large-spacing-ipad);
      right: var(--large-spacing-ipad);
   }

   .dark-bkg_content-holder {
      max-width: var(--max-width-main-wrapper-desktop);
   }
   .goBack {
      left: var(--medium-spacing-ipad);
   }
}

@media only screen and (min-width: 1000px) {
   body {
      font: var(--primary-font-desktop);
   }

   .header {
      height: 4rem;
      padding: 0 0 var(--xsmall-spacing-desktop);
   }

   .header-logo-wrapper {
      padding-top: var(--xsmall-spacing-mobile);
   }

   .header > div {
      height: 2.5rem;
   }

   .header-title,
   .header-curr-page {
      padding-top: var(--xsmall-spacing-mobile);
      font: var(--secondary-font-desktop);
   }

   .main-wrapper {
      max-width: 1000px;
   }

   /** Standards **/

   .std-button,
   .std-button--clear {
      width: var(--button-width-desktop);
      padding: var(--button-padding-desktop);
      border-radius: var(--button-radius-desktop);
      margin: var(--medium-spacing-desktop) auto;
   }

   .std-button_gradient-text {
      font: var(--primary-font-desktop);
   }

   .std-text-block,
   .std-text-block--info,
   .std-text-block--small-title,
   .std-text-block--widget {
      margin: var(--medium-spacing-desktop) auto;
      font: var(--primary-font-desktop);
   }

   .std-text-block--info {
      font: var(--third-font-desktop);
      margin: var(--xsmall-spacing-desktop) auto;
   }

   .std-text-block--small-title {
      font: var(--secondary-font-desktop);
   }

   .std-text-block--digit {
      margin: var(--small-spacing-mobile) auto;
      width: 100%;
      display: block;
      color: var(--font-color);
      font: var(--digit-font-mobile);
      text-align: center;
   }

   .std-text-block--widget {
      font: var(--widget-font-desktop);
      margin: var(--xsmall-spacing-desktop) auto;
   }

   .std-block {
      margin: var(--medium-spacing-desktop) auto;
      display: block;
   }

   .std-text-block--no-margin {
      margin: 0 auto;
   }

   .std-vector-icon {
      background-position: center;
      background-size: cover;
      width: 1.8rem;
      height: 1.8rem;
   }

   .std-text-area {
      max-height: 25rem;
      min-height: 10rem;
   }

   .std-error-msg {
      border-radius: var(--input-radius-desktop);
      margin: var(--medium-spacing-desktop) auto;
      padding: var(--xsmall-spacing-desktop);
   }

   /* -------- card looks too big on desktop so i commented this out to make it smaller */
   /* Notification Wrapper */
   /* .notification-wrapper {
      max-width: 650px;
   } */

   /* .notification-wrapper_title {
      font: var(--secondary-font-desktop);
   } */

   .notification-wrapper_content {
      font: var(--widget-font-desktop);
   }
   .closeModal,
   .goBack {
      top: var(--large-spacing-desktop);
      right: var(--large-spacing-desktop);
   }

   .goBack {
      left: var(--medium-spacing-desktop);
   }

   .new-post-trigger,
   .go-pro-button {
      width: 1.8rem;
      height: 1.8rem;
      margin-top: var(--xsmall-spacing-desktop);
   }
}
