/* @import url("https://use.typekit.net/hir1zga.css"); */
@import url("https://use.typekit.net/naw5ypw.css");

/* --------------- lset up fonts ---------- */
/* Open Sans regular */
@font-face {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
   src: local(""),
      url("../public/fonts/Open_Sans/open-sans-v29-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../public/fonts/Open_Sans/open-sans-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin */
@font-face {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 500;
   src: local(""), url("../public/fonts/Open_Sans/open-sans-v29-latin-500.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../public/fonts/Open_Sans/open-sans-v29-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Open Sans 700 */
@font-face {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 700;
   src: local(""), url("../public/fonts/Open_Sans/open-sans-v29-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../public/fonts/Open_Sans/open-sans-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Open Sans 800 */
@font-face {
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 800;
   src: local(""), url("../public/fonts/Open_Sans/open-sans-v29-latin-800.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../public/fonts/Open_Sans/open-sans-v29-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Open Sans 400 --italic */
@font-face {
   font-family: "Open Sans";
   font-style: italic;
   font-weight: 400;
   src: local(""), url("../public/fonts/Open_Sans/open-sans-v29-latin-italic.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../public/fonts/Open_Sans/open-sans-v29-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Open Sans 500 --italic */
@font-face {
   font-family: "Open Sans";
   font-style: italic;
   font-weight: 500;
   src: local(""),
      url("../public/fonts/Open_Sans/open-sans-v29-latin-500italic.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../public/fonts/Open_Sans/open-sans-v29-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Open Sans 700 --italic */
@font-face {
   font-family: "Open Sans";
   font-style: italic;
   font-weight: 700;
   src: local(""),
      url("../public/fonts/Open_Sans/open-sans-v29-latin-700italic.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../public/fonts/Open_Sans/open-sans-v29-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Open Sans 800 --italic */
@font-face {
   font-family: "Open Sans";
   font-style: italic;
   font-weight: 800;
   src: local(""),
      url("../public/fonts/Open_Sans/open-sans-v29-latin-800italic.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../public/fonts/Open_Sans/open-sans-v29-latin-800italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
   /* --------------- font ---------- */
   --primary-font: "Open Sans", sans-serif;
   --quote-font--1: rumba-extra, sans-serif; /*400*/
   --quote-font--2: coniferous, sans-serif; /*600*/
   --quote-font--3: rough-love, sans-serif; /*400*/
   --quote-font--4: emily-austin, sans-serif; /*400*/

   --line-height: 1.6em;

   --fs-xxsmall: 1rem;
   --fs-xsmall: 1.2rem;
   --fs-small: 1.4rem;
   --fs-main: 1.6rem;
   --fs-large: 1.8rem;
   --fs-xlarge: 2rem;
   --fs-xxlarge: 2.5rem;
   --fs-xxxlarge: 3rem;

   /* --------------- dark mode colors ---------- */
   --primary-color: #2a2438;
   --primary-color: #1e1a29; /* OPTION B */
   --secondary-color: #38304b;
   --secondary-color: #2f293f; /*OPTION B */
   --third-color: #5c5470;
   --third-color: #685795; /* OPTION B */
   --third-color: #574c6d; /* OPTION C */
   --gradient-1--dark: #7350ec;
   --gradient-1--light: #b293fe;
   --gradient-2--dark: #ff3269;
   --gradient-2--light: #ff8655;
   --font-color: #f1eaff;
   --font-color-darker: #ff89a9;
   --danger-color: #ff4d62;
   --warning-color: #e9d259;
   --safe-color: #7fdc7d;
   --rating-star-dark: #fca101;
   --rating-star-light: #ffe600;
   --shadow-color: #1a1723;

   /* --------------- reading modal ---------- */
   --reading-modal-1--dark: #2b2b2a;
   --reading-modal-1--light: #fefffe;
   --reading-modal-2--dark: #050825;
   --reading-modal-2--light: #7c87cf;
   --reading-modal-3--dark: #2a2438;
   --reading-modal-3--light: #f1eaff;
   --reading-modal-4--light: #f3def0;
   --reading-modal-4--dark: #1f021b;

   /* --------------- approval level ---------- */
   --rating-level-a: #75d975;
   --rating-level-b: #b3eeb3;
   --rating-level-c: #ebcf5e;
   --rating-level-d: #f4745e;
   --rating-level-f: #db4c42;
   --rating-level-nr: #f1eaff;

   /* --------------- category colors ---------- */
   --category-BLK: #252525;
   --category-BL: #8093f1;
   --category-BR: #d3ab9e;
   --category-CYN: #55d6c2;
   --category-GRN: #a1df9f;
   --category-OR: #fcab64;
   --category-PNK: #ffa6c1;
   --category-PPL: #9381ff;
   --category-RD: #dd5254;
   --category-YLW: #ffed91;

   /* --------------- content backgrounds ---------- */
   --content-bkg-1: linear-gradient(120deg, #00e8ee, #eb0202);
   --content-bkg-2: linear-gradient(120deg, #ffd002, #e043f1);
   --content-bkg-3: linear-gradient(120deg, #9902ed, #0acfd5);
   --content-bkg-4: linear-gradient(120deg, #ee0303, #0a7dd5);
   --content-bkg-5: linear-gradient(120deg, #f559fa, #02fff2);
   --content-bkg-6: linear-gradient(120deg, #00ab16, #05bce3);
   --content-bkg-7: linear-gradient(120deg, #252424, #393c58);
   --content-bkg-8: linear-gradient(120deg, #964b00, #1f0000);
   --content-bkg-9: linear-gradient(120deg, #030874, #cb0202);
   --content-bkg-10: linear-gradient(120deg, #f57a15, #0e8fda);
   --content-bkg-11: linear-gradient(120deg, #ffffff, #54befc);
   --content-bkg-12: linear-gradient(120deg, #8fda18, #ffffff);
   --content-bkg-13: linear-gradient(120deg, #ffffff, #f7a0f2);
   --content-bkg-14: linear-gradient(120deg, #36322e, #8249dd);
   --content-bkg-15: linear-gradient(120deg, #ffbb00, #da0e0e);
   --content-bkg-16: linear-gradient(120deg, #06f7eb, #8cda0e);
   --content-bkg-17: linear-gradient(120deg, #0051ff, #00eeff);
   --content-bkg-18: linear-gradient(120deg, #f5cc15, #880eda);
   --content-bkg-19: linear-gradient(120deg, #f5159f, #e38ce6);
   --content-bkg-20: linear-gradient(120deg, #ffe397, #d8b0f9);

   /* --------------- Possible second theme ---------- */
   --primary-color-2: #20042f;

   /* --------------- spacings ---------- */
   --spacing-xxs: 0.5rem; /*-- ex: padding btw elements in small components like cards*/
   --spacing-xs: 1rem; /*--  ex: padding btw elements in small components like cards*/
   --spacing-s: 1.5rem; /*-- ex: padding on top and bottom parent contnent like cards */
   --spacing-m: 2rem; /*-- ex: marign between components */
   --spacing-ml: 2.5rem; /*-- ex: padding on some components like the bible_chapter_picker */
   --spacing-l: 3rem; /*-- ex: spacing between sections */

   /* --------------- main wrappers ---------- */
   --global-wrapper-width: 94%;
   --main-wrapper-max-width: 500px;

   /* --------------- nested variables ------- */
   --shadow-s: 4px 4px 4px var(--shadow-color);
   --shadow-s--light: 4px 4px 4px var(--font-color);

   /* --------------- size breaks ---------- */
   --ipad-break: 600px;
   --laptop-break: 800px;
   --desktop-break: 1050px;
}

html,
body {
   padding: 0;
   margin: 0;
   font: var((--primary-font));
   color: var(--font-color);
   background-color: var(--primary-color);
}

html {
   font-size: 10px;
}
*::-webkit-scrollbar {
   display: none;
}

a,
a:visited,
a:active {
   /* color: inherit; */
   text-decoration: none;
}

* {
   box-sizing: border-box;
   border: none;
   scrollbar-width: none;
}

.flex-row,
.flex-row-wrap,
.flex-column-wrap,
.flex-column-wrap {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.flex-column {
   flex-direction: column;
}

.flex-row-wrap {
   flex-wrap: wrap;
}

.flex-column-wrap {
   flex-direction: column;
}

.shadow-s {
   box-shadow: 4px 4px 4px var(--shadow-color);
}

/*  -------------- margins --------------- */
.m-xxs {
   margin: var(--spacing-xxs);
}

.m-xs {
   margin: var(--spacing-xs);
}

.m-s {
   margin: var(--spacing-s);
}

.m-m {
   margin: var(--spacing-m);
}

.m-ml {
   margin: var(--spacing-ml);
}

.m-l {
   margin: var(--spacing-l);
}

/*  -------------- margin top --------------- */
.mt-xxs {
   margin-top: var(--spacing-xxs);
}

.mt-xs {
   margin-top: var(--spacing-xs);
}

.mt-s {
   margin-top: var(--spacing-s);
}

.mt-m {
   margin-top: var(--spacing-m);
}

.mt-ml {
   margin-top: var(--spacing-ml);
}

.mt-l {
   margin-top: var(--spacing-l);
}

/*  -------------- margin bottom --------------- */
.mb-xxs {
   margin-bottom: var(--spacing-xxs);
}

.mb-xs {
   margin-bottom: var(--spacing-xs);
}

.mb-s {
   margin-bottom: var(--spacing-s);
}

.mb-m {
   margin-bottom: var(--spacing-m);
}

.mb-ml {
   margin-bottom: var(--spacing-ml);
}

.mb-l {
   margin-bottom: var(--spacing-ml);
}

/*  -------------- margin left --------------- */
.ml-xxs {
   margin-left: var(--spacing-xxs);
}

.ml-xs {
   margin-left: var(--spacing-xs);
}

.ml-s {
   margin-left: var(--spacing-s);
}

.ml-m {
   margin-left: var(--spacing-m);
}

.ml-ml {
   margin-left: var(--spacing-ml);
}

.ml-l {
   margin-left: var(--spacing-l);
}

/*  -------------- margin right --------------- */
.mr-xxs {
   margin-right: var(--spacing-xxs);
}

.mr-xs {
   margin-right: var(--spacing-xs);
}

.mr-s {
   margin-right: var(--spacing-s);
}

.mr-m {
   margin-right: var(--spacing-m);
}

.mr-ml {
   margin-right: var(--spacing-ml);
}

.mr-l {
   margin-right: var(--spacing-l);
}

.spacer--xxs {
   width: 100%;
   height: var(--spacing-xxs);
}

.spacer--xs {
   width: 100%;
   height: var(--spacing-xs);
}

.spacer--s {
   width: 100%;
   height: var(--spacing-s);
}

.spacer--m {
   width: 100%;
   height: var(--spacing-m);
}

.spacer--ml {
   width: 100%;
   height: var(--spacing-ml);
}

.spacer--l {
   width: 100%;
   height: var(--spacing-l);
}

.spacer-page-bottom {
   width: 100%;
   height: calc(5rem + var(--spacing-m)); /*navigation height + margin*/
}
/* --------------- ScripturesHTML Styles for popup references */

.c /*chapter*/ {
   color: var(--gradient-1--dark);
}
.s1 /*subtitle*/ {
   color: var(--gradient-1--dark);
   font: var(--secondary-font-mobile);
}

.v /*verse*/ {
   color: var(--gradient-1--dark);
   margin: 0 0.3rem 0 0;
}

.fr /*reference*/ {
   font-size: 0.6em;
   color: var(--gradient-1--light);

   display: inline-block;
   margin: 0 0.3rem 0 0.5rem;
   position: relative;
   top: -0.5rem;
   text-align: center;
   display: inline-block;
}

.ft /*reference text*/ {
   font-size: 0.8em;
   font-style: italic;
}

.scriptures-copyright {
   font: var(--third-font-mobile);
   font-size: 0.7rem;
   color: rgba(255, 255, 255, 0.6);
}

/* ---------------  category tags colors ----------------- */
#category-BLK {
   background-color: var(--category-BLK);
}

#category-BR {
   background-color: var(--category-BR);
}

#category-BL {
   background-color: var(--category-BL);
}

#category-CYN {
   background-color: var(--category-CYN);
}

#category-GRN {
   background-color: var(--category-GRN);
}

#category-OR {
   background-color: var(--category-OR);
}

#category-PNK {
   background-color: var(--category-PNK);
}

#category-PPL {
   background-color: var(--category-PPL);
}

#category-RD {
   background-color: var(--category-RD);
}

#category-YLW {
   background-color: var(--category-YLW);
}

/*  --------------------- quote backgrounds -------------------- */
#quote-bkg--0 {
   /* default */
   background-image: var(--primary-color);
}

#quote-bkg--1 {
   background-image: var(--content-bkg-1);
}

#quote-bkg--2 {
   background-image: var(--content-bkg-2);
}

#quote-bkg--3 {
   background-image: var(--content-bkg-3);
}

#quote-bkg--4 {
   background-image: var(--content-bkg-4);
}

#quote-bkg--5 {
   background-image: var(--content-bkg-5);
}

#quote-bkg--6 {
   background-image: var(--content-bkg-6);
}

#quote-bkg--7 {
   background-image: var(--content-bkg-7);
}

#quote-bkg--8 {
   background-image: var(--content-bkg-8);
}

#quote-bkg--9 {
   background-image: var(--content-bkg-9);
}

#quote-bkg--10 {
   background-image: var(--content-bkg-10);
}

#quote-bkg--11 {
   background-image: var(--content-bkg-11);
}

#quote-bkg--12 {
   background-image: var(--content-bkg-12);
}

#quote-bkg--13 {
   background-image: var(--content-bkg-13);
}

#quote-bkg--14 {
   background-image: var(--content-bkg-14);
}

#quote-bkg--15 {
   background-image: var(--content-bkg-15);
}

#quote-bkg--16 {
   background-image: var(--content-bkg-16);
}

#quote-bkg--17 {
   background-image: var(--content-bkg-17);
}

#quote-bkg--18 {
   background-image: var(--content-bkg-18);
}

#quote-bkg--19 {
   background-image: var(--content-bkg-19);
}

#quote-bkg--20 {
   background-image: var(--content-bkg-20);
}

/* content ratings */

.rating-level-nr {
   background-color: var(--third-color);
}

.rating-level-a {
   background-color: var(--rating-level-a);
}

.rating-level-b {
   background-color: var(--rating-level-b);
}

.rating-level-c {
   background-color: var(--rating-level-c);
}

.rating-level-d {
   background-color: var(--rating-level-d);
}

.rating-level-f {
   background-color: var(--rating-level-f);
}
