
.mainWrapper{
    width: 100%;
    overflow: hidden;
    padding: .4rem 0 .4rem .2rem;
}

.subOptionsWrapper, .subOptionsWrapperCustom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: var(--spacing-s) var(--spacing-m) 0 var(--spacing-l)
}

.subOptionsWrapperCustom {
    overflow-x: scroll;
}

.subOptionsWrapper > div:nth-child(2) {
    margin-left: var(--spacing-s);
}

.subOptionsWrapper > div:nth-child(3) {
    margin-left: var(--spacing-m);
}

.subOptionsWrapperCustom > div{
    margin-right: var(--spacing-m);

}

.subOptionsWrapperCustom > div:hover, .subOptionsWrapper > div:nth-child(2):hover, .subOptionsWrapper > div:nth-child(3):hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
}
