.mainWrapper{
    width: 100%;
}

.mainWrapper button {
    padding: var(--spacing-xs) calc(var(--spacing-l) + var(--spacing-l)) var(--spacing-xs) var(--spacing-s) ;
    border-radius: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}

.icon {
    margin-right: var(--spacing-l);
}

.primary {
    background-image: linear-gradient(-10deg, var(--gradient-1--light), var(--gradient-1--dark));
}

.secondary {
    background-image: linear-gradient(-10deg, var(--gradient-2--light), var(--gradient-2--dark));
}

.mainWrapper button:hover {
    cursor: pointer;
    transform: scale(.95);
    transition: transform 300ms ease;
}