.loaderWrapper {
   position: relative;
   width: 5rem;
   height: 5rem;
   display: inline-block;
   margin: 0;
}

.loaderWrapperCustomSize {
   position: relative;
   width: 100%;
   height: 100%;
}

.loader {
   position: absolute;
   height: 100%;
   width: 100%;
   border-radius: 100%;
   border: 3px solid var(--gradient-1--light);
   margin: 0;
   top: 0;
   left: 0;
   -webkit-animation: loader 3s linear infinite;
   animation: loader 3s linear infinite;
}

.loader:after {
   content: "";
   position: absolute;
   top: -5px;
   left: 20px;
   width: 25%;
   height: 25%;
   border-radius: 100%;
   background-color: var(--gradient-1--dark);
}

@-webkit-keyframes loader {
   0% {
      -webkit-transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes loader {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
