.mainWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
}

.inline {
   width: 3rem;
   display: flex;
}

.loader {
   margin: 0;
   width: 100%;
   text-align: center;
   display: inline-block;
   vertical-align: top;
}

/*
  Set the color of the icon
*/
/* .svg path,
.svg rect:nth-child(1),
.svg rect:nth-child(3) {
   fill: var(--gradient-1--dark);
}

.svg rect:nth-child(2) {
   fill: var(--gradient-1--light);
} */
