.chaptersWrapper {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
}

.chaptersWrapper div {
   flex-shrink: 0;
}

.title {
   width: 100%;
   text-align: center;
   font: var(--secondary-font-mobile);
   color: var(--graient-one);
   margin: calc(var(--medium-spacing-mobile) + 1rem) auto var(--small-spacing-mobile);
}
