.mainWrapper {
   width: 100%;
   max-width: 15rem;
   height: 16rem;
   border-radius: var(--input-radius-mobile);
   margin: var(--small-spacing-mobile);
   overflow: hidden;
}

.mainWrapper:hover {
   cursor: pointer;
   border: 0.2rem solid var(--fourth-color);
}

.header,
.footer {
   height: 3rem;
   width: 100%;
   background-color: var(--secondary-color);
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-left: var(--medium-spacing-mobile);
}

.bkg {
   width: 100%;
   height: 10rem;
   background-position: center;
   background-size: cover;
}

.footer p {
   text-align: left;
}
